body {
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  margin-top: auto;
}


.imgSize {
  position: absolute;
  top: 30%;
  left: 10%;
}

.home_page {
  top: 0px;
  width: 100%;
  height: 8.7%;
  font-size: 18px;
  font-weight: bolder;
  background-color: #ffb906cf;
  text-align: center;
  margin: 0px auto;
  /* 置中*/
  padding-top: 8px;
  line-height: 40px;
  /*配合高度px 垂直置中*/
  position: fixed;
  z-index: 98;
}


.arrorw {
  width: 50px;
  height: 10px;
}

.translet {
  position: relative;
  left: 40%;
  width: 75px;
  height: 40px;
  background-color: blue;
  color: white;
}

.cambtn {
  position: relative;
  margin-top: 4%;
  margin-left: 10%;
  width: 100px;
  height: 40px;
  border-radius: 20%;
  background-color: rgb(252, 103, 5);
  color: white;
  font-family: Microsoft JhengHei;
}

.colbtn {
  position: relative;
  text-align: center;
  margin-top: 5%;
  margin-left: 1%;
  width: 100px;
  height: 40px;
  border-radius: 20%;
  background-color: rgb(252, 103, 5);
  color: white;
  font-family: Microsoft JhengHei;
}

.capture {
  position: absolute;
  top: 40%;
}



img#AnsImg {
  visibility: hidden;
  position: absolute;
  border-style: double;
  padding: 5px;
  border-width: 10px;
  top: 26%;
  left: 5%;
}

#show_page::-webkit-scrollbar {
  display: none;
}

#show_page {
  position: absolute;
  top: 0;
  left: 20%;
  z-index: 1;
  width: 100%;
  height: calc(100% - 62px);
  overflow-y: scroll;
  padding: 2%;
  box-sizing: border-box;
}



#capture {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 80%;
  left: 45%;
  background-color: rgb(150, 212, 231);
  font-family: Microsoft JhengHei;
  border-radius: 50%;
}



#vocChk {
  position: relative;
  top: 5%;
  left: 5%;
  padding: 10px;
  visibility: hidden;

}

#close {
  position: absolute;
  width: auto;
  height: auto;
  top: 10px;
  right: 10px;
  cursor: pointer;

}

#fruitchk {
  position: relative;
  top: 8%;
  left: 5%;
  padding: 10px;
  visibility: hidden;

}





/* 語音按按鈕動畫 */
.voice-btn{
  /* width: auto; */
  height: 50px;
  font-size: 24px; 
  /* padding-top: 10px;  */
  display: block;
  /* margin-left: 20%; */
  margin-right: 3%; 
  text-align: center;
  background-color: #ffcd2bc9;
  float: right;
  position: relative;
}
.mh5 {
  transition: all 0.5s;
  border: 1px solid #ffcd2bc9;
  position: relative;
  border-radius: 30px;
}

.mh5 span {
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;

}

.mh5::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  /* margin-left: 30%;
  margin-right: 30%; */
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  /* background-color: rgba(255, 123, 0, 0.329); */
  transition: all 0.4s;
  transform: scale(0.5, 1);
}

.mh5:hover::before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  border-radius: 250px;
  background-color: tomato;
}



.mh1 {
  position: relative;
  border: 1px solid #ffcd2bc9;
  transition: all 0.5s linear;
  border-radius: 30px;
}

.mh1:hover {
  border-radius: 250px;
  transition: all 0.5s linear;
  background-color: tomato;
  border-color: tomato;
}




/* 按鈕旁邊系統ING */
.system-show {
  /* width: auto; */
  height: 62px;
  font-size: 24px; 
  /* padding-top: 10px;  */
  display: block;
  margin-left: 20%;
  margin-right: 20%; 
  text-align: center;
  background-color: #ffce2b;
  padding-top: 3px;
  padding-bottom: 3px;
}

.mh0 {
  position: relative;
  border: 1px solid #ffce2b;
  transition: all 0.5s linear;
  border-radius: 30px;
}

.mh0:hover {
  border-radius: 250px;
  transition: all 0.5s linear;
  background-color: #ffa947;
  border-color: #ffa947;
}


/* top card region */
.QA_card_area {
  width: auto;
  margin:0px 20% 60px 20%;
  padding-top: 80px;
  text-align:center;
  visibility: hidden;
}


/* im setting */
#im {
  position:relative;
  margin:0 auto;
  width:100%;
  height:100%;
  box-sizing:border-box;
}