.head {
    width: auto;
    height: auto;
    background-color: #ffb906cf;
    text-align: center;
    opacity: .7;
    font-size: 32px;
}

.style {
<<<<<<< HEAD
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  margin: auto;
=======
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    margin: auto;
>>>>>>> 38d7fe28d7bad9d89ec16983b0caa0d5c3421562
}

.arrow {
    width: 50px;
    height: 10px;
}

#showtime {
    position: fixed;
    top: 2.7%;
    right: 4%;
    font-size: 18px;
}

#today {
    position: fixed;
    top: 0%;
    right: 2%;
    font-size: 18px;
}