  .magic_word {
    position: absolute;
    bottom:5%;
    left: 2%;
    border-radius: 30px;
    width:45%;
    height:73%;
    font-size: 28px;
    cursor: pointer;
    border-width: 10px;
    font-weight: bolder;
  }
  .magic_word:hover {
    background-color:white ;
    opacity: .7;
    display:inline-block;
  }

  .metal-detector {
    position: absolute;
    bottom: 5%;
    left: 52%;
    border-radius: 30px;
    width: 45%;
    height: 73%;
    font-size: 28px;
    cursor: pointer;
    border-width: 10px;
    font-weight: bolder;
  }
  .metal-detector:hover{
    background-color:white ;
    opacity: .7;
    display:inline-block;
  }

