body {
    /* background-color: blanchedalmond; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url("../image/background/Polygon_blue01.jpeg");
}

table {
    width: 100%;
    margin-top: 1px;
    border-bottom: 1px black solid;
}

table tr td p {
    font-weight: bold;
    margin: 5px;
    font-size: 16px;
}

tbody tr td {
    vertical-align: top;
}

table tr th {
    font-size: 20px;
}

h2 {
    margin-left: 29%;
    margin-top: -12px;
}

a {
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    /*隱藏滾輪*/
    display: none;
}

.header_div {
    top: 0px;
    width: 100%;
    height: 8.7%;
    font-size: 18px;
    font-weight: bolder;
    background-color: #ffb906cf;
    text-align: center;
    margin: 0px auto;
    /* 置中*/
    padding-top: 8px;
    line-height: 40px;
    /*配合高度px 垂直置中*/
    position: fixed;
    z-index: 98;
    opacity: 80%;
    border-bottom: 0px;
}

.home_title {
    /* padding-right: 38px;  強迫症配合左邊返回按鈕，代研究還可以怎麼改，問kiki */
    font-size: 36px;
}

.Liftcontent_div {
    background-color: #ff886bf8;
    width: 30%;
    height: 90%;
    top: 9.7%;
    left: 0px;
    overflow: hidden;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
}

.Rightcontent_div {
    background-color: rgb(235, 231, 231);
    width: 70%;
    height: 90%;
    top: 9.7%;
    right: 0px;
    overflow: hidden;
    position: absolute;
}

.main_div {
    width: 100%;
    height: 90%;
    top: 49px;
    right: 0px;
    overflow: hidden;
    position: absolute;
}

.gameType_title {
    font-size: 18px;
    font-weight: bold;
}

.goodBaby_regard {
    width: 85%;
    height: 30px;
    margin: -3px;
    margin-left: 7.5%;
    border-radius: 40px;
    border-color: black;
    border-style: solid;
    background-color: #ffd06c;
    border-width: 2px;
    display: inline-block;
}

.goodBaby_regard_value {
    width: 67%;
    position: absolute;
    height: 7%;
    border-radius: 40px 0px 0px 40px;
    /* border-color: darkred; */
    /* border-style: solid; */
    background-color: #6c8eff;
    /* border-width: 2px; */
    display: inline-block;
    /* margin-left: 12px; */
}

.goodBaby_regard_text {
    position: absolute;
    right: 0;
    margin-right: -183=6px;
    margin-top: 7.5px;
    font-weight: 900;
}

.goodBaby_table {
    width: 100%;
    border-bottom: 0px;
    height: 10%;
    background-color: #a8a8a8;
}

.cardTable {
    width: 100%;
    border-bottom: 0px;
    height: 75%;
}

.card {
    height: 80%;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 20px;
    background-color: #fae363f8;
    border-radius: 12px;
}

.CameracardStatus {
    width: 33.33%;
    /* position: absolute; */
    height: 100%;
    border-radius: 40px 40px 40px 40px;
    /* border-color: darkred; */
    /* border-style: solid; */
    background-color: #6c8eff;
    /* border-width: 2px; */
    display: inline-block;
    /* margin-left: 12px; */
}

.SpeechcardStatus {
    width: 33.33%;
    /* position: absolute; */
    height: 100%;
    border-radius: 40px 40px 40px 40px;
    /* border-color: darkred; */
    /* border-style: solid; */
    background-color: #6c8eff;
    /* border-width: 2px; */
    display: inline-block;
    /* margin-left: 12px; */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    height: max-content;
    width: auto;
    padding-top: 5%;
    margin-left: 35%;
}

.card_img {
    height: 25%;
    width: 25%;
    margin-top: 10%;
}

.calendar {
    width: 100%;
    height: 45%;
    top: 0;
    font-family: arial;
    background: rgb(210, 218, 255);
    text-align: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.calendar-body-list ul {
    width: 100%;
    font-weight: bold;
    padding: 0;
    padding-left: 3.6%;
    font-size: 14px;
}

.calendar-body-list ul li {
    width: 13.2%;
    height: 20px;
    /* line-height:36px; */
    list-style-type: none;
    display: block;
    box-sizing: border-box;
    float: left;
    /* text-align:center; */
}

.lightgrey {
    color: #a8a8a8;
    /*浅灰色*/
}

.darkgrey {
    color: #565656;
    /*深灰色*/
}

.green {
    color: #6ac13c;
    /*绿色*/
}

.today {
    color: #c1623c;
}

.todaybox {
    border: 1px solid #c19e3c;
    background: #f8eadf;
    /*浅绿色背景*/
}

.greenbox {
    border: 1px solid #6ac13c;
    background: #e9f8df;
    /*浅绿色背景*/
}