::-webkit-scrollbar {
    display: none
}

html {
    height: 100%;
}

body {
    /* background-color: blanchedalmond; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url("../image/map/kraftPaper2.png");
}

nav {
    height: auto;
    width: 47px;
    /* 52px */
    /* background-color: burlywood; */
    /* margin-top: 135px; */
    position: absolute;
    top: 83px;
    right: 343px;
    border-radius: 25px 5px 5px 25px;
}

ul {
    list-style-type: none;
    padding: 8% 4%;
    margin: 4px 0;
    background-color: #79371a;
    border-radius: 16px 0px 0px 16px;
    padding-right: 0px;
}

li {
    margin: 0px 2px;
    padding: 6px 9px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 8px;
    /* border-color: coral; */
    /* border-style: dashed; */
    cursor: pointer;
    z-index: 100;
}

a:-webkit-any-link {
    color: black;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
}

.main_area {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 84.4%;
    /* margin: 60px auto; */
    margin-top: 50px;
    /* margin-bottom: 20px; */
    box-sizing: border-box;
    background-image: url(../image/character/bg_no.png);
    background-size: 50% 434px;
    /* background-repeat: no-repeat; */
}

.left_main_area {
    top: 0;
    left: 0;
    position: absolute;
    /* width: 100%;
    height: 85%; */
    margin: 5px 89px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 28px;
    font-weight: bolder;
    /* background-image: url(../image/character/bg.png); */
    /* background-size: 50% 620px; */
    /* background-repeat: no-repeat; */
}

.right_main_area {
    top: 0;
    right: 0;
    position: absolute;
    /* width: 100%;
    height: 85%; */
    margin: 5px 60px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 28px;
    font-weight: bolder;
    /* background-image: url(../image/character/bg.png); */
    /* background-size: 50% 620px; */
    /* background-repeat: no-repeat; */
}

.home_page {
    top: 0px;
    width: 100%;
    height: 8.7%;
    font-size: 18px;
    font-weight: bolder;
    background-color: #ffb906cf;
    /* background-image: url("../image/character/List_title.png"); */
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0px auto;
    /* 置中*/
    padding-top: 8px;
    line-height: 40px;
    /*配合高度px 垂直置中*/
    position: fixed;
    z-index: 98;
}

.home_title {
    padding-right: 38px;
    /*強迫症配合左邊返回按鈕，代研究還可以怎麼改，問kiki*/
    font-size: 36px;
}

.collect_icon {
    margin-top: 80px;
    width: 291px;
    height: 62%;
    position: absolute;
    left: 7%;
    top: 0;
    /* overflow: hidden; */
    overflow-x: hidden;
    overflow-y: auto;
}

.collect_magicCard {
    margin-top: 80px;
    width: 36%;
    height: 62%;
    position: absolute;
    right: 7%;
    top: 0;
    /* overflow: hidden; */
    overflow-x: hidden;
    overflow-y: auto;
}

.left_button {
    width: 140px;
    /* height: 120px; */
    position: absolute;
    left: 16%;
    bottom: -30px;
    cursor: pointer;
    /* background-color: darkred; */
}


/* 注音 */

.leftZhuyin {
    width: 30px;
    display: initial;
    z-index: 100;
    right: 0;
    position: absolute;
    margin-top: 68px;
    margin-right: 208px;
    cursor: pointer;
}

.midZhuyin {
    width: 30px;
    display: initial;
    z-index: 100;
    right: 0;
    position: absolute;
    margin-top: 68px;
    margin-right: 113px;
    cursor: pointer;
}

.rightZhuyin {
    width: 30px;
    display: initial;
    z-index: 100;
    right: 0;
    position: absolute;
    margin-top: 68px;
    margin-right: 16px;
    cursor: pointer;
}


/* 英文字母 */

.leftEng {
    width: 30px;
    display: initial;
    z-index: 100;
    right: 0;
    position: absolute;
    margin-top: 75px;
    margin-right: 203px;
    cursor: pointer;
}

.midEng {
    width: 30px;
    display: initial;
    z-index: 100;
    right: 0;
    position: absolute;
    margin-top: 75px;
    margin-right: 106px;
    cursor: pointer;
}

.rightEng {
    width: 30px;
    display: initial;
    z-index: 100;
    right: 0;
    position: absolute;
    margin-top: 75px;
    margin-right: 16px;
    cursor: pointer;
}


/* 數字 */

.leftNumber {
    width: 30px;
    display: initial;
    z-index: 100;
    right: 0;
    position: absolute;
    margin-top: 75px;
    margin-right: 208px;
    cursor: pointer;
}

.midNumber {
    width: 30px;
    display: initial;
    z-index: 100;
    right: 0;
    position: absolute;
    margin-top: 75px;
    margin-right: 111px;
    cursor: pointer;
}

.rightNumber {
    width: 30px;
    display: initial;
    z-index: 100;
    right: 0;
    position: absolute;
    margin-top: 75px;
    margin-right: 16px;
    cursor: pointer;
}