.map_location {
    top: 50px;
    left: 35px;
}

.mainContent {
    left: 2%;
    top: 0%;
}

.city {
    position: relative;
    height: 86%;
    top: 6%;
    left: 203px;
    z-index: 1;
}



.level1 {
    width: 60px;
    position: absolute;
    z-index: 10;
    top: 318px;
    left: 504px;
}

.level1_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 318px;
    left: 504px;
}

.level2 {
    width: 60px;
    position: absolute;
    z-index: 10;
    top: 296px;
    left: 352px;
}

.level2_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 296px;
    left: 352px;
}

.level3 {
    width: 60px;
    position: absolute;
    z-index: 10;
    top: 302px;
    left: 211px;
}

.level3_text {
    width: 54px;
    position: absolute;
    z-index: 10;
    top: 302px;
    left: 211px;
}

.level4 {
    width: 60px;
    position: absolute;
    z-index: 10;
    top: 220px;
    left: 343px;
}

.level4_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 220px;
    left: 343px;
}

.level5 {
    width: 60px;
    position: absolute;
    z-index: 10;
    top: 150px;
    left: 384px;
}

.level5_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 150px;
    left: 384px;
}

.level6 {
    width: 60px;
    position: absolute;
    z-index: 10;
    top: 144px;
    left: 312px;
}

.level6_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 144px;
    left: 312px;
}

.level7 {
    width: 60px;
    position: absolute;
    z-index: 10;
    top: 44px;
    left: 354px;
}

.level7_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 44px;
    left: 354px;
}

.level8 {
    width: 60px;
    position: absolute;
    z-index: 10;
    top: 84px;
    left: 385px;
}


