.map_location {
    top: 34px;
    left: 31px;
}

.mainContent {
    left: 2%;
    top: 0%;
}

.city {
    position: relative;
    height: 96%;
    top: 3%;
    left: 180px;
    z-index: 1;
}

.level1 {
    width: 75px;
    position: absolute;
    z-index: 10;
    top: 341px;
    left: 517px;
}

.level_basic {
    width: 65px;
}

.level_text {
    width: 55px;
    position: absolute;
    z-index: 10;
    top: 1px;
    left: 5%;
}

.level2 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 317px;
    left: 347px;
}

.level3 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 322px;
    left: 191px;
}

.level4 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 230px;
    left: 336px;
}

.level5 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 153px;
    left: 384px;
}

.level6 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 148px;
    left: 304px;
}

.level7 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 34px;
    left: 349px;
}

.level8 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 80px;
    left: 385px;
}