body {
    background: url("../../image/map/kraftPaper5.png");
}

.map_location {
    width: 16px;
    position: absolute;
    z-index: 4;
}

.taiwan {
    position: absolute;
    width: auto;
    height: 120px;
    top: 8px;
    left: 8px;
    border-radius: 20px 20px 20px 20px;
    background: url('../../image/background/sea1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
}

.bottom_title {
    position: fixed;
    height: 18%;
    width: 100%;
    bottom: 0;
    text-align: center;

}

.bottom_title h1 {
    display: inline-block;
    padding: 1.5% 18% 1.5% 18%;
    margin-top: 1%;
    font-size: 37px;
    color: rgb(32, 32, 32);
    background-color: rgb(255, 255, 161);
    /* border: 3px black solid; */
    border-radius: 10px 10px 10px 10px;

}

.informationBox {
    position: fixed;
    text-align: center;
    height: 83%;
    width: 12%;
    right: 8px;
    top: 8px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(255, 254, 191);
    z-index: 2;
}

.informationBox h2 {
    /* display: inline-block; */
    margin: 0 0 10% 0;
    padding: 6% 0 5% 0;
    background-color: rgb(255, 255, 161);
    border-radius: 10px 10px 0px 0px;

}

.informationBox img {
    margin-top: 5%;
    width: 65%;
}

.mainContent {
    position: fixed;
    top: 16%;
    height: 82%;
    width: 100%;
}

.fullContent {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(22, 22, 22, 0.671);
    z-index: 5;
    display: block;
}

.fullContent h1 {
    color: beige;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.introduce {
    position: fixed;
    margin: 5% 10% 10% 10%;
    height: 80%;
    width: 80%;
    z-index: 6;
    background-color: antiquewhite;
    border-radius: 10px 10px 10px 10px;

}

.btnDiv {
    position: fixed;
}









.features {
    background-color: aliceblue;
    width: 320px;
    height: 400px;
    margin-top: 20px;
}

.features img {
    width: 47px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

table {
    box-shadow: 3px 3px 12px gray;
}

table,
td {
    border-collapse: collapse;
    opacity: 0.9;
    /* width: 40px; */
    text-align: center;
}

table,
a {
    width: 75px;
}

td {
    padding: 4px;
    border: 4px dashed black;
    /* width: 40px; */
    text-align: center;
}