.map_location {
    top: 50px;
    left: 51px;
}

.mainContent {
    left: 2%;
    top: 0%;
}

.city {
    position: relative;
    height: 93%;
    top: 3%;
    left: 301px;
    z-index: 1;
}

.level1 {
    width: 75px;
    position: absolute;
    z-index: 10;
    top: 80px;
    left: 424px;
}

.level_basic {
    width: 43px;
}

.level_text {
    width: 30px;
    position: absolute;
    z-index: 10;
    top: 17px;
    left: 14%;
}

.level2 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 238px;
    left: 422px;
}

.level3 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 297px;
    left: 338px;
}

