body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.map {
    text-align: center;
    position: relative;
    /* height: 700px; */
}

.terrain {
    width: 350px;
    position: relative;
    top: 28px;
    z-index: 1;
    right: -4px;
}

.level1 {
    width: 75px;
    position: absolute;
    z-index: 10;
    top: 26px;
    left: 276px;
}

.level_basic {
    width: 54px;
}

.level {
    width: 35px;
}

.level_text {
    width: 40px;
    position: absolute;
    z-index: 10;
    top: 41px;
    left: 34%;
}

.level2 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 187px;
    left: 212px;
}

.level3 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 212px;
    left: 86px;
}

.level4 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 333px;
    left: 49px;
}