body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.map {
    text-align: center;
    position: relative;
    /* height: 700px; */
}

.map_location {
    top: 77px;
    left: 26px;
}  

.terrain {
    width: 330px;
    position: relative;
    top: -66px;
    z-index: 1;
    left: 195px;
}

.level1 {
    width: 75px;
    position: absolute;
    z-index: 10;
    top: -72px;
    left: 469px;
}

.level_basic {
    width: 35px;
}

.level {
    width: 54px;
}

.level_text {
    width: 40px;
    position: absolute;
    z-index: 10;
    top: 33px;
    left: -2%;
}

.level2 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 80px;
    left: 421px;
}

.level3 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 105px;
    left: 302px;

}

.level4 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 221px;
    left: 256px;
}