
body{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.map{
  text-align: center;
  position: relative;
  height: 700px;
  right: -40px;
}
.terrain{
  width: 325px;
  position: relative;
  top: 20px;
  z-index: 1;
  margin-right: -45px;
}

.level1{
  width: 75px;
  position: absolute;
  z-index: 10;
  top: 239px;
  left: 117px;
}
.level{
  width: 53px;

}
.level_text{
  width: 105px;
  position: absolute;
  z-index: 10;
  top: -19px;
  left: -9%;
}
.level2{
  width: 100px;
  position: absolute;
  z-index: 10;
  top: 180px;
  left: 169px;
}
.level3{
  width: 100px;
  position: absolute;
  z-index: 10;
  top: 105px;
  left: 222px;
}
.level4{
  width: 100px;
  position: absolute;
  z-index: 10;
  top: 124px;
  left: 107px;
}
.level5{
  width: 100px;
  position: absolute;
  z-index: 10;
  top: 115px;
  left: -12px;
}

.level6{
  width: 35px;
  position: absolute;
  z-index: 10;
  top: 67px;
  left: 87px;

}