.map_location {
    top: 26px;
    left: 32px;
}

.mainContent {
    left: 2%;
    top: 0%;
}

.city {
    position: relative;
    height: 82%;
    top: 6%;
    left: 158px;
    z-index: 1;
}



.level1 {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 139px;
    left: 462px;
}

.level1_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 147px;
    left: 465px;
}

.level2 {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 248px;
    left: 498px;
}

.level2_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 256px;
    left: 501px;
}

.level3 {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 254px;
    left: 381px;
}

.level3_text {
    width: 54px;
    position: absolute;
    z-index: 10;
    top: 259px;
    left: 376px;
}

.level4 {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 77px;
    left: 389px;
}

.level4_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 85px;
    left: 389px;
}

.level5 {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 71px;
    left: 302px;
}

.level5_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 81px;
    left: 305px;
}

.level6 {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 161px;
    left: 263px;
}

.level6_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 165px;
    left: 264px;
}

.level7 {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 226px;
    left: 183px;
}

.level7_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 235px;
    left: 185px;
}

.level8 {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 260px;
    left: 284px;
}


