body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.map {
    text-align: center;
    position: relative;
    top: 10px;
    right: -9px;
}

.terrain {
    width: 350px;
    position: relative;
    /* top: -85px; */
    z-index: 1;
    margin-right: -45px;
}

.level1 {
    width: 48px;
    position: absolute;
    z-index: 10;
    top: 316px;
    left: 182px;
}

.level1_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 324px;
    left: 182px;
}

.level2 {
    width: 48px;
    position: absolute;
    z-index: 10;
    top: 256px;
    left: 109px;
}

.level2_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 264px;
    left: 109px;
}

.level3 {
    width: 48px;
    position: absolute;
    z-index: 10;
    top: 210px;
    left: 37px;
}

.level3_text {
    width: 54px;
    position: absolute;
    z-index: 10;
    top: 219px;
    left: 34px;
}

.level4 {
    width: 48px;
    position: absolute;
    z-index: 10;
    top: 116px;
    left: 35px;
}

.level4_text {
    width: 54px;
    position: absolute;
    z-index: 10;
    top: 124px;
    left: 35px;
}

.level5 {
    width: 48px;
    position: absolute;
    z-index: 10;
    top: 78px;
    left: 121px;
}

.level5_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 88px;
    left: 121px;
}

.level6 {
    width: 48px;
    position: absolute;
    z-index: 10;
    top: 35px;
    left: 199px;
}

.level6_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 44px;
    left: 199px;
}

.level7 {
    width: 48px;
    position: absolute;
    z-index: 10;
    top: 67px;
    left: 272px;
}

.level7_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 78px;
    left: 272px;
}

.level8 {
    width: 48px;
    position: absolute;
    z-index: 10;
    top: 150px;
    left: 244px;
}

.level8_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 160px;
    left: 244px;
}

.level9 {
    width: 48px;
    position: absolute;
    z-index: 10;
    top: 237px;
    left: 209px;
}

.level9_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 247px;
    left: 209px;
}

.level10 {
    width: 45px;
    position: absolute;
    z-index: 10;
    top: 159px;
    left: 166px;
}

.level10_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 427px;
    left: 348px;
}