.map_location {
    top: 50px;
    left: 35px;
}

.mainContent {
    left: 2%;
    top: 17%;
}

.city {
    position: relative;
    height: 95%;
    top: 3%;
    left: 187px;
    z-index: 1;
}

.city_background {
    height: 98%;
    width: 65%;
    position: absolute;
    top: 5px;
    left: 113px;
    border-radius: 10px 10px 10px 10px;
background-color: rgb(255, 255, 210);
}

.informationBox img {
    margin-top: 5%;
    width: 60%;
}


.level1 {
    width: 48px;
    position: absolute;
    z-index: 10;
    top: 331px;
    left: 371px;
}

.level1_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 340px;
    left: 368px;
}

.level2 {
    width: 48px;
    position: absolute;
    z-index: 10;
    top: 269px;
    left: 297px;
}

.level2_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 275px;
    left: 297px;
}

.level3 {
    width: 48px;
    position: absolute;
    z-index: 10;
    top: 222px;
    left: 224px;
}

.level3_text {
    width: 54px;
    position: absolute;
    z-index: 10;
    top: 233px;
    left: 224px;
}

.level4 {
    width: 48px;
    position: absolute;
    z-index: 10;
    top: 127px;
    left: 221px;
}

.level4_text {
    width: 54px;
    position: absolute;
    z-index: 10;
    top: 135px;
    left: 225px;
}

.level5 {
    width: 48px;
    position: absolute;
    z-index: 10;
    top: 89px;
    left: 309px;
}

.level5_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 99px;
    left: 311px;
}

.level6 {
    width: 48px;
    position: absolute;
    z-index: 10;
    top: 46px;
    left: 389px;
}

.level6_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 46px;
    left: 389px;
}

.level7 {
    width: 48px;
    position: absolute;
    z-index: 10;
    top: 79px;
    left: 461px;
}

.level7_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 89px;
    left: 460px;
}

.level8 {
    width: 48px;
    position: absolute;
    z-index: 10;
    top: 163px;
    left: 433px;
}

.level8_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 172px;
    left: 430px;
}

.level9 {
    width: 48px;
    position: absolute;
    z-index: 10;
    top: 251px;
    left: 398px;
}

.level9_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 258px;
    left: 399px;
}

.level10 {
    width: 45px;
    position: absolute;
    z-index: 10;
    top: 170px;
    left: 354px;
}

.level10_text {
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 427px;
    left: 348px;
}