.map_location {
    top: 10px;
    left: 53px;
}

.mainContent {
    left: 2%;
    top: 0%;
}

.city {
    position: relative;
    height: 93%;
    top: 3%;
    left: 223px;
    z-index: 1;
}

.level1 {
    width: 75px;
    position: absolute;
    z-index: 10;
    top: 51px;
    left: 394px;
}

.level_basic {
    width: 43px;
}

.level_text {
    width: 80px;
    position: absolute;
    z-index: 10;
    top: 7px;
    left: 2%;
}

.level2 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 103px;
    left: 258px;
}

.level3 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 170px;
    left: 329px;
}

.level4 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 281px;
    left: 366px;
}

.level5 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 148px;
    left: 433px;
}
.level6 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 147px;
    left: 573px;
}
