body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    /* align-items: center; */
}

.features {
    background-color: aliceblue;
    width: 320px;
    height: 400px;
    margin-top: 50px;
    margin-left: 110px;
}

.map {
    text-align: center;
    position: relative;
    /* height: 700px; */
    top: 102px;
    /* right: -25px; */
}

.terrain {
    width: 362px;
    position: relative;
    /* top: -92px; */
    z-index: 1;
}

.level1 {
    width: 75px;
    position: absolute;
    z-index: 10;
    top: 33px;
    left: 132px;
}

.level {
    width: 38px;
}

.level_text {
    width: 78px;
    position: absolute;
    z-index: 10;
    top: -4px;
    left: 20%;
}

.level2 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 79px;
    left: 0px;
}

.level3 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 141px;
    left: 64px;
}

.level4 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 236px;
    left: 94px;
}

.level5 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 119px;
    left: 152px;
}

.level6 {
    width: 38px;
    position: absolute;
    z-index: 10;
    top: 120px;
    left: 306px;
}