
body{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.features {
    
    background-color: aliceblue;
    width: 320px;
    height: 400px;
    margin-top: 50px;
}


.map{
    text-align: center;
    position: relative;
    height: 700px;
    top: 50px;
    right: -25px;
}
.terrain{
    width: 362px;
    position: relative;
    top: -92px;
    z-index: 1;
}

.level1{
    width: 75px;
    position: absolute;
    z-index: 10;
    top: -59px;
    left: 132px;
}
.level{
    width: 38px;
}
.level_text{
    width: 78px;
    position: absolute;
    z-index: 10;
    top: -4px;
    left: 20%;
}

.level2{
    width: 100px;
    position: absolute;
    z-index: 10;
    top: -13px;
    left: 1px;
}
.level3{
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 46px;
    left: 64px;
}

.level4{
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 143px;
    left: 94px;
}

.level5{
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 27px;
    left: 152px;
}

.level6{
    width: 38px;
    position: absolute;
    z-index: 10;
    top: 27px;
    left: 306px;
}

