body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.mainContent {
    left: 32%;
    top: 3%;
}

.map {
    text-align: center;
    position: relative;
    /* height: 700px; */
    /* top: 50px; */
    right: -30px;
}

.map_location {
    top: 95px;
    left: 27px;
}

table,
a {
    width: 103px;
}

.terrain {
    width: 220px;
    position: relative;
    /* top: -25px; */
    z-index: 1;
    margin-right: -45px;
}

.level1 {
    width: 75px;
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 127px;
}

.level_basic {
    width: 57px;
}

.level {
    width: 52px;
}

.level_text {
    width: 40px;
    position: absolute;
    z-index: 10;
    top: 16px;
    left: 15%;
}

.level2 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 49px;
    left: 54px;
}

.level3 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 153px;
    left: 67px;
}

.level4 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 303px;
    left: 157px;
}