
body{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.map{
    text-align: center;
    position: relative;
    height: 700px;
}
.terrain{
    width: 700px;
  position: relative;
  top: 70px;
  z-index: 1;
}

.level1{
    width: 75px;
    position: absolute;
    z-index: 10;
    top: 75px;
    left: 409px;
}
.level_basic{
    width: 175px;

}
.level{
    width: 155px;

}
.level_text{
    width: 40px;
    position: absolute;
    z-index: 10;
    top: 60px;
    left: 110%;
}
.level2{
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 232px;
    left: 175px;
}

.level3{
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 558px;
    left: 220px;
}

.level4{
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 1035px;
    left: 510px;
}




