
body{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.map{
    text-align: center;
    position: relative;
    height: 700px;
}
.terrain{
    width: 240px;
    position: relative;
    top: -25px;
    z-index: 1;
    margin-right: -45px;
}

.level1{
    width: 75px;
    position: absolute;
    z-index: 10;
    top: -28px;
    left: 133px;
}
.level_basic{
    width: 67px;

}
.level{
    width: 56px;

}
.level_text{
    width: 40px;
    position: absolute;
    z-index: 10;
    top: 16px;
    left: 30%;
}
.level2{
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 27px;
    left: 41px;
}

.level3{
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 138px;
    left: 56px;
}

.level4{
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 305px;
    left: 150px;
}




