.map_location {
    top: 34px;
    left: 31px;
}

.mainContent {
    left: 2%;
    top: 0%;
}

.city {
    position: relative;
    height: 69%;
    top: 25%;
    left: 102px;
    z-index: 1;
}

.level1 {
    width: 75px;
    position: absolute;
    z-index: 10;
    top: 218px;
    left: 578px;
}

.level_basic {
    width: 53px;
}

.level_text {
    width: 55px;
    position: absolute;
    z-index: 10;
    top: 17px;
    left: 14%;
}

.level2 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 128px;
    left: 602px;
}

.level3 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 160px;
    left: 488px;
}

.level4 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 214px;
    left: 428px;
}

.level5 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 198px;
    left: 254px;
}

.level6 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 156px;
    left: 163px;
}

.level7 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 251px;
    left: 213px;
}

.level8 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 320px;
    left: 245px;
}