
body{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.map{
    text-align: center;
    position: relative;
    height: 700px;
}
.terrain{
    width: 350px;
    position: relative;
    top: 61px;
    z-index: 1;
    right: -4px;
}

.level1{
    width: 75px;
    position: absolute;
    z-index: 10;
    top: 168px;
    left: 230px;
}
.level_basic{
    width: 55px;

}
.level{
    width:43px;

}
.level_text{
    width: 40px;
    position: absolute;
    z-index: 10;
    top: 16px;
    left: 36%;
}
.level2{
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 131px;
    left: 98px;
}

.level3{
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 216px;
    left: -4px;
}

.level4{
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 332px;
    left: 107px;
}




