
body{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.map{
  text-align: center;
  position: relative;
  height: 700px;
}
.terrain{
  width: 700px;
position: relative;
top: 70px;
z-index: 1;
}

.level1{
  width: 75px;
  position: absolute;
  z-index: 10;
  top: 700px;
  left: 340px;
}
.level{
  width: 230px;

}
.level_text{
  width: 120px;
  position: absolute;
  z-index: 10;
  top: 34px;
  left: 32%;
}
.level2{
  width: 100px;
  position: absolute;
  z-index: 10;
  top: 420px;
  left: 438px;
}
.level3{
  width: 100px;
  position: absolute;
  z-index: 10;
  top: 440px;
  left: 110px;
}
.level4{
  width: 100px;
  position: absolute;
  z-index: 10;
  top: 160px;
  left: 84px;
}
.level5{
  width: 125px;
  position: absolute;
  z-index: 10;
  top: 343px;
  left: 379px;
}
