.map_location {
    top: 5px;
    left: 54px;
}

.mainContent {
    left: 2%;
    top: 0%;
}

.city {
    position: relative;
    height: 93%;
    top: 3%;
    left: 223px;
    z-index: 1;
}

.level1 {
    width: 75px;
    position: absolute;
    z-index: 10;
    top: 268px;
    left: 361px;
}

.level_basic {
    width: 95px;
}

.level_text {
    width: 80px;
    position: absolute;
    z-index: 10;
    top: 17px;
    left: 21%;
}

.level2 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 152px;
    left: 401px;
}

.level3 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 160px;
    left: 266px;
}

.level4 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 46px;
    left: 256px;
}

.level5 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 124px;
    left: 377px;
}

