.map_location {
    top: 79px;
    left: 41px;
}

.mainContent {
    left: 2%;
    top: 0%;
}

.city {
    position: relative;
    height: 93%;
    top: 3%;
    left: 301px;
    z-index: 1;
}

.level1 {
    width: 75px;
    position: absolute;
    z-index: 10;
    top: 210px;
    left: 355px;
}

.level_basic {
    width: 52px;
}

.level_text {
    width: 60px;
    position: absolute;
    z-index: 10;
    top: 17px;
    left: 14%;
}

.level2 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 92px;
    left: 337px;
}

.level3 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 15px;
    left: 468px;
}

