
body{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .features {
    background-color: aliceblue;
    width: 320px;
    height: 400px;
    margin-top: 30px;
}
  .map{
    text-align: center;
    position: relative;
    height: 700px;
    top: 100px;
    right: -40px;
  }
  .terrain{
    width: 240px;
    position: relative;
    top: -100px;
    z-index: 1;
    margin-right: -45px;
  }
  
  .level1{
    width: 75px;
    position: absolute;
    z-index: 10;
    top: 126px;
    left: 52px;
  }
  .level_basic{
    width: 52px;
  
  }
  .level{
    width: 46px;
  
  }
  .level_text{
    width: 120px;
    position: absolute;
    z-index: 10;
    top: 11px;
    left: -19%;
  }
  .level2{
    width: 100px;
    position: absolute;
    z-index: 10;
    top: -2px;
    left: 21px
  }
  .level3{
    width: 100px;
    position: absolute;
    z-index: 10;
    top: -93px;
    left: 167px;
  }
 