.map_location {
    top: 10px;
    left: 42px;
}

.mainContent {
    left: 2%;
    top: 0%;
}

.city {
    position: relative;
    height: 93%;
    top: 3%;
    left: 223px;
    z-index: 1;
}

.level1 {
    width: 75px;
    position: absolute;
    z-index: 10;
    top: 290px;
    left: 471px;
}

.level_basic {
    width: 71px;
}

.level_text {
    width: 80px;
    position: absolute;
    z-index: 10;
    top: 17px;
    left: 14%;
}

.level2 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 201px;
    left: 419px;
}

.level3 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 132px;
    left: 360px;
}

.level4 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 102px;
    left: 241px;
}

.level5 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 44px;
    left: 410px;
}

