
body{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.map{
  text-align: center;
  position: relative;
  height: 700px;
  right: -25px;
  margin-top: 10px;

}
.terrain{
  width: 350px;
  position: relative;
  top: 25px;
  z-index: 1;
}

.level1{
  width: 75px;
  position: absolute;
  z-index: 10;
  top: 77px;
  left: 237px;
}
.level{
  width: 67px;

}
.level_text{
  width: 100px;
  position: absolute;
  z-index: 10;
  top: 3px;
  left: -9%;
}
.level2{
  width: 100px;
  position: absolute;
  z-index: 10;
  top: 159px;
  left: 98px;
}
.level3{
  width: 100px;
  position: absolute;
  z-index: 10;
  top: 302px;
  left: 6px;
}
.level4{
  width: 100px;
  position: absolute;
  z-index: 10;
  top: 301px;
  left: 143px;
}
.level5{
  width: 46px;
  position: absolute;
  z-index: 10;
  top: 241px;
  left: 263px;
}
