.map_location {
    top: 50px;
    left: 35px;
}

.mainContent {
    left: 2%;
    top: 0%;
}

.city {
    position: relative;
    height: 93%;
    top: 3%;
    left: 223px;
    z-index: 1;
}

.level1 {
    width: 75px;
    position: absolute;
    z-index: 10;
    top: 57px;
    left: 448px;
}

.level_basic {
    width: 66px;
}

.level_text {
    width: 60px;
    position: absolute;
    z-index: 10;
    top: 17px;
    left: 14%;
}

.level2 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 135px;
    left: 329px;
}

.level3 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 272px;
    left: 241px;
}

.level4 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 269px;
    left: 370px;
}

.level5 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 212px;
    left: 469px;
}

