body {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.map {
  text-align: center;
  position: relative;
  height: 700px;
}

.terrain {
  width: 400px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3));
  top:55px;
}

.level1 {
  width: 75px;
  position: absolute;
  z-index: 10;
  top: 141px;
  left: 341px;
}

.level {
  width: 37px;

}

.level_text {
  width: 40px;
  position: absolute;
  z-index: 10;
  top: 14px;
  left: 48%;
}

.level2 {
  width: 100px;
  position: absolute;
  z-index: 10;
  top: 141px;
  left: 238px;
}

.level3 {
  width: 100px;
  position: absolute;
  z-index: 10;
  top: 64px;
  left: 241px;
}

.level4 {
  width: 100px;
  position: absolute;
  z-index: 10;
  top: 115px;
  left: 137px;
}

.level5 {
  width: 100px;
  position: absolute;
  z-index: 10;
  top: 79px;
    left: 48px;
}

.level6 {
  width: 100px;
  position: absolute;
  z-index: 10;
  top: 146px;
  left: 75px;
}

.level7 {
  width: 100px;
  position: absolute;
  z-index: 10;
  top: 132px;
  left: -6px;
}

.level8 {
  width: 100px;
  position: absolute;
  z-index: 10;
  top: 222px;
  left: -17px;
}