body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.map_location {
    top: 52px;
    left: 17px;
}

.mainContent {
    left: 17%;
    top: 11%;
}
.map {
    text-align: center;
    position: relative;
    /* height: 700px; */
}

table,
a {
    width: 85px;
}

.terrain {
    width: 500px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.3));
    /* top:55px; */
}

.level1 {
    width: 33px;
    position: absolute;
    z-index: 10;
    top: 112px;
    left: 452px;
}

.level {
    width: 48px;
}

.level_basic {
    width:42px;
}

.level_text {
    width: 55px;
    position: absolute;
    z-index: 10;
    top: 36px;
    left: 25%;
}

.level2 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 115px;
    left: 338px;
}

.level3 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 13px;
    left: 342px;
}

.level4 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 76px;
    left: 212px;
}

.level5 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 101px;
}

.level6 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 118px;
    left: 134px;
}

.level7 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 96px;
    left: 34px;
}

.level8 {
    width: 100px;
    position: absolute;
    z-index: 10;
    top: 208px;
    left: 18px;
}