
.phonetic{
    position: absolute;
    font-size: 41px;
    width: 9%;
    height: 14%;
    border-radius: 10%;
    background-color:white;
    opacity: .7;
}
.phonetic:hover{
  background-color:rgb(197, 196, 196) ;
  opacity: .7;
  display:inline-block;
}
