.head{
    width: auto;
    height: 40px;
    background-color:#ffb906cf;
    text-align: center;
    opacity: .7;
  }
  .style{
    background-repeat:no-repeat;
    background-size:100%; 
    background-attachment:fixed;
    margin-top: auto;
  }

.image{
    position: absolute;
    top: 30%;
    left: 12%;
}
.uploadimage{
    position: absolute;
    top: 75%;
    left: 12%;
}
#userimg{
    position: absolute;
    top:25%;
    right: 45%;
    width: 5%;
}
#birthimg{
    position: absolute;
    top:45%;
    right: 45%;
    width: 5%;
}
#likeimg{
    position: absolute;
    top:65%;
    right: 45%;
    width: 5%;
}
#chart{
    width: auto;
    height: 70%;
    vertical-align:top;
}