body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    margin-top: auto;
}

.home_page {
    top: 0px;
    width: 100%;
    height: 8.7%;
    font-size: 18px;
    font-weight: bolder;
    background-color: #ffb906cf;
    text-align: center;
    margin: 0px auto;
    /* 置中*/
    padding-top: 8px;
    line-height: 40px;
    /*配合高度px 垂直置中*/
    position: fixed;
    z-index: 98;
}

.home_title {
    /* padding-right: 38px;  強迫症配合左邊返回按鈕，代研究還可以怎麼改，問kiki */
    font-size: 36px;
}

#show_page::-webkit-scrollbar {
    display: none;
}

#show_page {
    width: 100%;
}



#song {
    width: 45%;
    display: inline-block;
    color: rgb(19, 1, 1);
    font-weight: bold;
    padding: 10px;
    margin: 15px 2% 10px 2%;
    text-align: center;
    font-family: Microsoft JhengHei;
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
}

.bookContent::-webkit-scrollbar {
    display: none;
}

.bookContent {
    position: relative;
    top: 20%;
    margin-top: 13%;
    width: 100%;
    height: 70%;
    /* text-align: center; */
    /* float: left; */
    overflow: visible;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    visibility: visible;
    /* overflow-y:auto; */
}

.Arrow {
    width: 8%;
    z-index: 1;
    position: fixed;
    top: 45%;
}