body {
    /* background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed; */
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    /* margin-top: auto; */
}

.home_page {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 8.7%;
    font-size: 18px;
    font-weight: bolder;
    background-color: #ffb906cf;
    text-align: center;
    /* 置中*/
    padding-top: 8px;
    line-height: 40px;
    /*配合高度px 垂直置中*/
    position: fixed;
}

.home_title {
    /* padding-right: 38px;  強迫症配合左邊返回按鈕，代研究還可以怎麼改，問kiki */
    font-size: 36px;
}

body::-webkit-scrollbar {
    display: none;
}

.tabs {
    position: fixed;
    top: 11%;
    width: 100%;
    height: 12%;
    border-radius: 8px;
    overflow-y: hidden;
    overflow-x: hidden;
    /* margin-left: 0.1%; */
    /* background-color: lightblue; */
}

.tab {
    width: 24%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 3px 2% 5px 2%;
    border-radius: 8px;
    margin-left: 4%;
    background-color: rgb(240, 182, 128);
    cursor: pointer;
}

.tab img {
    display: inline-block;
    float: left;
    width: 30%;
    height: 80%;
    margin-right: 5px;
}

.tab span {
    display: inline-block;
    font-size: 22px;
    margin-top: 7%;
}

#parent_recommend .book {
    background-color: rgb(255, 220, 160);
}

#parent_tab {
    background-color: rgb(255, 220, 160);
}

#machine_recommend .book {
    background-color: rgb(255, 182, 160);
}

#machine_tab {
    background-color: rgb(255, 182, 160);
}

#else_book .book {
    background-color: rgb(206, 255, 160);
}

#else_tab {
    background-color: rgb(206, 255, 160);
}

.maincontent {
    position: relative;
    top: 22%;
    width: 100%;
    height: 80%;
    background-color: rgb(253, 238, 228);
    /* background: url(../../image/map/kraftPaper5.png) no-repeat;     */
    overflow: gone;
    overflow-x: auto;
    border-radius: 10px;
    /* overflow-y: hidden; */
    /* white-space: nowrap; */
}

.maincontent::-webkit-scrollbar {
    display: none;
}

.book {
    display: inline-block;
    width: 44%;
    height: 150px;
    color: rgb(19, 1, 1);
    /* font-weight: bold; */
    /* margin: 10px;
  margin-right: 2%;
  margin-left: 4%; */
    margin: 1.8% 0% 0% 1.8%;
    padding: 13px;
    text-align: left;
    font-family: Microsoft JhengHei;
    border-radius: 15px;
    background-color: white;
    box-shadow: 4px 4px 7px 2px #3d3d3dc4;
}

.book .bookname-div {
    width: 100%;
    height: 30%;
    top: 0px;
    position: relative;
    text-align: center;
    float: left;
}

.book .bookname-div h2 {
    width: 100%;
    margin: auto;
}

.book .activity-div {
    width: 100%;
    height: 70%;
    bottom: 0px;
    position: relative;
    float: left;
}

.book .activity-div img {
    float: left;
    height: 100%;
    box-shadow: 4px 4px 7px 2px #3d3d3dc4;
}

.book .activity-div button {
    height: 100%;
    width: 53%;
    margin: 0% 0 0 5%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 2px #3d3d3d8f;
}

.book .activity-div button img {
    display: inline;
    float: left;
    height: 60%;
}

.book .bookname-div .voice {
    position: absolute;
    width: 12%;
    height: auto;
    right: -8px;
    top: -5px;
}

.bookdropdown {
    text-align: center;
    width: 95%;
    height: 20%;
    margin-left: 1%;
    margin-top: 1.5%;
    font-size: 18pt;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: rgb(231, 178, 108);
}

.bookdropdown h2 {
    margin-top: 24px;
}

#recommend_bookdropdown {
    margin-top: 7.5%;
}