<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="../../CSS/game/b.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
</head>
<body class="style" background="../../photo/background.png" >
   <div class="zhuyin"> 
    <img  src="../../image/zhuyin/b.png"  />
    <canvas id="myPics" class="anvas write" width="120" height="490"></canvas>
    <canvas  class="anvas write2" width="120" height="490"></canvas>
</div>
   <script src="../../model/game/b.js"></script>

   <div>
    <a href="../../exam_phonetic copy.html" class="sosfloat" id="menu-share">
      <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
      </a>
  </div>
<div>
    <a href="../../view/level/nantou.html" class="returnfloat" id="menu-share">
      <i class="fab fa-share return-float"><img src="../../photo/return.png" ></i>
      </a>
  </div>
  <div>
    <a href="../../test1.html" class="homefloat" id="menu-share">
      <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
      </a>
  </div>
</body>

</html>