<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../CSS/game/b.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
</head>
<body class="style" background="../../photo/background.png" >
    <img class="zhuyin" src="../../image/zhuyin/b.png"  />
    <canvas id="myPics" class="anvas write" width="120" height="490"></canvas>
    <canvas  class="anvas write2" width="120" height="490"></canvas>
   <script src="../../model/game/b.js"></script>
</body>

</html>