<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../../CSS/game/drawZhuyin.css">
  <link rel="stylesheet" href="../../CSS/interface.css">
  <link rel="stylesheet" href="../../CSS/icon.css">

</head>

<body class="style" background="../../photo/background.png" onload="onload()">
  <div class="black_overlay">
    <div class="result">
      <div class="close">X</div>
      <div class="status">成功</div>
      <div class="statusText"></div>
      <div class="props">
        <div>道具</div>
        <div>小卡</div>
        <div>經驗值</div>

      </div>
      <div class="challengeAgain" onclick="challengeAgain()">再次挑戰</div>
      <div class="nextLevel" onclick="goNextLevel()">確認</div>
    </div>
  </div>
  <div style="font-size: 50px;">請照著下面描寫</div>
  <div class="zhuyin">
    <img src="../../image/drawZhuyin/b.png" />
    <div class="anvas write">
      <canvas class="draw" width="120px" height="122px"></canvas>
      <canvas class="draw" width="120px" height="122px"></canvas>
      <canvas class="draw" width="120px" height="122px"></canvas>
      <canvas class="draw" width="120px" height="122px"></canvas>
    </div>
    <div class="anvas write2">
      <canvas class="draw" width="120px" height="122px"></canvas>
      <canvas class="draw" width="120px" height="122px"></canvas>
      <canvas class="draw" width="120px" height="122px"></canvas>
      <canvas class="draw" width="120px" height="122px"></canvas>
    </div>
  </div>
  <div class="score">完成</div>

  <script src="../../model/game/drawZhuyin.js"></script>

  <div>
    <a href="../../exam_phonetic copy.html" class="sosfloat" id="menu-share">
      <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
    </a>
  </div>
  <div>
    <a href="../../view/level/nantou.html" class="returnfloat" id="menu-share">
      <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
    </a>
  </div>
  <div>
    <a href="../../game_home.html" class="homefloat" id="menu-share">
      <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
    </a>
  </div>
</body>

</html>