
/* ㄅ */
.fingerb {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 40px;
    left: 125px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerb {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 40px;
    left: 125px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawb;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }

  @keyframes drawb{
     
      0%{
        top: 40px;
        left: 125px;
      }
      15%{
        top: 95px;
        left: 97px;
      }
      40%{
        top: 75px;
        left: 220px;
      }
      50%{
        top: 90px;
        left: 230px;
      }
      70%{
        top: 170px;
        left: 207px;
      }
      90%{
        top: 210px;
        left: 172px;
      }
      100%{
        top: 195px;
        left: 152px;
        visibility: hidden;
       
      }
}


/* ㄆ */
.fingerp {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 45px;
    left: 130px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerp {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 45px;
    left: 130px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawp;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }

  @keyframes drawp{
     
      0%{
        top: 45px;
        left: 130px;
      }
      25%{
        top: 105px;
        left: 100px;
      }
      50%{
        top: 80px;
        left: 215px;
      }
      55%{
        top: 90px;
        left: 225px;
      }
      75%{
        top: 220px;
        left: 100px;
        visibility: hidden;
      }
      75.5%{
        visibility: visible;
        top: 141px;
        left: 135px;
      }
      100%{
        top: 211px;
        left: 225px;
        visibility: hidden;
       
      }
  }



/* ㄇ */
.fingerm {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 75px;
    left: 95px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerm {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 75px;
    left: 95px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawm;
    animation-duration:3s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }

  @keyframes drawm{
     
      0%{
        top: 75px;
        left: 95px;
      }
      33%{
        top: 178px;
        left: 95px;
        visibility: hidden;
      }
      33.5%{
        visibility: visible;
        top: 75px;
        left: 95px;
      }
      66%{
        top: 55px;
        left: 225px;
      }
      100%{
        top: 198px;
        left: 225px;
        visibility: hidden;
      }
     
}


/* ㄈ */
.fingerf {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 65px;
    left: 225px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerf {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 65px;
    left: 225px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawf;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }

  @keyframes drawf{
     
      0%{
        top: 65px;
        left: 225px;
      }
      33%{
        top: 80px;
        left: 105px;
      }
      66%{
        top: 180px;
        left: 115px;
      }
      70%{
        top: 190px;
        left: 130px;
      }
      100%{
        top: 190px;
        left: 230px;
        visibility: hidden;
      }
     
}


/* ㄉ */
.fingerd {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 45px;
    left: 125px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerd {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 45px;
    left: 125px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawd;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }

  @keyframes drawd{
     
      0%{
        top: 45px;
        left: 125px;
      }
      20%{
        top: 105px;
        left: 100px;
      }
      40%{
        top: 85px;
        left: 230px;
      }
      40.2%{
        top: 95px;
        left: 240px;
      }
      65%{
        top: 215px;
        left: 180px;
      }
      67%{
        top: 195px;
        left: 160px;
        visibility: hidden;
      }
      68.5%{
        visibility: visible;
        top: 115px;
        left: 145px;
      }
      100%{
        top: 200px;
        left: 85px;
        visibility: hidden;
      }
}


/* ㄊ */
.fingert {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 125px;
    left: 100px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingert {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 125px;
    left: 100px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawt;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }

  @keyframes drawt{
     
      0%{
        top: 125px;
        left: 100px;
      }
      30%{
        top: 105px;
        left: 230px;
        visibility: hidden;
      }
      30.5%{
        visibility: visible;
        top: 50px;
        left: 170px;
      }
      60%{
        top: 205px;
        left: 115px;
      }
      70%{
        top: 175px;
        left: 205px;
      }
      85%{
        top: 170px;
        left: 207px;
        visibility: hidden;
      }
      85.2%{
        visibility: visible;
        top: 155px;
        left: 195px;
      }
      100%{
        top: 200px;
        left: 230px;
        visibility: hidden;
       
      }
}


/* ㄋ */
.fingern {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 47px;
    left: 115px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingern {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 47px;
    left: 115px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawn;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }

  @keyframes drawn{
     
      0%{
        top: 47px;
        left: 115px;
      }
      20%{
        top: 42px;
        left: 175px;
      }
      40%{
        top: 110px;
        left: 135px;
      }
      70%{
        top: 95px;
        left: 215px;
      }
      75%{
        top: 105px;
        left: 220px;
      }
      90%{
        top: 210px;
        left: 170px;
      }
      100%{

        top: 195px;
        left: 140px;
        visibility: hidden;
      }

}


/* ㄌ */
.fingerl {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 55px;
    left: 125px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerl {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 47px;
    left: 115px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawl;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }

  @keyframes drawl{
     
      0%{
        top: 47px;
        left: 115px;
      }
      20%{
        top: 42px;
        left: 175px;
      }
      40%{
        top: 110px;
        left: 135px;
      }
      70%{
        top: 95px;
        left: 215px;
      }
      75%{
        top: 105px;
        left: 220px;
      }
      90%{
        top: 210px;
        left: 170px;
      }
      100%{

        top: 195px;
        left: 140px;
        visibility: hidden;
      }

}


/* ㄍ */
.fingerg {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 55px;
  left: 145px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerg {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 55px;
  left: 145px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawg;
  animation-duration:4s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawg{
   
    0%{
      top: 55px;
      left: 145px;
    }
    25%{
      top: 130px;
      left: 105px;
    }
    50%{
      top: 205px;
      left: 145px;
      visibility: hidden;
    }
    50.5%{
      visibility: visible;
      top: 55px;
      left: 215px;
    }
    75%{
      top: 130px;
      left: 175px;
    }
    100%{

      top: 205px;
      left: 215px;
      visibility: hidden;
    }

}


/* ㄎ */
.fingerk {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 60px;
  left: 90px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerk {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 60px;
  left: 90px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawk;
  animation-duration:4s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawk{
   
    0%{
      top: 60px;
      left: 90px;
    }
    25%{
      top: 45px;
      left: 240px;
      visibility: hidden;
    }
    25.5%{
      top: 70px;
      left: 150px;
      visibility: visible;
    }
    30.5%{
      top: 110px;
      left: 130px;
    }
    55%{
      top: 100px;
      left: 225px;
    }
    75%{
      top: 170px;
      left: 210px;
    }
    95%{
      top: 205px;
      left: 180px;
    }
    100%{
      top: 195px;
      left: 150px;
      visibility: hidden;
    }

}


/* ㄏ */
.fingerh {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 70px;
  left: 120px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerh {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 70px;
  left: 120px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawh;
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawh{
   
    0%{
      top: 70px;
      left: 120px;
    }
    55%{
      top: 55px;
      left: 240px;
      visibility: hidden;
    }
    55.5%{
      top: 70px;
      left: 120px;
      visibility: visible;
    }
    75%{
      top: 150px;
      left: 110px;
      visibility: visible;
    }
    100%{
      top: 200px;
      left: 85px;
      visibility: hidden;
    }

}


/* ㄐ */
.fingerj {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 70px;
  left: 125px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerj {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 70px;
  left: 125px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawj;
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawj{
   
    0%{
      top: 70px;
      left: 125px;
    }
    33%{
      top: 160px;
      left: 125px;
      
    }
    38.5%{
      top: 165px;
      left: 135px;
      
    }
    66%{
      top: 135px;
      left: 195px;
      visibility: hidden;
    }
    66.5%{
      visibility: visible;
      top: 45px;
      left: 205px;
    }
    100%{
      top: 215px;
      left: 205px;
      visibility: hidden;
    }

}


/* ㄑ */
.fingerq {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 50px;
  left: 195px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerq {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 50px;
  left: 195px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawq;
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawq{
   
    0%{
      top: 50px;
      left: 195px;
    }
    50%{
      top: 130px;
      left: 125px;
      
    }
    100%{
      top: 210px;
      left: 195px;
      visibility: hidden;
    }

}



/* ㄒ */
.fingerx {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 70px;
  left: 105px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerx {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 70px;
  left: 105px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawx;
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawx{
   
    0%{
      top: 70px;
      left: 105px;
    }
    50%{
      top: 50px;
      left: 225px;
      visibility: hidden;
    }
    50.5%{
      visibility: visible;
      top: 65px;
      left: 175px;
    }
    100%{
      top: 195px;
      left: 175px;
      visibility: hidden;
    }

}



/* ㄓ */
.fingerzhi {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 75px;
  left: 115px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerzhi {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 75px;
  left: 115px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawzhi;
  animation-duration:3s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawzhi{
   
    0%{
      top: 75px;
      left: 115px;
    }
    20%{
      top: 145px;
      left: 115px;
    }
    40%{
      top: 130px;
      left: 220px;
      visibility: hidden;
    }
    40.5%{
      visibility: visible;
      top: 75px;
      left: 230px;
    }
    60%{
      top: 130px;
      left: 220px;
      visibility: hidden;
    }
    60.5%{
      visibility: visible;
      top: 60px;
      left: 170px;
    }
    80%{
      top: 200px;
      left: 170px;
      visibility: hidden;
    }
    80.5%{
      visibility: visible;
      top: 208px;
      left: 105px;
    }
    100%{
      top: 195px;
      left: 235px;
      visibility: hidden;
    }

}


/* ㄔ */
.fingerchi {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 35px;
  left: 195px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerchi {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 35px;
  left: 195px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawchi;
  animation-duration:3s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawchi{
   
    0%{
      top: 35px;
      left: 195px;
    }
    33%{
      top: 105px;
      left: 130px;
      visibility: hidden;
    }
    33.5%{
      visibility: visible;
      top: 85px;
      left: 210px;
    }
    66%{
      top: 170px;
      left: 120px;
      visibility: hidden;
    }
    66.5%{
      visibility: visible;
      top: 140px;
      left: 185px;
    }
    100%{
      top: 220px;
      left: 185px;
      visibility: hidden;
    }

}


/* ㄕ */
.fingershi {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 57px;
  left: 140px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingershi {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 57px;
  left: 140px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawshi;
  animation-duration:3s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawshi{
   
    0%{
      top: 57px;
      left: 140px;
    }
    30%{
      top: 52px;
      left: 225px;
    }
    40%{
      top: 95px;
    left: 215px;
    }
    70%{
      top: 105px;
      left: 130px;
     
    }
    100%{
      top: 210px;
      left: 95px;
      visibility: hidden;
    }
}


/* ㄖ */
.fingerri {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 75px;
  left: 110px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerri {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 75px;
  left: 110px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawri;
  animation-duration:3s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawri{
   
    0%{
      top: 75px;
      left: 110px;
    }
    25%{
      top: 195px;
      left: 110px;
      visibility: hidden;
    }
    25.5%{
      visibility: visible;
      top: 60px;
      left: 130px;
    }
    45%{
      top: 50px;
      left: 215px;
    }
    70%{
      top: 190px;
      left: 215px;
      visibility: hidden;
    }
    70.5%{
      top: 195px;
      left: 110px;
      visibility: visible;
    }
    85%{
      top: 190px;
      left: 215px;
    }
    85.5%{
      visibility: visible;
      top: 110px;
      left: 150px;
    }
    100%{
      top: 145px;
      left: 175px;
      visibility: hidden;
    }
}


/* ㄗ */
.fingerzi {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 65px;
  left: 105px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerzi {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 65px;
  left: 105px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawzi;
  animation-duration:3s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawzi{
   
    0%{
      top: 65px;
      left: 105px;
    }
    35%{
      top: 50px;
      left: 225px;  
    }
    65%{    
      top: 145px;
      left: 205px;
    }
    70%{
      top: 135px;
      left: 180px;
      visibility: hidden;
    }
    70.5%{
      top: 67px;
      left: 140px;
      visibility: visible;
    }
    100%{
      top: 207px;
      left: 140px;
      visibility: hidden;
    }
}


/* ㄘ */
.fingerci {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 100px;
  left: 95px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerci {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 100px;
  left: 95px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawci;
  animation-duration:3s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawci{
   
    0%{
      top: 100px;
      left: 95px;
    }
    25%{
      top: 85px;
      left: 225px;
      visibility: hidden;
    }
    25.5%{   
      visibility: visible; 
      top: 45px;
      left: 160px;
    }
    50%{
      top: 139px;
      left: 150px;
    }
    70%{
      top: 135px;
      left: 225px;  
    }
    100%{
      top: 215px;
      left: 165px;
      visibility: hidden;
    }
}


/* ㄙ */
.fingersi {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 65px;
  left: 165px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingersi {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 65px;
  left: 165px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawsi;
  animation-duration:3s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawsi{
   
    0%{
      top: 65px;
      left: 165px;
    }
    40%{
      top: 200px;
      left: 95px;
    }
    80%{   
      top: 167px;
      left: 210px;
      visibility: hidden;
    }
    80.5%{
      visibility: visible; 
      top: 147px;
      left: 210px;
    }
    
    100%{
      top: 197px;
      left: 240px;
      visibility: hidden;
    }
}


/* ㄧ */
.fingeryi {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 132px;
  left: 85px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingeryi {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 132px;
  left: 85px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawyi;
  animation-duration:1s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawyi{
   
    0%{
      top: 132px;
      left: 85px;
    }
    100%{
      top: 120px;
      left: 245px;
      visibility: hidden;
    }
}


/* ㄨ */
.fingerwu {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 102px;
  left: 115px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerwu {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 102px;
  left: 115px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawwu;
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawwu{
   
    0%{
      top: 102px;
      left: 115px;
    }
    50%{
      top: 192px;
      left: 225px;
      visibility: hidden; 
    }
    50.5%{
      visibility: visible;
      top: 62px;
      left: 200px;
    }
    100%{
      top: 200px;
      left: 115px;
      visibility: hidden;
    }
}


/* ㄩ */
.fingeryu {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 82px;
  left: 100px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingeryu {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 82px;
  left: 100px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawyu;
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawyu{
   
    0%{
      top: 82px;
      left: 100px;
    }
    33%{
      top: 192px;
      left: 100px;
    }
    66%{
      top: 175px;
      left: 225px;
      visibility: hidden;
    }
    66.5%{
      visibility: visible;
      top: 65px;
      left: 225px;
    }
    100%{
      top: 175px;
      left: 225px;
      visibility: hidden;
    }
}


/* ㄚ */
.fingera {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 52px;
  left: 110px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingera {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 52px;
  left: 110px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawa;
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawa{
   
    0%{
      top: 52px;
      left: 110px;
    }
    33%{
      top: 120px;
      left: 170px;
    }
    66%{
      top: 210px;
      left: 170px;
      visibility: hidden;
    }
    66.5%{
      visibility: visible;
      top: 52px;
      left: 220px;
    }
    100%{
      top: 120px;
      left: 170px;
      visibility: hidden;
    }
}


/* ㄛ */
.fingero {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 67px;
  left: 100px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingero {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 67px;
  left: 100px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawo;
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawo{
   
    0%{
      top: 67px;
      left: 100px;
    }
    45%{
      top: 50px;
      left: 230px;
      visibility: hidden;
    }
    45.5%{
      top: 70px;
      left: 170px;
      visibility: visible;
    }
    60%{
      top: 115px;
      left: 170px;
    }
    65%{
      top: 115px;
      left: 140px;
    }
    70%{
      top: 135px;
      left: 120px;
    }
    75%{
      top: 135px;
      left: 120px;
    }
    80%{
      top: 175px;
      left: 120px;
    }
    85%{
      top: 195px;
      left: 140px;
    }
    90%{
      top: 200px;
      left: 170px;
    }
    100%{
      top: 180px;
      left: 220px;
      visibility: hidden;
    }
}


/* ㄜ */
.fingere {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 95px;
  left: 100px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingere {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 95px;
  left: 100px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawe;
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawe{
   
    0%{
      top: 95px;
      left: 100px;
    }
    40%{
      top: 85px;
      left: 230px;
      visibility: hidden;
    }
    40.5%{
      top: 50px;
      left: 170px;
      visibility: visible;
    }
    60%{
      top: 135px;
      left: 165px;
    }
    65%{
      top: 135px;
      left: 135px;
    }
    70%{
      top: 155px;
      left: 115px;
    }
    75%{
      top: 155px;
      left: 115px;
    }
    80%{
      top: 185px;
      left: 115px;
    }
    85%{
      top: 205px;
      left: 135px;
    }
    90%{
      top: 210px;
      left: 165px;
    }
    100%{
      top: 200px;
      left: 215px;
      visibility: hidden;
    }
}


/* ㄝ */
.fingerae {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 125px;
  left: 100px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerae {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 125px;
  left: 100px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawae;
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawae{
    0%{
      top: 125px;
      left: 100px;
    }
    30%{
      top: 103px;
      left: 235px;
      visibility: hidden;
    }
    30.5%{
      visibility: visible;
      top: 65px;
      left: 130px;
    }
    60%{
      top: 195px;
      left: 140px;
    }
    80%{
      top: 195px;
      left: 220px;
    }
    80.5%{
      top: 60px;
      left: 200px;
    }
    100%{
      top: 165px;
      left: 195px;
      visibility: hidden;
    }
}


/* ㄞ */
.fingerai {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 65px;
  left: 100px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerai {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 65px;
  left: 100px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawai;
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawai{
   
    0%{
      top: 65px;
      left: 100px;
    }
    20%{
      top: 45px;
      left: 215px;
      visibility: hidden;
    }
    20.5%{
      top: 90px;
      left: 115px;
      visibility: visible;
    }
    35%{
      top: 130px;
      left: 105px;
    }
    50%{
      top: 110px;
      left: 215px;
    }
    75%{
      top: 210px;
      left: 185px;
      visibility: hidden;
    }
    75.5%{
      visibility: visible;
      top: 70px;
      left: 170px;
    }
   
    100%{
      top: 210px;
      left: 100px;
      visibility: hidden;
    }
}


/* ㄟ */
.fingerei {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 80px;
  left: 85px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerei {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 80px;
  left: 85px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawei;
  animation-duration:1s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawei{
   
    0%{
      top: 80px;
      left: 85px;
    }
    20%{
      top: 65px;
      left: 110px;
    }
    65%{
      top: 135px;
      left: 160px;
    }
    100%{
      top: 185px;
      left: 230px;
      visibility: hidden;
    }
}



/* ㄠ */
.fingerao {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 55px;
  left: 155px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerao {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 55px;
  left: 155px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawao;
  animation-duration:3s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawao{
   
    0%{
      top: 55px;
      left: 155px;
    }
    20%{
      top: 115px;
      left: 115px;
    }
    30%{
      top: 135px;
      left: 150px;
    }
    30.5%{
      top: 90px;
      left: 205px;
    }
    60%{
      top: 200px;
      left: 110px;
    }
    80%{
      top: 185px;
      left: 200px;
      visibility: hidden;
    }
    80.5%{
      visibility: visible;
      top: 160px;
      left: 200px;
    }
    100%{
      top: 200px;
      left: 225px;
      visibility: hidden;
    }
}


/* ㄡ */
.fingerou {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 75px;
  left: 135px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerou {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 75px;
  left: 135px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawou;
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawou{
   
    0%{
      top: 75px;
      left: 135px;
    }
    30%{
      top: 55px;
      left: 220px;
    }
    66%{
      top: 205px;
      left: 105px;
    }
    66.5%{
      top: 120px;
      left: 125px;
    }
    60%{
      top: 200px;
      left: 110px;
    }
    100%{
      top: 200px;
      left: 235px;
      visibility: hidden;
    }
}



/* ㄢ */
.fingeran {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 58px;
  left: 120px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingeran {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 58px;
  left: 120px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawan;
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawan{
   
    0%{
      top: 58px;
      left: 120px;
    }
    30%{
      top: 40px;
      left: 210px;
    }
    40%{
      top: 95px;
      left: 186px;
      visibility: hidden;
    }
    40.5%{
      visibility: visible;
      top: 70px;
      left: 126px;
    }
    50%{
      top: 120px;
      left: 106px;
    }
    80%{
      top: 110px;
      left: 225px;
    }
    100%{
      top: 215px;
      left: 165px;
      visibility: hidden;
    }
}



/* ㄣ */
.fingeren {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 58px;
  left: 115px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingeren {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 58px;
  left: 115px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawen;
  animation-duration:1.5s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawen{
    0%{
      top: 58px;
      left: 115px;
    }
    33%{
      top: 135px;
      left: 100px;
    }
    66%{
      top: 120px;
      left: 235px;
    }
    100%{
      top: 210px;
      left: 177px;
      visibility: hidden;
    }
}

/* ㄤ */
.fingerang {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 118px;
  left: 105px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerang {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 118px;
  left: 105px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawang;
  animation-duration:3s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawang{
    0%{
      top: 118px;
      left: 105px;
    }
    33%{
      top: 97px;
      left: 225px;
      visibility: hidden;
    }
    33.5%{
      visibility: visible;
      top: 47px;
      left: 175px;
    }
    50%{
      top: 177px;
      left: 125px;
    }
    66%{
      top: 205px;
      left: 95px;
      visibility: hidden;
    }
    66.5%{
      visibility: visible;
      top: 125px;
      left: 170px;
    }
    80%{
      top: 210px;
      left: 170px;
    }
    100%{
      top: 210px;
      left: 240px;
      visibility: hidden;
    }
}


/* ㄥ */
.fingereng {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 68px;
  left: 160px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingereng {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 68px;
  left: 160px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: draweng;
  animation-duration:1.5s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes draweng{
    0%{
      top: 68px;
      left: 160px;
    }
    50%{
      top: 190px;
      left: 90px;
    }
    100%{
      top: 180px;
      left: 230px;
      visibility: hidden;
    }
}



/* ㄦ */
.fingerer {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 68px;
  left: 145px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerer {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 68px;
  left: 145px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawer;
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawer{
    0%{
      top: 68px;
      left: 145px;
    }
    50%{
      top: 200px;
      left: 105px;
      visibility: hidden;
    }
    50.5%{
      visibility: visible;
      top: 60px;
      left: 195px;
    }
    80%{
      top: 200px;
      left: 195px;
    }
    90%{
      top: 200px;
      left: 265px;
    }
    100%{
      top: 180px;
      left: 255px;
      visibility: hidden;
    }
}
