
/* ㄅ */
.fingerb {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 40px;
    left: 125px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerb {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 40px;
    left: 125px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawb;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }

  @keyframes drawb{
     
      0%{
        top: 40px;
        left: 125px;
      }
      15%{
        top: 95px;
        left: 97px;
      }
      40%{
        top: 75px;
        left: 220px;
      }
      50%{
        top: 90px;
        left: 230px;
      }
      70%{
        top: 170px;
        left: 207px;
      }
      90%{
        top: 210px;
        left: 172px;
      }
      100%{
        top: 195px;
        left: 152px;
        visibility: hidden;
       
      }
}


/* ㄆ */
.fingerp {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 45px;
    left: 130px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerp {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 45px;
    left: 130px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawp;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }

  @keyframes drawp{
     
      0%{
        top: 45px;
        left: 130px;
      }
      25%{
        top: 105px;
        left: 100px;
      }
      50%{
        top: 80px;
        left: 215px;
      }
      55%{
        top: 90px;
        left: 225px;
      }
      75%{
        top: 220px;
        left: 100px;
        visibility: hidden;
      }
      75.5%{
        visibility: visible;
        top: 141px;
        left: 135px;
      }
      100%{
        top: 211px;
        left: 225px;
        visibility: hidden;
       
      }
  }



/* ㄇ */
.fingerm {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 75px;
    left: 95px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerm {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 75px;
    left: 95px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawm;
    animation-duration:3s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }

  @keyframes drawm{
     
      0%{
        top: 75px;
        left: 95px;
      }
      33%{
        top: 178px;
        left: 95px;
        visibility: hidden;
      }
      33.5%{
        visibility: visible;
        top: 75px;
        left: 95px;
      }
      66%{
        top: 55px;
        left: 225px;
      }
      100%{
        top: 198px;
        left: 225px;
        visibility: hidden;
      }
     
}


/* ㄈ */
.fingerf {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 65px;
    left: 225px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerf {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 65px;
    left: 225px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawf;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }

  @keyframes drawf{
     
      0%{
        top: 65px;
        left: 225px;
      }
      33%{
        top: 80px;
        left: 105px;
      }
      66%{
        top: 180px;
        left: 115px;
      }
      70%{
        top: 190px;
        left: 130px;
      }
      100%{
        top: 190px;
        left: 230px;
        visibility: hidden;
      }
     
}


/* ㄉ */
.fingerd {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 45px;
    left: 125px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerd {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 45px;
    left: 125px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawd;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }

  @keyframes drawd{
     
      0%{
        top: 45px;
        left: 125px;
      }
      20%{
        top: 105px;
        left: 100px;
      }
      40%{
        top: 85px;
        left: 230px;
      }
      40.2%{
        top: 95px;
        left: 240px;
      }
      65%{
        top: 215px;
        left: 180px;
      }
      67%{
        top: 195px;
        left: 160px;
        visibility: hidden;
      }
      68.5%{
        visibility: visible;
        top: 115px;
        left: 145px;
      }
      100%{
        top: 200px;
        left: 85px;
        visibility: hidden;
      }
}


/* ㄊ */
.fingert {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 125px;
    left: 100px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingert {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 125px;
    left: 100px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawt;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }

  @keyframes drawt{
     
      0%{
        top: 125px;
        left: 100px;
      }
      30%{
        top: 105px;
        left: 230px;
        visibility: hidden;
      }
      30.5%{
        visibility: visible;
        top: 50px;
        left: 170px;
      }
      60%{
        top: 205px;
        left: 115px;
      }
      70%{
        top: 175px;
        left: 205px;
      }
      85%{
        top: 170px;
        left: 207px;
        visibility: hidden;
      }
      85.2%{
        visibility: visible;
        top: 155px;
        left: 195px;
      }
      100%{
        top: 200px;
        left: 230px;
        visibility: hidden;
       
      }
}


/* ㄋ */
.fingern {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 47px;
    left: 115px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingern {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 47px;
    left: 115px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawn;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }

  @keyframes drawn{
     
      0%{
        top: 47px;
        left: 115px;
      }
      20%{
        top: 42px;
        left: 175px;
      }
      40%{
        top: 110px;
        left: 135px;
      }
      70%{
        top: 95px;
        left: 215px;
      }
      75%{
        top: 105px;
        left: 220px;
      }
      90%{
        top: 210px;
        left: 170px;
      }
      100%{

        top: 195px;
        left: 140px;
        visibility: hidden;
      }

}


/* ㄌ */
.fingerl {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 55px;
    left: 125px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerl {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 47px;
    left: 115px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawl;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }

  @keyframes drawl{
     
      0%{
        top: 47px;
        left: 115px;
      }
      20%{
        top: 42px;
        left: 175px;
      }
      40%{
        top: 110px;
        left: 135px;
      }
      70%{
        top: 95px;
        left: 215px;
      }
      75%{
        top: 105px;
        left: 220px;
      }
      90%{
        top: 210px;
        left: 170px;
      }
      100%{

        top: 195px;
        left: 140px;
        visibility: hidden;
      }

}


/* ㄍ */
.fingerg {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 55px;
  left: 145px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerg {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 55px;
  left: 145px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawg;
  animation-duration:4s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawg{
   
    0%{
      top: 55px;
      left: 145px;
    }
    25%{
      top: 130px;
      left: 105px;
    }
    50%{
      top: 205px;
      left: 145px;
      visibility: hidden;
    }
    50.5%{
      visibility: visible;
      top: 55px;
      left: 215px;
    }
    75%{
      top: 130px;
      left: 175px;
    }
    100%{

      top: 205px;
      left: 215px;
      visibility: hidden;
    }

}