
/* b */
.fingerb {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 40px;
    left: 125px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerb {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 40px;
    left: 125px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawb;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }

  @keyframes drawb{
     
      0%{
        top: 40px;
        left: 125px;
      }
      15%{
        top: 95px;
        left: 97px;
      }
      40%{
        top: 75px;
        left: 220px;
      }
      50%{
        top: 90px;
        left: 230px;
      }
      70%{
        top: 170px;
        left: 207px;
      }
      90%{
        top: 210px;
        left: 172px;
      }
      100%{
        top: 195px;
        left: 152px;
        visibility: hidden;
       
      }
  }


/* f1 */

.fingerf1 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: -110px;
    left: -155px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
.moveFingerf11 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 20px;
    left: -155px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFingerf12 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -110px;
    left: -155px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFingerf13 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -110px;
    left: -100px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFingerf14 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -45px;
    left: -155px;
    z-index: 10;
}

.moveFingerf15 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -45px;
    left: -155px;
    z-index: 10;
}

.moveFingerf16 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -45px;
    left: -155px;
    z-index: 10;
}

.moveFingerf17 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -45px;
    left: -100px;
    z-index: 10;
}

.moveFingerf18 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -45px;
    left: -100px;
    z-index: 10;
}
