
/* 1 */
.finger1 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: -65px;
    left: -200px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
.moveFinger11 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -85px;
    left: -165px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger12 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -105px;
    left: -145px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger13 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 35px;
    left: -145px;
    z-index: 10;
    animation-delay: 1s;
}
.moveFinger14 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -50px;
    left: -120px;
    z-index: 10;
    animation-delay: 1s;
}
.moveFinger15 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -20px;
    left: -145px;
    z-index: 10;
}

.moveFinger16 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 20px;
    left: -170px;
    z-index: 10;
}

.moveFinger17 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 20px;
    left: -105px;
    z-index: 10;
}
/* 2 */
.finger2 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: -95px;
    left: -175px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
.moveFinger21 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -105px;
    left: -145px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger22 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -95px;
    left: -120px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger23 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -70px;
    left: -115px;
    z-index: 10;
    animation-delay: 1s;
}
.moveFinger24 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -50px;
    left: -120px;
    z-index: 10;
    animation-delay: 1s;
}
.moveFinger25 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -20px;
    left: -145px;
    z-index: 10;
}

.moveFinger26 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 20px;
    left: -170px;
    z-index: 10;
}

.moveFinger27 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 20px;
    left: -105px;
    z-index: 10;
}


/* 3 */
.finger3 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: -95px;
    left: -175px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
.moveFinger31 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -105px;
    left: -145px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger32 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -95px;
    left: -120px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger33 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -70px;
    left: -115px;
    z-index: 10;
    animation-delay: 1s;
}
.moveFinger34 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -50px;
    left: -135px;
    z-index: 10;
    animation-delay: 1s;
}
.moveFinger35 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -40px;
    left: -160px;
    z-index: 10;
}

.moveFinger36 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -35px;
    left: -130px;
    z-index: 10;
}

.moveFinger37 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -5px;
    left: -110px;
    z-index: 10;
}

.moveFinger38 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 15px;
    left: -120px;
    z-index: 10;
}

.moveFinger39 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 20px;
    left: -140px;
    z-index: 10;
}
.moveFinger310 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 17px;
    left: -180px;
    z-index: 10;
}
/* 4 */
.finger4 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: -110px;
    left: -145px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
.moveFinger41 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -10px;
    left: -200px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger42 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -10px;
    left: -100px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger43 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -110px;
    left: -125px;
    z-index: 10;
    animation-delay: 1s;
}
.moveFinger44 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -110px;
    left: -125px;
    z-index: 10;
    animation-delay: 1s;
}
.moveFinger45 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 25px;
    left: -125px;
    z-index: 10;
}

.moveFinger46 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 25px;
    left: -125px;
    z-index: 10;
}

.moveFinger47 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 25px;
    left: -125px;
    z-index: 10;
}

.moveFinger48 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 25px;
    left: -125px;
    z-index: 10;
}

.moveFinger49 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 25px;
    left: -125px;
    z-index: 10;
}
/* num 5 */
.finger5 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: -100px;
    left: -115px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
.moveFinger51 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -100px;
    left: -170px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger52 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -100px;
    left: -170px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger53 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -45px;
    left: -170px;
    z-index: 10;
    animation-delay: 1s;
}
.moveFinger54 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -45px;
    left: -130px;
    z-index: 10;
    animation-delay: 1s;
}
.moveFinger55 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -15px;
    left: -110px;
    z-index: 10;
}

.moveFinger56 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 20px;
    left: -145px;
    z-index: 10;
}

.moveFinger57 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 14px;
    left: -180px;
    z-index: 10;
}

.moveFinger58 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 14px;
    left: -180px;
    z-index: 10;
}

/* num 6 */

.finger6 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: -100px;
    left: -115px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
.moveFinger61 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -95px;
    left: -155px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger62 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -45px;
    left: -175px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger63 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 5px;
    left: -165px;
    z-index: 10;
    animation-delay: 1s;
}
.moveFinger64 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 20px;
    left: -135px;
    z-index: 10;
    animation-delay: 1s;
}
.moveFinger65 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -10px;
    left: -105px;
    z-index: 10;
}

.moveFinger66 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -45px;
    left: -125px;
    z-index: 10;
}

.moveFinger67 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -40px;
    left: -160px;
    z-index: 10;
}

.moveFinger68 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -40px;
    left: -160px;
    z-index: 10;
}


/* num 7 */

.finger7 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: -100px;
    left: -180px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
.moveFinger71 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -100px;
    left: -140px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger72 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -100px;
    left: -105px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger73 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -100px;
    left: -105px;
    z-index: 10;
    animation-delay: 1s;
}
.moveFinger74 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -40px;
    left: -125px;
    z-index: 10;
    animation-delay: 1s;
}
.moveFinger75 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 20px;
    left: -155px;
    z-index: 10;
}

.moveFinger76 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 20px;
    left: -155px;
    z-index: 10;
}


/* num 8 */

.finger8 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: -90px;
    left: -110px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
.moveFinger81 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -100px;
    left: -120px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger82 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -104px;
    left: -145px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger83 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -100px;
    left: -165px;
    z-index: 10;
    animation-delay: 1s;
}
.moveFinger84 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -90px;
    left: -170px;
    z-index: 10;
    animation-delay: 1s;
}
.moveFinger85 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -70px;
    left: -172px;
    z-index: 10;
}

.moveFinger86 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -15px;
    left: -105px;
    z-index: 10;
}
.moveFinger87 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 5px;
    left: -105px;
    z-index: 10;
}

.moveFinger88 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 20px;
    left: -125px;
    z-index: 10;
}
.moveFinger89 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 25px;
    left: -145px;
    z-index: 10;
}
.moveFinger810 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 20px;
    left: -165px;
    z-index: 10;
}
.moveFinger811 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 5px;
    left: -175px;
    z-index: 10;
}
.moveFinger812 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -15px;
    left: -175px;
    z-index: 10;
}
.moveFinger813 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -70px;
    left: -110px;
    z-index: 10;
}

/* num 9 */

.finger9 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: -90px;
    left: -110px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
.moveFinger91 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -100px;
    left: -120px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger92 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -104px;
    left: -145px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger93 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -100px;
    left: -165px;
    z-index: 10;
    animation-delay: 1s;
}
.moveFinger94 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -90px;
    left: -170px;
    z-index: 10;
    animation-delay: 1s;
}
.moveFinger95 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -70px;
    left: -172px;
    z-index: 10;
}

.moveFinger96 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -40px;
    left: -170px;
    z-index: 10;
}
.moveFinger97 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -35px;
    left: -140px;
    z-index: 10;
}

.moveFinger98 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -45px;
    left: -110px;
    z-index: 10;
}
.moveFinger99 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -5px;
    left: -110px;
    z-index: 10;
}
.moveFinger910 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 15px;
    left: -130px;
    z-index: 10;
}
.moveFinger911 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 20px;
    left: -150px;
    z-index: 10;
}
.moveFinger912 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 20px;
    left: -180px;
    z-index: 10;
}


/* num 0 */

.finger0 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: -105px;
    left: -140px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
.moveFinger01 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -85px;
    left: -170px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger02 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -5px;
    left: -175px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger03 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 10px;
    left: -165px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger04 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 23px;
    left: -145px;
    z-index: 10;
    animation-delay: 1s;
}
.moveFinger05 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 10px;
    left: -115px;
    z-index: 10;
}

.moveFinger06 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -5px;
    left: -110px;
    z-index: 10;
}
.moveFinger07 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -75px;
    left: -110px;
    z-index: 10;
}

.moveFinger08 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -95px;
    left: -120px;
    z-index: 10;
}
.moveFinger09 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -105px;
    left: -140px;
    z-index: 10;
}
.moveFinger010 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 15px;
    left: -130px;
    z-index: 10;
}
.moveFinger011 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 20px;
    left: -150px;
    z-index: 10;
}
.moveFinger012 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 20px;
    left: -180px;
    z-index: 10;
}