



/* 1 */
.finger1 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 100px;
    left: 110px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFinger1 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 100px;
    left: 110px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: draw1;
    animation-duration:5s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }

  @keyframes draw1{
      0%{
        top: 100px;
        left: 110px;
      }
      23%{
        top: 80px;
        left: 145px;
      }
      46%{
        top: 55px;
        left: 165px;
      }
      99%{
        top: 195px;
        left: 165px;
      }
      100%{
        top: 195px;
        left: 165px;
        visibility: hidden;
       
      }
  }


/* 2 */
.finger2 {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 71px;
  left: 131px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFinger2 {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 71px;
  left: 131px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: draw2;
  animation-duration:5s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes draw2{
    0%{
      top: 71px;
      left: 131px;
    }
    23%{
      top: 63px;
      left: 168px;
    }
    30%{
      top: 70px;
      left: 186px;
    }
    46%{
      top: 93px;
      left: 197px;
    }
    80%{
      top: 185px;
      left: 134px;
    }
    100%{
      top: 185px;
      left: 202px;
      visibility: hidden;
     
    }
}

.finger3 {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 73px;
  left: 131px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFinger3 {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 73px;
  left: 131px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: draw3;
  animation-duration:5s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes draw3{
    0%{
      top: 73px;
      left: 131px;
    }
    10%{
      top: 62px;
      left: 166px;
    }
    20%{
      top: 86px;
      left: 196px;
    }
    30%{
      top: 100px;
      left: 196px;
    }
    40%{
      top: 121px;
      left: 167px;
    }
    50%{
      top: 121px;
      left: 143px;
    }
    60%{
      top: 121px;
      left: 165px;
    }
    70%{
      top: 142px;
      left: 193px;
    }
    80%{
      top: 159px;
      left: 201px;
    }
    90%{
      top: 186px;
      left: 166px;
    }
    100%{
      top: 179px;
      left: 128px;
      visibility: hidden;
     
    }
}

/* 4 */
.finger4 {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 55px;
  left: 164px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFinger4 {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 55px;
  left: 164px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: draw4;
  animation-duration:5s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes draw4{
    0%{
      top: 55px;
      left: 164px;
    }
    40%{
      top: 155px;
      left: 114px;
    }
    80%{
      visibility: hidden;
      top: 155px;
      left: 204px;
    }
    80.5%{
      top: 55px;
      left: 183px;
      visibility: visible;
    }
    100%{
      top: 188px;
      left: 183px;
      visibility: hidden;
     
    }
}

/* 5 */
.finger5 {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 65px;
  left: 139px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFinger5 {
  width: 65px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 65px;
  left: 139px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: draw5;
  animation-duration:5s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes draw5{
    0%{
      top: 65px;
      left: 139px;
    }
    20%{
      top: 65px;
      left: 197px;
    }
    21%{
      top: 65px;
      left: 139px;
    }
    45%{
      top: 118px;
      left: 139px;
    }
    55%{
      top: 118px;
      left: 168px;
    }
    65%{
      top: 130px;
      left: 192px;
    }
    75%{
      top: 155px;
      left: 199px;
    }
    85%{
      top: 175px;
      left: 191px;
    }
    90%{
      top: 186px;
      left: 169px;
    }
    100%{
      top: 179px;
      left: 127px;
      visibility: hidden;
     
    }
}

/* 6 */
.finger6 {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 63px;
  left: 200px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFinger6 {
  width: 65px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 63px;
  left: 200px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: draw6;
  animation-duration:5s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes draw6{
    0%{
      top: 63px;
      left: 200px;
    }
    10%{
      top: 60px;
      left: 175px;
    }
    20%{
      top: 67px;
      left: 154px;
    }
    35%{
      top: 86px;
      left: 142px;
    }
    45%{
      top: 120px;
      left: 133px;
    }
    55%{
      top: 160px;
      left: 133px;
    }
    60%{
      top: 179px;
      left: 145px;
    }
    65%{
      top: 188px;
      left: 170px;
    }
    70%{
      top: 177px;
      left: 194px; 
    }
    75%{
      top: 151px;
      left: 204px;
    }
    80%{
      top: 120px;
      left: 195px;
    }
    90%{
      top: 117px;
      left: 175px;
    }
    100%{
      top: 124px;
      left: 151px;
      visibility: hidden;
     
    }
}

/* 7 */
.finger7 {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 65px;
  left: 128px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFinger7 {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 65px;
  left: 128px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: draw7;
  animation-duration:4s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes draw7{
    0%{
      top: 65px;
      left: 128px;
    }
    40%{
      top: 65px;
      left: 204px;
    }
    
    100%{
      top: 187px;
      left: 151px;
      visibility: hidden;
     
    }
}

/* 8 */
.finger8 {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 60px;
  left: 165px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFinger8 {
  width: 65px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 60px;
  left: 165px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: draw8;
  animation-duration:7s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes draw8{
    0%{
      top: 60px;
      left: 165px;
    }
    6%{
      top: 67px;
      left: 146px;
    }
    11%{
      top: 77px;
      left: 137px;
    }
    16%{
      top: 86px;
      left: 134px;
    }
    21%{
      top: 98px;
      left: 136px;
    }
    32%{
      top: 144px;
      left: 200px;
    }
    37%{
      top: 158px;
      left: 204px;
    }
    42%{
      top: 178px;
      left: 197px;
    }
    47%{
      top: 186px;
      left: 183px; 
    }
    52%{
      top: 186px;
      left: 164px; 
    }
    57%{
      top: 181px;
      left: 141px;
    }
    62%{
      top: 170px;
      left: 131px;
    }
    67%{
      top: 161px;
      left: 133px;
    }
    75%{
      top: 146px;
      left: 137px;
    }
    82%{
      top: 96px;
      left: 197px;
    }
    87%{
      top: 83px;
      left: 202px;
    }
    92%{
      top: 71px;
      left: 197px;
    }
    97%{
      top: 64px;
      left: 188px;
    }
    100%{
      top: 59px;
      left: 168px;
      visibility: hidden;
     
    }
}

/* 9 */
.finger9 {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 81px;
  left: 198px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFinger9 {
  width: 65px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 81px;
  left: 198px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: draw9;
  animation-duration:6s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes draw9{
    0%{
      top: 81px;
      left: 198px;
    }
    5%{
      top: 69px;
      left: 188px;
    }
    10%{
      top: 63px;
      left: 164px;
    }
    15%{
      top: 69px;
      left: 144px;
    }
    20%{
      top: 80px;
      left: 136px;
    }
    25%{
      top: 86px;
      left: 134px;
    }
    35%{
      top: 107px;
      left: 132px;
    }
    40%{
      top: 125px;
      left: 141px;
    }
    50%{
      top: 131px;
      left: 167px;
    }
    60%{
      top: 123px;
      left: 199px;
    }
    70%{
      top: 75px;
      left: 196px; 
    }
    75%{
      top: 121px;
      left: 200px;
    }
    85%{
      top: 157px;
      left: 200px;
    }
    90%{
      top: 178px;
      left: 185px;
    }
    95%{
      top: 187px;
      left: 160px;
    }
    100%{
      top: 184px;
      left: 132px;
      visibility: hidden;
     
    }
}


/* 0 */
.finger0 {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 61px;
  left: 167px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFinger0 {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 61px;
  left: 167px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: draw0;
  animation-duration:5s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes draw0{
    0%{
      top: 61px;
      left: 167px;
    }
    10%{
      top: 68px;
      left: 144px;
    }
    20%{
      top: 84px;
      left: 136px;
    }
    30%{
      top: 129px;
      left: 131px;
    }
    40%{
      top: 170px;
      left: 138px;
    }
    50%{
      top: 184px;
      left: 154px;
    }
    60%{
      top: 184px;
      left: 189px;
    }
    70%{
      top: 146px;
      left: 203px;
    }
    80%{
      top: 92px;
      left: 203px;
    }
    90%{
      top: 69px;
      left: 189px;
    }
    100%{
      top: 61px;
      left: 167px;
      visibility: hidden;
     
    }
}