body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video {
    position: absolute;
    top: 45px;
    left: 40px;
    z-index: 10;
    height: 240px;
}

.anvas {
    /* border: 1px black solid; */
    width: 295px;
    height: 295px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 50;
}


/* .anvas87 {
    border: 1px black solid;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
} */

.draw {
    /* border: 1px blue solid; */
    width: 295px;
    height: 295px;
}


/* .draw78 {
    border: 1px blue solid;
    width: 370px;
    height: 370px;
} */


/* .draw87 {
    border: 1px blue solid; */


/* position: absolute; */


/* width: 310px;
    height: 310px; */


/* z-index: 40; */


/*} */


/* .write87 {
    position: absolute;
    left: 53.3%;
    top: 8%;
    z-index: 10;
} */

.speaker {
    position: absolute;
    left: -60px;
    bottom: 10px;
    height: 40px;
    z-index: 10;
}

.tool {
    position: absolute;
    right: -85px;
    bottom: 0px;
    width: 70px;
    height: 130px;
    background-color: khaki;
    border-radius: 7%;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    opacity: 0.9;
}

.again {
    position: absolute;
    right: 17px;
    bottom: 0px;
    height: 70px;
    z-index: 10;
    transform: rotate(-130deg);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

.reset {
    position: absolute;
    right: 10px;
    bottom: 70px;
    height: 50px;
    z-index: 10;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

#finger {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    /* top: -130px;
    left: -185px; */
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

.moveFinger1 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -65px;
    left: -215px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger2 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -80px;
    left: -145px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger3 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -90px;
    left: -85px;
    z-index: 10;
    animation-delay: 1s;
}

.moveFinger4 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -75px;
    left: -70px;
    z-index: 10;
}

.moveFinger5 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -5px;
    left: -100px;
    z-index: 10;
}

.moveFinger6 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: -5px;
    left: -100px;
    z-index: 10;
}

.moveFinger7 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 45px;
    left: -130px;
    z-index: 10;
}

.moveFinger8 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 30px;
    left: -155px;
    z-index: 10;
}

.moveFinger9 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 130px;
    left: -135px;
    z-index: 10;
}

.moveFinger10 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1.5s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 95px;
    left: -176px;
    z-index: 10;
}


/* .write {
    position: absolute;
    left: 26.3%;
    top: 18%;
    z-index: 10;
}

.write2 {
    position: absolute;
    left: 7.3%;
    top: 18%;
    z-index: 10;
} */

.zhuyin {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.word {
    height: 300px;
    position: relative;
    z-index: 1;
}

.score {
    /* border: 1px solid black; */
    margin-top: 10px;
    line-height: 50px;
    text-align: center;
    width: 100px;
    height: 50px;
    background-color: khaki;
    border-radius: 7%;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    opacity: .90;
}

.result {
    width: 500px;
    height: 500px;
    position: relative;
    z-index: 205;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    /* opacity: .90; */
}

.challengeAgain {
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 10px;
    background-color: burlywood;
    text-align: center;
    border-radius: 10px;
}

.nextLevel {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    background-color: burlywood;
    text-align: center;
    border-radius: 10px;
}

.status {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    padding: 5px;
}

.black_overlay {
    visibility: hidden;
    position: absolute;
    z-index: 50;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    -moz-opacity: 0.8;
    opacity: .90;
    filter: alpha(opacity=80);
    display: flex;
    align-items: center;
    justify-content: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: xx-large;
}

.props {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.props div {
    background-color: darkcyan;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}