
/* a1 */
.fingera1 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 50px;
    left: 120px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingera1 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 50px;
    left: 120px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawa1;
    animation-duration:7s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }

  @keyframes drawa1{
     
      0%{
        top: 50px;
        left: 120px;
      }
      15%{
        top: 185px;
        left: 70px;
        visibility: hidden;
      }
      15.4%{
        visibility: visible;
        top: 50px;
        left: 135px;
      }
      30%{
        top: 185px;
        left: 185px;
        visibility: hidden;
      }
      30.4%{
        visibility: visible;
        top: 145px;
        left: 95px;
      }
      40%{
        top: 145px;
        left: 155px;
        visibility: hidden;
      }
      40.4%{
        visibility: visible;
        top: 135px;
        left: 230px;
      }
      45%{
        top: 130px;
        left: 240px;
      }
      50%{
        top: 130px;
        left: 260px;
      }
      55%{
        top: 138px;
        left: 275px;
      }
      60%{
        top: 185px;
        left: 275px;
        visibility: hidden;
      }
      60.5%{
        visibility: visible;
        top: 155px;
        left: 275px;
      }
      70%{
        top: 165px;
        left: 230px;
      }
      80%{
        top: 185px;
        left: 230px;
      }
      90%{
        top: 190px;
        left: 240px;
      }
      100%{
        top: 180px;
        left: 270px;
        visibility: hidden;
      }
  }

  /* b1 */
.fingerb1 {
  visibility: visible;
  width: 50px;
  height: 100px;
  transform: rotate(300deg);
  position: absolute;
  top: 55px;
  left: 80px;
  z-index: 30;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


.moveFingerb1 {
  width: 50px;
  height: 100px;
  transform: scale(4);
  transition: all 1s ease-out;
  transform: rotate(300deg);
  position: absolute;
  top: 55px;
  left: 80px;
  z-index: 10;
  /* animation-delay: 1s; */
  animation-name: drawb1;
  animation-duration:7s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  /* animation-iteration-count:infinite; */
  /* animation-timing-function:step-start; */
}

@keyframes drawb1{
   
    0%{
      top: 55px;
      left: 80px;
    }
    15%{
      top: 185px;
      left: 80px;
      visibility: hidden;
    }
    15.4%{
      visibility: visible;
      top: 55px;
      left: 80px;
    }
    20%{
      top: 55px;
      left: 140px; 
    }
    25%{
      top: 85px;
      left: 155px;
    }
    30%{
      top: 115px;
      left: 125px;
    }
    35%{
      top: 115px;
      left: 95px;
    }
    40%{
      top: 115px;
      left: 125px;
    }
    50%{
      top: 155px;
      left: 165px;
    }
    55%{
      top: 185px;
      left: 135px;
    }
    60%{
      top: 185px;
      left: 95px;
      visibility: hidden;
    }
    60.5%{
      visibility: visible;
      top: 105px;
      left: 215px;
    }
    75%{
      top: 185px;
      left: 215px;
      visibility: hidden;
    }
    75.5%{
      visibility: visible;
      top: 140px;
      left: 225px;
    }
    80%{
      top: 130px;
      left: 245px;
    }
    85%{
      top: 150px;
      left: 265px;
    }
    90%{
      top: 180px;
      left: 260px;
    }
    95%{
      top: 190px;
      left: 245px;
    }
    100%{
      top: 180px;
      left: 225px;
      visibility: hidden;
    }
}


  /* c1 */
  .fingerc1 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 70px;
    left: 160px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  }
  
  
  .moveFingerc1 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 70px;
    left: 160px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawc1;
    animation-duration:5s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }
  
  @keyframes drawc1{
     
      0%{
        top: 70px;
        left: 160px;
      }
      15%{
        top: 60px;
        left: 120px;
      }
      30%{
        top: 80px;
        left: 90px;
      }
      45%{
        top: 150px;
        left: 80px;
      }
      60%{
        top: 180px;
        left: 120px;
      }
      75%{
        top: 165px;
        left: 160px;
        visibility: hidden;
      }
      75.5%{
        visibility: visible;
        top: 135px;
        left: 250px;
      }
      80%{
        top: 130px;
        left: 230px;
      }
      85%{
        top: 150px;
        left: 215px;
      }
      90%{
        top: 180px;
        left: 215px;
      }
      95%{
        top: 190px;
        left: 235px;
      }
      100%{
        top: 185px;
        left: 250px;
        visibility: hidden;
      }
      
  }
  

  /* d1 */
  .fingerd1 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 50px;
    left: 70px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  }
  
  
  .moveFingerd1 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 50px;
    left: 70px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawd1;
    animation-duration:5s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }
  
  @keyframes drawd1{
     
      0%{
        top: 50px;
        left: 70px;
      }
      15%{
        top: 185px;
        left: 70px;
      }
      15.5%{
        top: 50px;
        left: 70px;
      }
      25%{
        top: 55px;
        left: 140px;
      }
      35%{
        top: 105px;
        left: 170px;
      }
      40%{
        top: 165px;
        left: 160px;
      }
      50%{
        top: 185px;
        left: 130px;
      }
      60%{
        top: 185px;
        left: 70px;
        visibility: hidden;
      }
      60.5%{
        visibility: visible;
        top: 105px;
        left: 270px;
      }
      70%{
        top: 185px;
        left: 270px;
        visibility: hidden;
      }
      70.5%{
        visibility: visible;
        top: 140px;
        left: 256px;
      }
      75%{
        top: 130px;
        left: 236px;
      }
      80%{
        top: 160px;
        left: 216px;
      }
      87%{
        top: 160px;
        left: 216px;
      }
      90%{
        top: 180px;
        left: 220px;
      }
      95%{
        top: 190px;
        left: 240px;
      }
      100%{
        top: 180px;
        left: 260px;
        visibility: hidden;
      }
      
  }

   /* e1 */
   .fingere1 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 50px;
    left: 90px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  }
  
  
  .moveFingere1 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 50px;
    left: 90px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawe1;
    animation-duration:5s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }
  
  @keyframes drawe1{
     
      0%{
        top: 50px;
        left: 90px;
      }
      15%{
        top: 50px;
        left: 155px;
        visibility: hidden;
      }
      15.5%{
        visibility: visible;
        top: 50px;
        left: 90px;
      }
      35%{
        top: 185px;
        left: 90px;
      }
      50%{
        top: 185px;
        left: 155px;
        visibility: hidden;
      }
      50.5%{
        visibility: visible;
        top: 115px;
        left: 100px;
      }
      60%{
        top: 115px;
        left: 150px;
        visibility: hidden;
      }
      60.5%{
        visibility: visible;
        top: 160px;
        left: 205px;
      }
      70%{
        top: 160px;
        left: 250px;
      }
      75%{
        top: 140px;
        left: 250px;
      }
      77%{
        top: 130px;
        left: 240px;
      }
      80%{
        top: 130px;
        left: 220px;
      }
      85%{
        top: 160px;
        left: 205px;
      }

      90%{
        top: 180px;
        left: 210px;
      }
      95%{
        top: 190px;
        left: 230px;
      }
      100%{
        top: 180px;
        left: 260px;
        visibility: hidden;
      }
      
  }

   /* f1 */
   .fingerf1 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 50px;
    left: 100px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  }
  
  
  .moveFingerf1 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 50px;
    left: 100px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawf1;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }
  
  @keyframes drawf1{
     
      0%{
        top: 50px;
        left: 100px;
      }
      20%{
        top: 50px;
        left: 160px;
        visibility: hidden;
      }
      20.5%{
        visibility: visible;
        top: 50px;
        left: 100px;
      }
      40%{
        top: 180px;
        left: 100px;
        visibility: hidden;
      }
      40.5%{
        visibility: visible;
        top: 120px;
        left: 100px;
      }
      60%{
        top: 115px;
        left: 150px;
        visibility: hidden;
      }
      60.5%{
        visibility: visible;
        top: 90px;
        left: 250px;
      }
      70%{
        top: 90px;
        left: 230px;
      }
      85%{
        top: 190px;
        left: 230px;
        visibility: hidden;
      }
      85.5%{
        visibility: visible;
        top: 125px;
        left: 210px;
      }
      100%{
        top: 125px;
        left: 245px;
        visibility: hidden;
      }
      
  }

  /* g1 */
  .fingerg1 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 70px;
    left: 175px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  }
  
  
  .moveFingerg1 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 70px;
    left: 175px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawg1;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }
  
  @keyframes drawg1{
     
      0%{
        top: 70px;
        left: 175px;
      }
      7%{
        top: 60px;
        left: 125px;
      }
      14%{
        top: 75px;
        left: 85px;
      }
      21%{
        top: 130px;
        left: 65px;
      }
      28%{
        top: 170px;
        left: 75px;
      }
      35%{
        top: 195px;
        left: 115px;
      }
      42%{
        top: 190px;
        left: 165px;
      }
      49%{
        top: 130px;
        left: 165px;
      }
      56%{
        top: 130px;
        left: 130px;
        visibility: hidden;
      }
      56.5%{
        visibility: visible;
        top: 145px;
        left: 264px;
      }
      60%{
        top: 130px;
        left: 234px;
      }
      65%{
        top: 150px;
        left: 214px;
      }
      70%{
        top: 180px;
        left: 214px;
      }
      75%{
        top: 195px;
        left: 244px;
      }
      80%{
        top: 185px;
        left: 264px;
        visibility: hidden;
      }
      80.5%{
        visibility: visible;
        top: 135px;
        left: 275px;
      }
      90%{
        top: 215px;
        left: 270px;
      }
      100%{
        top: 220px;
        left: 220px;
        visibility: hidden;
      }
      
  }


  /* h1 */
  .fingerh1 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 50px;
    left: 80px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  }
  
  
  .moveFingerh1 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 50px;
    left: 80px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawh1;
    animation-duration:3s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }
  
  @keyframes drawh1{
     
      0%{
        top: 50px;
        left: 80px;
      }
      25%{
        top: 185px;
        left: 80px;
        visibility: hidden;
      }
      25.5%{
        visibility: visible;
        top: 115px;
        left: 90px;
      }
      35%{
        top: 115px;
        left: 150px;
        visibility: hidden;
      }
      35.5%{
        visibility: visible;
        top: 50px;
        left: 170px;
      }
      60%{
        top: 185px;
        left: 170px;
        visibility: hidden;
      }
      60.5%{
        visibility: visible;
        top: 105px;
        left: 220px;
      }
      70%{
        top: 185px;
        left: 220px;
        visibility: hidden;
      }
      70.5%{
        visibility: visible;
        top: 140px;
        left: 230px;
      }
      80%{
        top: 130px;
        left: 250px;
      }
      90%{
        top: 150px;
        left: 265px;
      }
      100%{
        top: 190px;
        left: 265px;
        visibility: hidden;
      }
      
  }

  /* i1 */
  .fingeri1 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 43px;
    left: 100px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  }
  
  
  .moveFingeri1 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 43px;
    left: 100px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawi1;
    animation-duration:3s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }
  
  @keyframes drawi1{
     
      0%{
        top: 43px;
        left: 100px;
      }
      20%{
        top: 43px;
        left: 160px;
        visibility: hidden;
      }
      20.5%{
        visibility: visible;
        top: 43px;
        left: 130px;
      }
      50%{
        top: 193px;
        left: 130px;
        visibility: hidden;
      }
      50.5%{
        visibility: visible;
        top: 193px;
        left: 100px;
      }
      70%{
        top: 193px;
        left: 160px;
        visibility: hidden;
      }
      70.5%{
        visibility: visible;
        top: 127px;
        left: 225px;
      }
      75%{
        top: 127px;
        left: 225px;
        visibility: hidden;
      }
      75.5%{
        visibility: visible;
        top: 147px;
        left: 225px;
      }
      100%{
        top: 187px;
        left: 225px;
        visibility: hidden;
      }
      
  }


  /* j1 */
  .fingerj1 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 43px;
    left: 110px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  }
  
  
  .moveFingerj1 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 43px;
    left: 110px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawj1;
    animation-duration:3s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }
  
  @keyframes drawj1{
     
      0%{
        top: 43px;
        left: 110px;
      }
      20%{
        top: 43px;
        left: 180px;
        visibility: hidden;
      }
      20.5%{
        visibility: visible;
        top: 43px;
        left: 145px;
      }
      50%{
        top: 163px;
        left: 145px;
      }
      60%{
        top: 193px;
        left: 115px;
      }
      70%{
        top: 185px;
        left: 90px;
        visibility: hidden;
      }
      70.5%{
        visibility: visible;
        top: 135px;
        left: 240px;
      }
      75%{
        top: 135px;
        left: 240px;
        visibility: hidden;
      }
      75.5%{
        visibility: visible;
        top: 155px;
        left: 240px;
      }
      85%{
        top: 215px;
        left: 240px;
      }
      100%{
        top: 220px;
        left: 225px;
        visibility: hidden;
      }
      
  }


  /* k1 */
  .fingerk1 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 50px;
    left: 95px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  }
  
  
  .moveFingerk1 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 50px;
    left: 95px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawk1;
    animation-duration:3s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }
  
  @keyframes drawk1{
     
      0%{
        top: 50px;
        left: 100px;
      }
      25%{
        top: 180px;
        left: 95px;
        visibility: hidden;
      }
      25.5%{
        visibility: visible;
        top: 50px;
        left: 175px;
      }
      40%{
        top: 115px;
        left: 130px;
      }
      55%{
        top: 180px;
        left: 175px;
        visibility: hidden;
      }
      55.5%{
        visibility: visible;
        top: 100px;
        left: 235px;
      }
      80%{
        top: 180px;
        left: 235px;
        visibility: hidden;
      }
      80.5%{
        visibility: visible;
        top: 130px;
        left: 275px;    
      }
      90%{
        top: 155px;
        left: 255px;
      }
      100%{
        top: 180px;
        left: 275px;
        visibility: hidden;
      }
      
  }

  /* l1 */
  .fingerl1 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 50px;
    left: 100px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  }
  
  
  .moveFingerl1 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 50px;
    left: 100px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawl1;
    animation-duration:2s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }
  
  @keyframes drawl1{
     
      0%{
        top: 50px;
        left: 100px;
      }
      40%{
        top: 185px;
        left: 100px;
      }
      70%{
        top: 185px;
        left: 160px;
        visibility: hidden;
      }
      70.5%{
        visibility: visible;
        top: 50px;
        left: 240px;
      }
      100%{
        top: 190px;
        left: 240px;
        visibility: hidden;
      }
      
  }


  /* n1 */
  .fingern1 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 50px;
    left: 80px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  }
  
  
  .moveFingern1 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 50px;
    left: 80px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawn1;
    animation-duration:5s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }
  
  @keyframes drawn1{
     
      0%{
        top: 50px;
        left: 80px;
      }
      20%{
        top: 190px;
        left: 80px;
        visibility: hidden;
      }
      20.5%{
        visibility: visible;
        top: 50px;
        left: 80px;
      }
      40%{
        top: 190px;
        left: 180px;
      }
      60%{
        top: 50px;
        left: 180px;
        visibility: hidden;
      }
      60.5%{
        visibility: visible;
        top: 130px;
        left: 225px;
      }
      80%{
        top: 190px;
        left: 225px;
      }
      80.5%{
        visibility: visible;
        top: 140px;
        left: 235px;
      }
      85%{
        top: 130px;
        left: 255px;
      }
      90%{
        top: 140px;
        left: 270px;    
      }
      100%{
        top: 190px;
        left: 270px;
        visibility: hidden;
      }
      
  }


  /* o1 */
  .fingero1 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 90px;
    left: 185px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  }
  
  
  .moveFingero1 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 90px;
    left: 185px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawo1;
    animation-duration:5s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }
  
  @keyframes drawo1{
     
      0%{
        top: 90px;
        left: 185px;
      }
      7%{
        top: 70px;
        left: 175px;
      }
      14%{
        top: 50px;
        left: 125px;
      }
      21%{
        top: 70px;
        left: 85px;
      }
      28%{
        top: 120px;
        left: 70px;
      }
      35%{
        top: 170px;
        left: 90px;
      }
      42%{
        top: 185px;
        left: 130px;
      }
      49%{
        top: 160px;
        left: 175px;
      }
      56%{
        top: 90px;
        left: 185px;
        visibility: hidden;
      }
      56.5%{
        visibility: visible;
        top: 140px;
        left: 275px;
      }
      65%{
        top: 130px;
        left: 250px;
      }
      75%{
        top: 180px;
        left: 230px;
      }
      85%{
        top: 190px;
        left: 260px;
      }
      95%{
        top: 180px;
        left: 275px;
      }
      100%{
        top: 140px;
        left: 275px;
        visibility: hidden;
      }
      
  }


  /* p1 */
  .fingerp1 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 55px;
    left: 75px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  }
  
  
  .moveFingerp1 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 55px;
    left: 75px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawp1;
    animation-duration:5s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }
  
  @keyframes drawp1{
     
      0%{
        top: 55px;
        left: 75px;
      }
      25%{
        top: 190px;
        left: 75px;
        visibility: hidden;
      }
      25.5%{
        visibility: visible;
        top: 55px;
        left: 75px;
      }
      35%{
        top: 55px;
        left: 150px;
      }
      40%{
        top: 95px;
        left: 165px;
      }
      50%{
        top: 125px;
        left: 140px;
      }
      
      60%{
        top: 125px;
        left: 100px;
        visibility: hidden;
      }
      60.5%{
        visibility: visible;
        top: 140px;
        left: 220px;
      }
      75%{
        top: 220px;
        left: 220px;
        visibility: hidden;
      }
      75.5%{
        visibility: visible;
        top: 180px;
        left: 230px;
      }
      80%{
        top: 145px;
        left: 230px;
      }
      85%{
        top: 135px;
        left: 250px;
      }
      90%{
        top: 165px;
        left: 275px;
      }

      95%{
        top: 195px;
        left: 250px;
      }
      100%{
        top: 185px;
        left: 230px;
        visibility: hidden;
      }
      
  }


  /* q1 */
  .fingerq1 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 90px;
    left: 170px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  }
  
  
  .moveFingerq1 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 90px;
    left: 170px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawq1;
    animation-duration:5s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }
  
  @keyframes drawq1{
     
      0%{
        top: 90px;
        left: 170px;
      }
      10%{
        top: 55px;
        left: 120px;
      }
      20%{
        top: 90px;
        left: 60px;
      }
      30%{
        top: 160px;
        left: 60px;
      }
      40%{
        top: 190px;
        left: 120px;
      }
      50%{
       top: 140px;
       left: 170px;
      }
      60%{
        top: 90px;
        left: 170px;
        visibility: hidden;
      }
      60.5%{
        visibility: visible;
        top: 150px;
        left: 115px;
      }
      70%{
        top: 205px;
        left: 190px;
        visibility: hidden;
      }
      70.5%{
        visibility: visible;
        top: 135px;
        left: 270px;
      }
      75%{
        top: 127px;
        left: 250px;
      }
      80%{
        top: 160px;
        left: 230px;
      }
      85%{
        top: 190px;
        left: 250px;
      }
      90%{
        top: 179px;
        left: 270px;
        visibility: hidden;
      }
      90.5%{
        visibility: visible;
        top: 130px;
        left: 280px;
      }
      100%{
        
        top: 230px;
        left: 280px;
        visibility: hidden;
      }
      
  }


  
  /* r1 */
  .fingerr1 {
    visibility: visible;
    width: 50px;
    height: 100px;
    transform: rotate(300deg);
    position: absolute;
    top: 55px;
    left: 85px;
    z-index: 30;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  }
  
  
  .moveFingerr1 {
    width: 50px;
    height: 100px;
    transform: scale(4);
    transition: all 1s ease-out;
    transform: rotate(300deg);
    position: absolute;
    top: 55px;
    left: 85px;
    z-index: 10;
    /* animation-delay: 1s; */
    animation-name: drawr1;
    animation-duration:5s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    /* animation-iteration-count:infinite; */
    /* animation-timing-function:step-start; */
  }
  
  @keyframes drawr1{
     
      0%{
        top: 55px;
        left: 85px;
      }
      25%{
        top: 190px;
        left: 85px;
        visibility: hidden;
      }
      25.5%{
        visibility: visible;
        top: 55px;
        left: 85px;
      }
      31%{
        top: 55px;
        left: 155px;
      }
      36%{
        top: 85px;
        left: 175px;
      }
      41%{
        top: 115px;
        left: 155px;
      }
      50%{
        top: 115px;
        left: 100px;
      }
      60%{
        top: 125px;
        left: 145px;
      }
      70%{
        top: 190px;
        left: 185px;
      }
      70.5%{
        top: 125px;
        left: 145px;
        visibility: hidden;
      }
      70.5%{
        visibility: visible;
        top: 130px;
        left: 230px;
      }
      80%{
        top: 190px;
        left: 230px;
      }
      90%{
        top: 140px;
        left: 230px;
      }
      95%{
        visibility: visible;
        top: 130px;
        left: 280px;
      }
      100%{
        top: 130px;
        left: 265px;
        visibility: hidden;
      }
      
  }