.game_map_div {
    width: 50%;
    height: auto;
    border-width: 8px;
    /* border-style: dashed; */
    /* border-color: #649c03; */
    background-image: url(../..//image/map/kraftPaper4.png);
    /* background-color: #40a7e2; */
    background-size: cover;
    border-radius: 5%;
    margin-left: 20px;
    /* margin-right: 20px;
    margin-top: 20px; */
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.game_map{
    position: absolute;
    left: 15%;
   
}
.personal_profile{
    position: absolute;
    top: 9%;
    right: 5%;
}

.limit{
    position: absolute;
    top: 50%;
    left: 2%;
}
.daily{
    position: absolute;
    top: 55%;
    left: 26%;
}

.success{
    position: absolute;
    top: 53%;
    right: 33%;
}

.farm{
    position: absolute;
    top: 53%;
    right: 11%;
}

.question{
    position: absolute;
    top: 77%;
    right: 33%; 
}

.magic{
    position: absolute;
    top: 77%;
    right: 11%;
}