body {
    background-color: blanchedalmond;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url("../../image/background/Polygon_pink01.jpeg");
    /* font-family: "文鼎標楷注音"; */
}

.home_header {
    width: 100%;
    height: 8.7%;
    background-color: #ffb906cf;
    text-align: center;
    opacity: .7;
    font-size: 32px;
}

.game_map_div {
    width: 50%;
    height: 85%;
    border-width: 8px;
    left: 0;
    top: 9%;
    /* border-style: dashed; */
    /* border-color: #649c03; */
    background-image: url(../..//image/map/kraftPaper4.png);
    /* background-color: #40a7e2; */
    background-size: cover;
    border-radius: 5%;
    /* margin-left: 20px; */
    /* margin-right: 20px;
    margin-top: 20px; */
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.game_map {
    position: absolute;
    left: 15%;
}

.child_profile_detail {
    width: 44%;
    /*35%*/
    height: 120px;
    position: absolute;
    top: 10%;
    /*15%*/
    right: 3%;
    /*7%%*/
    border-radius: 40px;
    border-color: darkred;
    border-style: dashed;
    background-color: #ffd06c;
    border-width: 5px;
    font-weight: bold;
    padding-top: 15px;
}

.good-regard {
    width: 36%;
    position: absolute;
    bottom: 7.5%;
    margin-top: 14px;
    height: 22px;
    border-radius: 40px;
    border-color: darkred;
    border-style: solid;
    background-color: #ffd06c;
    border-width: 2px;
    display: inline-block;
    margin-left: 30%;
}

.good-regard-value {
    width: 67%;
    position: absolute;
    /* bottom: 18.5%; */
    height: 100%;
    border-radius: 40px 0px 0px 40px;
    /* border-color: darkred; */
    /* border-style: solid; */
    background-color: #6c8eff;
    /* border-width: 2px; */
    display: inline-block;
    /* margin-left: 12px; */
    padding-left: 20px;
}

.good-regard-text {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.personal_profile {
    width: 18%;
    height: auto;
    position: absolute;
    top: 10%;
    right: 1%;
    border-radius: 100px;
    border: 5px darkred dashed;
    background-color: #ffd06c;
}

.limit_task {
    position: absolute;
    bottom: 2%;
    left: 35%;
}

.daily_task {
    position: absolute;
    bottom: 2%;
    left: 29%;
}

.trophy {
    position: absolute;
    bottom: 31%;
    right: 26%;
}

.farm {
    position: absolute;
    bottom: 31%;
    right: 2%;
}

.treature_voice_camera {
    position: absolute;
    bottom: 2%;
    right: 26%;
}

.magic_treature {
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.nowInWhere {
    width: 10%;
    padding: 8px;
    margin: 5px 8px;
    position: absolute;
    left: 40px;
    bottom: 10%;
    /* top: 200px;  */
    background-image: url(../../image/background/sea1.png);
    background-size: 300px 100px;
    border-radius: 20px;
}


/* img */

.map_namtou {
    width: 85%;
    right: 10px;
    /* margin: 90px 200px; */
}