.homefloat{
    position:fixed;
    width:60px;
    height:60px;
    bottom:10px;
    right:8px;
    background-color:rgb(211, 211, 211);
    color:#FFF;
    border-radius:999em;
    text-align:center;
    z-index:1000;
    animation: lef-to-rig 2s ease-out;
    margin-top:6px;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
  }
  .homefloat:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
  
  .returnfloat{
    position:fixed;
    width:60px;
    height: 60px;
    bottom:10px;
    right: 80px;
    background-color:rgb(211, 211, 211);
    color:#FFF;
    border-radius:999em;
    text-align:center;
    z-index:1000;
    animation: lef-to-rig 2s ease-out;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
  }
  .returnfloat:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
  .sosfloat{
    position:fixed;
    width:60px;
    height:60px;
    bottom:10px;
    left:8px;
    background-color:rgb(211, 211, 211);
    color:#FFF;
    border-radius:999em;
    text-align:center;
    z-index:1000;
    animation: lef-to-rig 2s ease-out;
    margin-top:6px;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
  }
  .sosfloat:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }