<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../CSS/map/changhua.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
  <title>Document</title>
</head>
<body class="style" background="../../image/map/kraftPaper5.png">
  <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">彰化地區</td>
        </tr>
        <tr>
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Changhua_origin.png" onclick="featuresText('彰化地區')" />彰化地區</td>
            <td id="information" rowspan="3" valign="top" style="font-size:x-large;">
                &emsp;&emsp;彰化地區古稱半線，因幅員完整，地勢平坦開闊，土地肥沃，物產豐饒，素有「臺灣穀倉」之稱，為臺灣開拓較早之地區。清朝時，鹿港迅速發展成為中部地區最具發展潛力的城鎮，時人並以「一府、二鹿、三艋岬」譽之，便可窺見當時風光景況。
            </td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Changhua_mountain_Bagua.png" onclick="featuresText('八卦山')" />八卦山</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Changhua_wind_turbine.png" onclick="featuresText('風力發電')" />風力發電</td>
        </tr>

    </table>
  <div class="map">
        <img class="terrain" src="../../image/map/Changhua1.png" />
        <div class="level1">
            <img style="width: 120px; height: 65px;" class="level" src="../../image/icon/meat_ball_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=sh&counties=changhua';mouseDownText(ㄕ);" />
            <img class="level_text" src="../../image/chinese_alphabet/sh.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=sh&counties=changhua';mouseDownText(ㄕ);" />
        </div>
    
        <div class="level2">
            <img style="width: 120px; height: 65px;" class="level" src="../../image/icon/meat_ball_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=r&counties=changhua';mouseDownText(ㄖ);" />
            <img class="level_text" src="../../image/chinese_alphabet/r.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=r&counties=changhua';mouseDownText(ㄖ);" />
        </div>
        <div class="level3"> <img style="width: 120px; height: 65px;" class="level" src="../../image/icon/meat_ball_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=z&counties=changhua';mouseDownText(ㄗ);" />
            <img class="level_text" src="../../image/chinese_alphabet/z.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=z&counties=changhua';mouseDownText(ㄗ);" />
            </div>

        <div class="level4"> <img style="width: 120px; height: 65px;" class="level" src="../../image/icon/meat_ball_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=c&counties=changhua';mouseDownText(ㄘ);" />
            <img class="level_text" src="../../image/chinese_alphabet/c.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=c&counties=changhua';mouseDownText(ㄘ);" />
            </div>
            
        <div class="level5"> <img style="width: 120px; height: 65px;" class="level" src="../../image/icon/meat_ball_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=s&counties=changhua';mouseDownText(ㄙ);" />
            <img class="level_text" src="../../image/chinese_alphabet/s.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=s&counties=changhua';mouseDownText(ㄙ);" />
            </div>
            
            
        <div class="level6"> <img style="width: 120px; height: 65px;" class="level" src="../../image/icon/meat_ball_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=(y)i&counties=changhua';mouseDownText(ㄧ);" />
            <img class="level_text" src="../../image/chinese_alphabet/(y)i.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=(y)i&counties=changhua';mouseDownText(ㄧ);" />
            </div>

        <div class="level7"> <img style="width: 120px; height: 65px;" class="level" src="../../image/icon/meat_ball_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=u&counties=changhua';mouseDownText(ㄨ);" />
            <img class="level_text" src="../../image/chinese_alphabet/u.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=u&counties=changhua';mouseDownText(ㄨ);" />
            </div>
        <div class="level8">
            <img style="width: 105px; height: 105px;" class="level" src="../../image/icon/devil_lock.png"
                onclick="alert('需要先完成縣市所有關卡！')" />

        </div>

        、
    </div>
    <img class="taiwan" src="../../image/character/NowInNantou.png"
        onclick="location.href='../../view/level/taiwan.html'" />
    <div>
        <a href="../../test1.html" class="sosfloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
        </a>
    </div>
    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            switch (category) {
                case "彰化地區":
                    information.innerHTML = "&emsp;&emsp;彰化地區古稱半線，因幅員完整，地勢平坦開闊，土地肥沃，物產豐饒，素有「臺灣穀倉」之稱，為臺灣開拓較早之地區。清朝時，鹿港迅速發展成為中部地區最具發展潛力的城鎮，時人並以「一府、二鹿、三艋岬」譽之，便可窺見當時風光景況。";
                    mouseDownText(information.innerHTML);
                    break;
                case "八卦山":
                    information.innerHTML = `&emsp;&emsp;臺灣中部氣候宜人、景色秀麗，擁有豐富的自然、人文及產業資源，極具發展觀光潛能，因此交通部觀光局將獅頭山、梨山、八卦山 3 個省級風景區合併為「參山國家風景區」。 `;
                    mouseDownText(information.innerHTML);
                    break;
                case "風力發電":
                    information.innerHTML = "&emsp;&emsp;彰化離岸風力發電計畫為中華民國政府的能源轉型綠能政策之一，涵蓋於前瞻基礎建設計畫中。該風場位於臺灣彰化縣外海35至60公里，包括東北、西北、東南、西南4個部份2個階段的開發案，皆已於2018年2月通過環評審查，運轉後將可為台灣280萬個家庭供電。";
                    mouseDownText(information.innerHTML);
                    break;  
            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>
</html>