<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/map/changhua.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
    <script src="./centralRegion_JS/changhua.js"></script>
    <script src="./centralRegion_JS/central.js"></script>
    <script src="../../model/util/checkAllLevelIsPass.js"></script>
</head>
<style>

</style>

<body style="width: 100%; height: 100%; margin: auto;" onload="checkLevelIsPass('meat_ball','changhua')">
    <audio id="AUDIO" src=""></audio>

    <div class="bottom_title">
        <h1>彰化地區</h1>
    </div>

    <div class="Map">
        <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
        <img class="map_location" src="../../image/map/map.png" />
    </div>

    <div class="informationBox">
        <h2>介紹</h2>
        <img class="inforbtn" style="margin-top: 0;" src="../../image/map/Changhua_origin.png" onclick="playCentral(this);changeInfor(0);" alt="changhuaRegion" />
        <br>
        <!--  -->
        <img class="inforbtn" src="../../image/icon/meat_ball.png" onclick="playCentral(this);changeInfor(1)" alt="changhua_f1" />
        <br>
        <img class="inforbtn" src="../../image/map_icon/Changhua_mountain_Bagua.png" onclick="playCentral(this);changeInfor(2);" alt="changhua_f2" />
        <br>
        <img class="inforbtn" src="../../image/map_icon/Changhua_wind_turbine.png" onclick="playCentral(this);changeInfor(3);" alt="changhua_f3" />
        <br>

    </div>

    <div class="mainContent">
        <img class="city" src="../../image/map/Changhua1.png" />

        <div class="level1">
            <img id="zhuyin" alt="ㄕ" class="level_basic level" src="../../image/icon/meat_ball.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=shi&counties=changhua',800);playBPM(this);" />
            <img class="level_text" alt="ㄕ" src="../../image/chinese_alphabet/sh.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=shi&counties=changhua',800);playBPM(this);" />
        </div>

        <div class="level2">
            <img id="zhuyin" alt="ㄖ" class="level_basic level" src="../../image/icon/meat_ball.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ri&counties=changhua',800);playBPM(this);" />
            <img class="level_text" alt="ㄖ" src="../../image/chinese_alphabet/r.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ri&counties=changhua',800);playBPM(this);" />
        </div>
        <div class="level3">
            <img id="zhuyin" alt="ㄗ" class="level_basic level" src="../../image/icon/meat_ball.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=zi&counties=changhua',800);playBPM(this);" />
            <img class="level_text" alt="ㄗ" src="../../image/chinese_alphabet/z.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=zi&counties=changhua',800);playBPM(this);" />
        </div>

        <div class="level4">
            <img id="zhuyin" alt="ㄘ" class="level_basic level" src="../../image/icon/meat_ball.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ci&counties=changhua',800);playBPM(this);" />
            <img class="level_text" alt="ㄘ" src="../../image/chinese_alphabet/c.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ci&counties=changhua',800);playBPM(this);" />
        </div>

        <div class="level5">
            <img id="zhuyin" alt="ㄙ" class="level_basic level" src="../../image/icon/meat_ball.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=si&counties=changhua',800);playBPM(this);" />
            <img class="level_text" alt="ㄙ" src="../../image/chinese_alphabet/s.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=si&counties=changhua',800);playBPM(this);" />
        </div>


        <div class="level6">
            <img id="zhuyin" alt="ㄧ" class="level_basic level" src="../../image/icon/meat_ball.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=yi&counties=changhua',800);playBPM(this);" />
            <img class="level_text" alt="ㄧ" src="../../image/chinese_alphabet/(y)i.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=yi&counties=changhua',800);playBPM(this);" />
        </div>

        <div class="level7">
            <img id="zhuyin" alt="ㄨ" class="level_basic level" src="../../image/icon/meat_ball.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=wu&counties=changhua',800);playBPM(this);" />
            <img class="level_text" alt="ㄨ" src="../../image/chinese_alphabet/u.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=wu&counties=changhua',800);playBPM(this);" />
        </div>
        <div class="level8">
            <img class="level" alt="changhua" width="65px" src="../../image/icon/devil_lock.png" />
        </div>

    </div>

    <div class="fullContent">
        <h1 onclick="document.querySelector('.fullContent').style.display='none';voiceOut.mute();">X</h1>
        <div class="introduce" style="height: 87%;">
            <div style="height: 60%;width: 100%; text-align: center;">
                <h1 id="title" style="margin: 0; left: 32%; right: 0; color: #000; background-color: #aaf3aa; font-size: 35px; width: 220px; border-style: outset; border-radius: 20px;">彰化地區</h1>
                <img id="picture" style='height: 90%; border-radius: 15px; margin-top: 12%' src='https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_C100_342_7.jpg&sizetype=2' />
                <img id="speaker" style='position: absolute; top: 20px; right: 20px;  height: 15%' src="../../icons/speaker.png" onclick="playCentral(this)" alt="changhuaRegion" />
                <img id="muted" style='position: absolute; top: 20px; left: 20px;  height: 15%' src="../../image/character/muted.png" onclick="voiceOut.mute()" />
            </div>
            <div style="height: 40%;width: 100%;">
                <h2 id="intro" style='margin: 10% 3% 0 3%;'>
                    位於臺灣西部，古稱半線。土地肥沃，物產豐饒，有「臺灣穀倉」之稱。早年鹿港發展成為中部地區最具發展潛力的城鎮。
                </h2>
            </div>
        </div>
    </div>

    <div class="btnDiv">
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>

        <a onclick="setTimeout(()=>location.href='../../game_home.html',800);voiceOut.goHome();" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>

    <script src="centralRegion_JS/changhua.js"></script>
    <!-- <script src="../../model/util/voiceOut.js"></script> -->

</body>

</html>
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/map/changhua.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
    <script src="./centralRegion_JS/central.js"></script>
    <script src="../../model/util/checkAllLevelIsPass.js"></script>
    <title>Document</title>
</head>

<style>
    .features {
        background-color: aliceblue;
        width: 320px;
        height: 400px;
        /* margin-top: -73px; */
        margin-left: 100px;
    }
    
    .map_location {
        width: 16px;
        position: absolute;
        top: 56px;
        z-index: 15;
        left: 16px;
    }
</style>

<body class="style" background="../../image/map/kraftPaper5.png" onload="checkLevelIsPass('meat_ball','changhua')">
    <audio id="centralAudio" src=""></audio>
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">彰化地區</td>
        </tr>
        <tr style="display: none;">
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Changhua_origin.png" onclick="featuresText('彰化地區');playCentral(this)" alt="changhuaRegion" /><a style="display: block;">彰化地區</a></td>
            <td id="information" rowspan="4" valign="top" style="font-size:x-large;">
                <h4 style="margin: auto;">
                    彰化地區，土地肥沃，物產豐饒，有「臺灣穀倉」之稱。早年鹿港發展成為中部地區最具發展潛力的城鎮。
                </h4>
            </td>
        </tr>
        <tr>
            <td><img src="../../image/icon/meat_ball.png" onclick="featuresText('彰化肉圓');playCentral(this)" alt="changhua_f1" /><a style="display: block;">彰化肉圓</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Changhua_mountain_Bagua.png" onclick="featuresText('八卦山');playCentral(this)" alt="changhua_f2" /><a style="display: block;">八卦山</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Changhua_wind_turbine.png" onclick="featuresText('王功小型風力發電機');playCentral(this)" alt="changhua_f3" /><a style="display: block;">王功小型</a><a style="display: block;">風力發電機</a></td>
        </tr>

    </table>
    <div class="map">
        <img class="terrain" src="../../image/map/Changhua1.png" />
        <div class="level1">
            <img id="zhuyin" alt="ㄕ" class="level" src="../../image/icon/meat_ball.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=shi&counties=changhua',800);playBPM(this);" />
            <img class="level_text" alt="ㄕ" src="../../image/chinese_alphabet/sh.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=shi&counties=changhua',800);playBPM(this);" />
        </div>

        <div class="level2">
            <img id="zhuyin" alt="ㄖ" class="level" src="../../image/icon/meat_ball.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ri&counties=changhua',800);playBPM(this);" />
            <img class="level_text" alt="ㄖ" src="../../image/chinese_alphabet/r.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ri&counties=changhua',800);playBPM(this);" />
        </div>
        <div class="level3">
            <img id="zhuyin" alt="ㄗ" class="level" src="../../image/icon/meat_ball.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=zi&counties=changhua',800);playBPM(this);" />
            <img class="level_text" alt="ㄗ" src="../../image/chinese_alphabet/z.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=zi&counties=changhua',800);playBPM(this);" />
        </div>

        <div class="level4">
            <img id="zhuyin" alt="ㄘ" class="level" src="../../image/icon/meat_ball.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ci&counties=changhua',800);playBPM(this);" />
            <img class="level_text" alt="ㄘ" src="../../image/chinese_alphabet/c.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ci&counties=changhua',800);playBPM(this);" />
        </div>

        <div class="level5">
            <img id="zhuyin" alt="ㄙ" class="level" src="../../image/icon/meat_ball.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=si&counties=changhua',800);playBPM(this);" />
            <img class="level_text" alt="ㄙ" src="../../image/chinese_alphabet/s.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=si&counties=changhua',800);playBPM(this);" />
        </div>


        <div class="level6">
            <img id="zhuyin" alt="ㄧ" class="level" src="../../image/icon/meat_ball.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=yi&counties=changhua',800);playBPM(this);" />
            <img class="level_text" alt="ㄧ" src="../../image/chinese_alphabet/(y)i.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=yi&counties=changhua',800);playBPM(this);" />
        </div>

        <div class="level7">
            <img id="zhuyin" alt="ㄨ" class="level" src="../../image/icon/meat_ball.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=wu&counties=changhua',800);playBPM(this);" />
            <img class="level_text" alt="ㄨ" src="../../image/chinese_alphabet/u.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=wu&counties=changhua',800);playBPM(this);" />
        </div>
        <div class="level8">
            <img class="level" width="58px" src="../../image/icon/devil_lock.png" onclick="alert('需要先完成縣市所有關卡！')" />

        </div>

        、
    </div>
    <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
    <img class="map_location" src="../../image/map/map.png" />

    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            let info = document.createElement("h4");
            info.style = 'margin: auto;';

            switch (category) {
                case "彰化地區":
                    information.innerHTML = "";
                    info.innerHTML = "土地肥沃，物產豐饒，有「臺灣穀倉」之稱。早年鹿港發展成為中部地區最具發展潛力的城鎮。"
                    information.append(info)

                    break;
                case "彰化肉圓":
                    information.innerHTML =
                        "<img style = 'width:100%; border-radius: 15px;' src = 'https://imageproxy.icook.network/resize?height=600&nocrop=false&stripmeta=true&type=auto&url=http%3A%2F%2Ftokyo-kitchen.icook.tw.s3.amazonaws.com%2Fuploads%2Frecipe%2Fcover%2F193513%2F4f4604bd32819a5a.jpg&width=800'/> ";
                    info.innerHTML = "彰化特色小吃。當地特色是涼式的吃法，將蒸好的肉圓放冷後，再放到冰涼的湯水裡面，夏天吃的時候極為清爽。"
                    information.append(info)

                    break;
                case "八卦山":
                    information.innerHTML =
                        "<img style = 'width:100%; border-radius: 15px;' src = 'https://tourism.chcg.gov.tw/upload/27/2017081612043794500.jpg'/> ";
                    info.innerHTML = "八卦山位於彰化市東方邊的山。交通部觀光局將獅頭山、梨山、八卦山 3 個風景區合併為「參山國家風景區」。"
                    information.append(info)

                    break;

                case "王功小型風力發電機":
                    information.innerHTML =
                        "<img style = 'width:100%; border-radius: 15px;' src = 'https://leafyeh.com/wp-content/uploads/flickr/48250627257_98f549c20e_o.jpg'/> ";
                    info.innerHTML = "這些發電機位於臺灣彰化縣芳苑鄉。通過環評審查，運轉後將可為台灣280萬個家庭供電。"
                    information.append(info)

                    break;
            }
        }
    </script>
    
</body>

</html> -->