<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/chiayi.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
</head>

<body class="style" background="../../image/map/kraftPaper5.png">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">嘉義</td>
        </tr>
        <tr>
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Chiayi1.png" onclick="featuresText('嘉義')" />嘉義</td>
            <td id="information" rowspan="3" valign="top" style="font-size:x-large;">
                &emsp;&emsp;嘉義縣倚山面海，是臺灣所有縣市中，唯一擁有三大國家風景區的縣份：阿里山國家風景區管理處、雲嘉南濱海國家風景區管理處及西拉雅國家風景區管理處，坐擁山色、平原、海景等不同的壯麗與遼闊。
            </td>
        </tr>
        <tr>
            <td><img src="../../image/icon/lake.png" onclick="featuresText('高跟鞋教堂')" />高跟鞋教堂</td>
        </tr>
        <tr>
            <td><img src="../../image/icon/lake.png" onclick="featuresText('阿里山國家森林遊樂區')" />阿里山國家森林遊樂區</td>
        </tr>

    </table>
    <div class="map">
        <img class="terrain" src="../../image/map/Chiayi1.png" />
        <div class="level1">
            <img class="level" src="../../image/icon/meat_rice.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=1&counties=chiayi'" />
            <img class="level_text" src="../../image/numbers/1.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=1&counties=chiayi'" />
        </div>
        <div class="level2"><img class="level" src="../../image/icon/meat_rice_lock.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=2&counties=chiayi'" />
            <img class="level_text" src="../../image/numbers/2.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=2&counties=chiayi'" />
            </div>
        <div class="level3">
            <img class="level" src="../../image/icon/meat_rice.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=3&counties=chiayi'" />
            <img class="level_text" src="../../image/numbers/3.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=3&counties=chiayi'" />
        </div>
        <div class="level4"> <img class="level" src="../../image/icon/meat_rice.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=4&counties=chiayi'" />
            <img class="level_text" src="../../image/numbers/4.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=4&counties=chiayi'" />
            </div>
        <div class="level5"> <img class="level" src="../../image/icon/meat_rice_lock.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=chiayi'" />
            <img class="level_text" src="../../image/numbers/5.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=chiayi'" />
            </div>
        <div class="level6">
            <img class="level" src="../../image/icon/devil_lock.png"
                onclick="alert('需要先完成縣市所有關卡！')" />

        </div>

        、
    </div>
    <img class="taiwan" src="../../image/character/NowInNantou.png"
        onclick="location.href='../../view/level/taiwan.html'" />
    <div>
        <a href="../../test1.html" class="sosfloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            switch (category) {
                case "嘉義":
                    information.innerHTML = "&emsp;&emsp;嘉義縣倚山面海，是臺灣所有縣市中，唯一擁有三大國家風景區的縣份：阿里山國家風景區管理處、雲嘉南濱海國家風景區管理處及西拉雅國家風景區管理處，坐擁山色、平原、海景等不同的壯麗與遼闊。";
                    mouseDownText(category + information.innerHTML);
                    break;
                case "高跟鞋教堂":
                    information.innerHTML = `&emsp;&emsp;高跟鞋教堂高度約17m，寬度約11m，主結構由1,269根鋼架組成，外表共約320餘片玻璃，造型相當亮麗美觀，其設計與裝設不僅是全臺第一，更是全世界唯一。高跟鞋教堂幸福意象工程施工相當不易，320餘片玻璃大小、安裝角度皆不同，必須克服高跟鞋的形狀及彎曲幅度，故鋼架及玻璃組裝精度要求極高。玻璃高跟鞋象徵「每個小女孩都曾夢想有雙漂亮的高跟鞋，伴著自己走出美麗優雅的人生。」`;
                    mouseDownText(category + information.innerHTML);
                    break;
                case "阿里山國家森林遊樂區":
                    information.innerHTML = "&emsp;&emsp;相傳於250年以前，有一位名為阿巴里的鄒族酋長曾隻身來此打獵，滿載而歸後，常帶族人來此，族人為感念他，便以其名為此命名。其實阿里山共由十八座高山組成，屬於玉山山脈的支脈，隔同富溪與玉山主峰相望，現在新中橫公路已將阿里山與玉山風景區串連起來。阿里山森林遊樂區海拔高度2,216公尺，四周高山環列，氣候涼爽，以日出、雲海、晚霞、森林、登山森林鐵路並列為阿里山五奇，聞名國際。而鄒族原住民人文資源更增其觀光魅力。";
                    mouseDownText(category + information.innerHTML);
                    break;

            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>

</html>