<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/game/level.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
</head>
<body>
    <div class="all">
        <div class="level"><a href="../game/additionAndSubtraction.html">1</a></div>
        <div class="level"><a href="../game/countingNumbers.html">2</a></div>
        <div class="level"><a href="../game/pickingUpIsALittleRed.html">3</a></div>
        <div class="level">4</div>
        <div class="level">5</div>
        <div class="level">6</div>
        <div class="level">7</div>
        <div class="level">8</div>
        <div class="level">9</div>
        <div class="level">10</div>
        <div class="level">11</div>
        <div class="level">12</div>
    </div>
   
    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
          <i class="fab fa-share return-float"><img src="../../photo/return.png" ></i>
          </a>
      </div>
      <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
          <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
          </a>
      </div>
</body>
</html>