<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/hsinchu.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">

</head>

<body class="style" background="../../image/map/kraftPaper5.png">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">新竹地區</td>
        </tr>
        <tr>
            <td >特色</td>
            <td >資訊介紹</td>
        </tr>
        <tr>
            <td ><img src="../../image/map/Hsinchu_origin.png" onclick="featuresText('新竹地區')" />新竹地區</td>
            <td id="information" rowspan="4" valign="top" style="font-size:x-large;" >
                &emsp;&emsp;新竹地區地形多元、氣候溫和、農產豐盛，全縣客家族群約佔總人口數的84%，是典型的客家大縣，並以「好客竹縣」著稱。本縣從農業到科技的轉型、從傳統到現代的結合，還有隨著科技發展遷入的新移民，形成多元融合的族群結構與文化特色。
            </td>
        </tr>
        <tr>
            <td ><img src="../../image/icon/pork_ball.png" onclick="featuresText('貢丸')" />貢丸</td>
        </tr>
        <tr>
            <td ><img src="../../image/map_icon/Hsinchu_Leofoo_Village.png" onclick="featuresText('六福村主題遊樂園')" />六福村主題遊樂園</td>
        </tr>
        <tr>
            <td ><img src="../../image/map_icon/Hsinchu_zoo.png" onclick="featuresText('新竹市立動物園')" />新竹市立動物園</td>
        </tr>
       

    </table>
    <div class="map">
        <img id="county" class="terrain" src="../../image/map/Hsinchu1.png" />
        <div class="level1">
            <img class="level" src="../../image/icon/pork_ball_dark.png"
            onclick="location.href='../../view/game/drawzhuyin.html?id=s1&counties=hsinchu';mouseDownText('s');" />
        <img class="level_text"  src="../../image/english_alphabet/S.png"
            onclick="location.href='../../view/game/drawzhuyin.html?id=s1&counties=hsinchu';mouseDownText('s');" />
        </div>
       <div class="level2">
        <img class="level" src="../../image/icon/pork_ball_dark.png"
        onclick="location.href='../../view/game/drawzhuyin.html?id=t1&counties=newTaipei';mouseDownText('t');" />
        <img class="level_text" src="../../image/english_alphabet/T.png"
        onclick="location.href='../../view/game/drawzhuyin.html?id=t1&counties=newTaipei';mouseDownText('t');" />
       </div>
        <div class="level3">
            <img class="level" src="../../image/icon/pork_ball_dark.png"
            onclick="location.href='../../view/game/drawzhuyin.html?id=u1&counties=hsinchu';mouseDownText('u');" />
            <img class="level_text" src="../../image/english_alphabet/U.png"
            onclick="location.href='../../view/game/drawzhuyin.html?id=u1&counties=hsinchu';mouseDownText('u');" />
        </div>
       <div class="level4">
            <img class="level" src="../../image/icon/pork_ball_dark.png" 
            onclick="location.href='../../view/game/drawzhuyin.html?id=v1&counties=hsinchu';mouseDownText('v');" />
            <img class="level_text" src="../../image/english_alphabet/V.png" 
            onclick="location.href='../../view/game/drawzhuyin.html?id=v1&counties=hsinchu';mouseDownText('v');" />
       </div>
  
        <img class="level5" src="../../image/icon/devil_lock.png"  onclick="alert('需要先完成縣市所有關卡！')"/>
        
    </div>
    <img class="taiwan" src="../../image/character/NowInNantou.png" onclick="location.href='../../view/level/taiwan.html'" />
    <div>
        <a href="../../test1.html" class="sosfloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
        </a>
    </div>
    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
    const information = document.querySelector('#information')
    switch (category) {
        case "新竹地區":
            information.innerHTML = "&emsp;&emsp;新竹地區地形多元、氣候溫和、農產豐盛，全縣客家族群約佔總人口數的84%，是典型的客家大縣，並以「好客竹縣」著稱。本縣從農業到科技的轉型、從傳統到現代的結合，還有隨著科技發展遷入的新移民，形成多元融合的族群結構與文化特色。";
            mouseDownText(information.innerHTML);
            break;
        case "貢丸":
            information.innerHTML = "&emsp;&emsp;貢丸，為豬肉製作的一種肉丸。新竹的貢丸特別有名，主要科技上的貢獻是運用機器，令貢丸可大量生產。而新竹貢丸的材料必須用新鮮溫體豬肉製作。";
            mouseDownText(information.innerHTML);
            break;    
        case "六福村主題遊樂園":
            information.innerHTML = "&emsp;&emsp;六福村主題遊樂園，位於新竹縣關西鎮，簡稱六福村。園內有四大主題村：魔幻神奇的「阿拉伯皇宮」、狂野飆悍的「美國大西部」、熱帶島嶼風情的「南太平洋」以及近距離觀察原始動物的「非洲部落」。";
            mouseDownText(information.innerHTML);
            break;
        case "新竹市立動物園":
            information.innerHTML="&emsp;&emsp;新竹市立動物園，位於新竹市東區，是目前臺灣原址現存最老的動物園，其動物園舊大門入口的洗石子門柱與售票口結合設計，且設有水泥塑大象及蹲獅裝飾。";
            mouseDownText(information.innerHTML);
            break;

    }
}

    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>

</html>