<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/hualien.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">

</head>

<body class="style" background="../../image/map/kraftPaper5.png">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">花蓮地區</td>
        </tr>
        <tr>
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Hualien.png" onclick="featuresText('花蓮')" />花蓮地區</td>
            <td id="information" rowspan="4" valign="top" style="font-size:x-large;">
                &emsp;&emsp;花蓮地區是大自然特別眷顧的地方，臺灣最美麗的驚嘆號！擁有許多世界級的山水美景，西元1590年，葡萄牙人航經臺灣東岸，看見壯麗的山川美景呈現於眼前，不禁驚呼「FORMOSA福爾摩沙」，從此，花蓮的壯闊景緻便成為臺灣的代表。花蓮古稱奇萊，又因花蓮溪東注於海，其水與海濤激流迂迴澎湃，而稱為洄瀾，後人諧其音稱為花蓮。花蓮是臺灣最大的縣份，面積約4628平方公里，人口約有35萬人，東臨浩瀚太平洋，西倚雄偉的中央山脈，以巍峨的高山、蔚藍的天空、浩瀚的海洋、景色秀麗的縱谷、多樣性的人文風貌、親切善良的人民，成為全國最喜歡旅遊縣市的首選，並深受國際遊客的喜愛。如此依山傍海的優美環境，造就無數的山水美景，全縣幾乎位於國家設立的風景區中，縣內有高山峽谷的太魯閣國家公園、雄偉壯闊的玉山國家公園、自然景觀秀麗的東部海岸國家風景區、田園美景的花東縱谷國家風景區，再再證明花蓮的渾然天成。
            </td>
        </tr>
        <tr>
            <td><img src="../../image/icon/watermelon.png" onclick="featuresText('花蓮大西瓜')" />花蓮大西瓜</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Hualien_farglory_ocean_park.png" onclick="featuresText('遠雄海洋公園')" />遠雄海洋公園</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Hualien_farm.png" onclick="featuresText('瑞穗牧場')" />瑞穗牧場</td>
        </tr>
      
    </table>
    <div class="map">
        <img class="terrain" src="../../image/map/Hualien1.png" />
        <div class="level1">
            <img class="level_basic" src="../../image/icon/watermelon.png"
                onclick="location.href='../../view/game/findBallast.html';mouseDownText('找找看');" />
           <div class="level_text"  onclick="location.href='../../view/game/findBallast.html';mouseDownText('找找看');">找找看</div>
        </div>
        <div class="level2">
            <img class="level_basic" src="../../image/icon/watermelon.png"
                onclick="location.href='../../view/game/gophers.html';mouseDownText('打地鼠');" />
                <div class="level_text"  onclick="location.href='../../view/game/gophers.html';mouseDownText('打地鼠');">打地鼠</div>
            </div>
       
        <div class="level3"> 
            <img class="level" src="../../image/icon/devil_lock.png"
            onclick="alert('需要先完成縣市所有關卡！')" />
            </div>

       

    </div>
    <img class="taiwan" src="../../image/character/NowInNantou.png"
        onclick="location.href='../../view/level/taiwan.html'" />
    <div>
        <a href="../../test1.html" class="sosfloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
        </a>
    </div>
    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            switch (category) {
                case "花蓮地區":
                    information.innerHTML = "&emsp;&emsp;花蓮地區是大自然特別眷顧的地方，臺灣最美麗的驚嘆號！擁有許多世界級的山水美景，西元1590年，葡萄牙人航經臺灣東岸，看見壯麗的山川美景呈現於眼前，不禁驚呼「FORMOSA福爾摩沙」，從此，花蓮的壯闊景緻便成為臺灣的代表。花蓮古稱奇萊，又因花蓮溪東注於海，其水與海濤激流迂迴澎湃，而稱為洄瀾，後人諧其音稱為花蓮。花蓮是臺灣最大的縣份，面積約4628平方公里，人口約有35萬人，東臨浩瀚太平洋，西倚雄偉的中央山脈，以巍峨的高山、蔚藍的天空、浩瀚的海洋、景色秀麗的縱谷、多樣性的人文風貌、親切善良的人民，成為全國最喜歡旅遊縣市的首選，並深受國際遊客的喜愛。如此依山傍海的優美環境，造就無數的山水美景，全縣幾乎位於國家設立的風景區中，縣內有高山峽谷的太魯閣國家公園、雄偉壯闊的玉山國家公園、自然景觀秀麗的東部海岸國家風景區、田園美景的花東縱谷國家風景區，再再證明花蓮的渾然天成。";
                    mouseDownText(category+information.innerHTML);
                    break;
                case "花蓮大西瓜":
                    information.innerHTML = `&emsp;&emsp;花蓮大西瓜主要分布種植在秀姑巒溪、萬里溪、壽豐溪等流域河床地區，環境自然潔淨，並富含養分，瓜農秉持著安全用藥及友善環境觀念進行栽培管理，讓西瓜的口感「沙甜」且「清脆」!`;
                        mouseDownText(category+information.innerHTML);
                        break;
                case "遠雄海洋公園":
                    information.innerHTML = "&emsp;&emsp;遠雄海洋公園俗稱花蓮海洋公園，是台灣第一座以海洋為主題、並結合自然景觀公園與五星級休閒飯店的主題樂園。除多種遊樂設施，還有各項可愛逗趣的海豚、海獅表演，海底世界花車遊行，加上大型歌舞秀及美人魚表演，規模為東台灣最大。";
                    mouseDownText(category+information.innerHTML);
                    break;

            }
        }
    </script>
     <script src="../../model/util/voiceOut.js"></script>
</body>

</html>