<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/hualien.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">

</head>

<body class="style" background="../../image/map/kraftPaper5.png">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">花蓮</td>
        </tr>
        <tr>
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Hualien.png" onclick="featuresText('花蓮')" />花蓮</td>
            <td id="information" rowspan="3" valign="top" style="font-size:x-large;">
                &emsp;&emsp;花蓮─大自然特別眷顧的地方，臺灣最美麗的驚嘆號！擁有許多世界級的山水美景，西元1590年，葡萄牙人航經臺灣東岸，看見壯麗的山川美景呈現於眼前，不禁驚呼「FORMOSA福爾摩沙」，從此，花蓮的壯闊景緻便成為臺灣的代表。花蓮古稱奇萊，又因花蓮溪東注於海，其水與海濤激流迂迴澎湃，而稱為洄瀾，後人諧其音稱為花蓮。花蓮是臺灣最大的縣份，面積約4628平方公里，人口約有35萬人，東臨浩瀚太平洋，西倚雄偉的中央山脈，以巍峨的高山、蔚藍的天空、浩瀚的海洋、景色秀麗的縱谷、多樣性的人文風貌、親切善良的人民，成為全國最喜歡旅遊縣市的首選，並深受國際遊客的喜愛。如此依山傍海的優美環境，造就無數的山水美景，全縣幾乎位於國家設立的風景區中，縣內有高山峽谷的太魯閣國家公園、雄偉壯闊的玉山國家公園、自然景觀秀麗的東部海岸國家風景區、田園美景的花東縱谷國家風景區，再再證明花蓮的渾然天成。
            </td>
        </tr>
        <tr>
            <td><img src="../../image/icon/lake.png" onclick="featuresText('七星潭')" />七星潭</td>
        </tr>
        <tr>
            <td><img src="../../image/icon/lake.png" onclick="featuresText('太魯閣國家公園')" />太魯閣國家公園</td>
        </tr>

    </table>
    <div class="map">
        <img class="terrain" src="../../image/map/Hualien1.png" />
        <div class="level1">
            <img class="level" src="../../image/icon/watermelon.png"
                onclick="location.href='../../view/game/findBallast.html';mouseDownText('找找看');" />
           <div class="level_text"  onclick="location.href='../../view/game/findBallast.html';mouseDownText('找找看');">找找看</div>
        </div>
        <div class="level2"><img class="level" src="../../image/icon/watermelon.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=2&counties=hualien';mouseDownText(2);" />
            <img class="level_text" src="../../image/numbers/2.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=2&counties=chiayi';mouseDownText(2);" />
            </div>
        <div class="level3">
            <img class="level" src="../../image/icon/watermelon_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=3&counties=chiayi';mouseDownText(3);" />
            <img class="level_text" src="../../image/numbers/3.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=3&counties=chiayi';mouseDownText(3);" />
        </div>
        <div class="level4"> <img class="level" src="../../image/icon/watermelon_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=4&counties=chiayi';mouseDownText(4);" />
            <img class="level_text" src="../../image/numbers/4.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=4&counties=chiayi';mouseDownText(4);" />
            </div>
        <div class="level5"> 
            <img class="level" src="../../image/icon/devil_lock.png"
            onclick="alert('需要先完成縣市所有關卡！')" />
            </div>

       

    </div>
    <img class="taiwan" src="../../image/character/NowInNantou.png"
        onclick="location.href='../../view/level/taiwan.html'" />
    <div>
        <a href="../../test1.html" class="sosfloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            switch (category) {
                case "花蓮":
                    information.innerHTML = "&emsp;&emsp;花蓮─大自然特別眷顧的地方，臺灣最美麗的驚嘆號！擁有許多世界級的山水美景，西元1590年，葡萄牙人航經臺灣東岸，看見壯麗的山川美景呈現於眼前，不禁驚呼「FORMOSA福爾摩沙」，從此，花蓮的壯闊景緻便成為臺灣的代表。花蓮古稱奇萊，又因花蓮溪東注於海，其水與海濤激流迂迴澎湃，而稱為洄瀾，後人諧其音稱為花蓮。花蓮是臺灣最大的縣份，面積約4628平方公里，人口約有35萬人，東臨浩瀚太平洋，西倚雄偉的中央山脈，以巍峨的高山、蔚藍的天空、浩瀚的海洋、景色秀麗的縱谷、多樣性的人文風貌、親切善良的人民，成為全國最喜歡旅遊縣市的首選，並深受國際遊客的喜愛。如此依山傍海的優美環境，造就無數的山水美景，全縣幾乎位於國家設立的風景區中，縣內有高山峽谷的太魯閣國家公園、雄偉壯闊的玉山國家公園、自然景觀秀麗的東部海岸國家風景區、田園美景的花東縱谷國家風景區，再再證明花蓮的渾然天成。";
                    mouseDownText(category+information.innerHTML);
                    break;
                case "七星潭":
                    information.innerHTML = `&emsp;&emsp;位在花蓮市區東北方，位於花蓮市新城鄉的北埔村，可取道美崙工業區，由花蓮師院（現為「國立東華大學美崙校區」）前指標前行即可到達。此地海灘呈一優美的弧形海灣，海水潔淨湛藍，黑石晶瑩剔透，在此可遠眺青山蒼鬱，公路綿延。
                        七星潭富有詩意的名稱，據說是位於花蓮師範學院和花蓮機場一帶，早年有零星湖泊散佈，後來因建設需要而填實。現在一般稱七星潭，是指美崙工業區和花蓮機場以北的地區，有斷層形成的海峽與優美的弧形海灣，具有豐富的自然人文景觀。在七星潭，可以遠眺清水斷崖，夜間還可以欣賞新城和崇德地區的燈火，區內更有許多景點，提供休憩和知性之旅。
                        七星潭風景區以自行車道為動脈，從花蓮市南濱公園、經花蓮港、四八高地到七星潭風景區，長達21公里的旅程有不同的風光。花蓮縣政府更興建了石雕園區、賞星廣場、觀日樓、兒童遊樂場等休憩設施，在漁場附近還有海生態的解說牌，也利用防風林區闢建海濱植物園區，動植物生態非常豐富，來一趟知性之旅絕對不虛此行。`;
                        mouseDownText(category+information.innerHTML);
                        break;
                case "太魯閣國家公園":
                    information.innerHTML = "&emsp;&emsp;太魯閣國家公園以雄偉壯麗、幾近垂直的大理岩峽谷景觀聞名。沿著立霧溪的峽谷風景線而行，觸目所及皆是壁立千仞的峭壁、斷崖、峽谷、連綿曲折的山洞隧道、大理岩層和溪流等風光。";
                    mouseDownText(category+information.innerHTML);
                    break;

            }
        }
    </script>
     <script src="../../model/util/voiceOut.js"></script>
</body>

</html>