<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/kaohsiung.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
    <script src="./southRegion_JS/south.js"></script>

</head>
<style>
    .features {
        background-color: aliceblue;
        width: 320px;
        height: 400px;
        /* margin-top: -112px; */
        margin-left: 103px;
    }
    
    .map_location {
        width: 16px;
        position: absolute;
        top: 101px;
        z-index: 15;
        left: 26px;
    }
</style>

<body class="style" background="../../image/map/kraftPaper5.png" onload="checkLevelIsPass('85building','kaohsiung')">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">高雄地區</td>
        </tr>
        <tr style="display: none;">
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Kaohsiung_origin.png" onclick="featuresText('高雄地區');playSouth(this)" alt="kaohsiungRegion" /><a style="display: block;">高雄地區</a></td>
            <td id="information" rowspan="4" valign="top" style="font-size:x-large;">
                <h4 style="margin: auto;">昔稱為「打狗」。是臺灣最大工業區。又因有優越的港口，近海漁業發達，亦為重要遠洋漁業基地之一。</h4>
            </td>
        </tr>
        <tr>
            <td><img style="width: 40px;" src="../../image/icon/85building.png" onclick="featuresText('85大樓');playSouth(this)" alt="kaohsiung_f1" /><a style="display: block;">85大樓</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Kaohsiung_E_DA_Theme_Park.png" onclick="featuresText('義大遊樂世界');playSouth(this)" alt="kaohsiung_f2" /><a style="display: block;">義大遊樂世界</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Kaohsiung_pu_lao_hot_spring.png" onclick="featuresText('不老溫泉');playSouth(this)" alt="kaohsiung_f3" /><a style="display: block;">不老溫泉</a></td>
        </tr>

    </table>
    <div class="map">
        <img class="terrain" src="../../image/map/Kaohsiung1.png" />

        <div class="level1">
            <img class="level" alt="7" src="../../image/icon/85building.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=7&counties=Kaohsiungi',800);play012(this);" />
            <img class="level_text" alt="7" src="../../image/numbers/7.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=7&counties=Kaohsiung',800);play012(this);" />
        </div>
        <div class="level2">
            <img class="level" alt="8" src="../../image/icon/85building_dark.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=8&counties=Kaohsiung',800);play012(this);" />
            <img class="level_text" alt="8" src="../../image/numbers/8.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=8&counties=Kaohsiung',800);play012(this);" />
        </div>

        <div class="level3">
            <img class="level" alt="9" src="../../image/icon/85building_dark.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=9&counties=Kaohsiung',800);play012(this);" />
            <img class="level_text" alt="9" src="../../image/numbers/9.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=9&counties=Kaohsiung',800);play012(this);" />
        </div>
        <div class="level4">
            <img class="level" style="width: 54px;" alt="kaohsiung" src="../../image/icon/devil.png" onclick="alert('需要先完成縣市所有關卡！')" />

        </div>
        、
    </div>
    <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
    <img class="map_location" src="../../image/map/map.png" />

    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            let info = document.createElement("h4");
            info.style = 'margin: auto;';

            switch (category) {
                case "高雄地區":
                    information.innerHTML = "";
                    info.innerHTML = "昔稱為「打狗」。是臺灣最大工業區。又因有優越的港口，近海漁業發達，亦為重要遠洋漁業基地之一。";
                    information.append(info)
                    break;
                case "85大樓":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src = 'https://www.mirrormedia.com.tw/assets/images/20191111101130-6370e05220c60aa958e72e912d406d3e-tablet.jpg'/> "
                    info.innerHTML = "85大樓位於高雄市苓雅區。外觀如同高字，是高雄第一高樓，且有世界第三的高速電梯，為台灣第二高的摩天大樓。";
                    information.append(info)
                    break;
                case "義大遊樂世界":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src = 'https://static01-ipass.cdn.hinet.net/ipassweb/iPassWebV2/Preferential/1255/edaevengpage_1.png'/> "
                    info.innerHTML = "義大遊樂世界位於高雄市大樹區。是南臺灣規模最大的主題遊樂園區，也是台灣首創古希臘情境主題的主題樂園。";
                    information.append(info)
                    break;
                case "不老溫泉":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src = 'http://www.pu-lao.com.tw/assets/img/services/1.jpg'/> "
                    info.innerHTML = "早先在荖濃溪上有一條支流小溪，由於終年冒出自地層內的熱水，對皮膚病有神奇的功效，村民稱此為「熱水溪」。現在改名為 「不老溪」。";
                    information.append(info)
                    break;
            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>

</html>