<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/kaohsiung.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
</head>
<style>
    .features {
        background-color: aliceblue;
        width: 320px;
        height: 400px;
        margin-top: -112px;
        margin-left: 103px;
    }

    .map_location{
        width: 16px;
        position: absolute;
        top: 101px;
        z-index: 15;
        left: 26px;
    }
</style>
<body class="style" background="../../image/map/kraftPaper5.png">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">高雄地區</td>
        </tr>
        <tr>
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Kaohsiung_origin.png" onclick="featuresText('高雄地區')" />高雄地區</td>
            <td id="information" rowspan="4" valign="top" style="font-size:x-large;">
                &emsp;&emsp;高雄地區，為六都之一，位於臺灣西南部，昔稱為「打狗」。是臺灣最大工業區。又因有優越的港口，近海漁業發達，亦為重要遠洋漁業基地之一。
            </td>
        </tr>
        <tr>
            <td><img src="../../image/icon/85building.png" onclick="featuresText('85大樓')" />85大樓</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Kaohsiung_E_DA_Theme_Park.png" onclick="featuresText('義大遊樂世界')" />義大遊樂世界</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Kaohsiung_pu_lao_hot_spring.png" onclick="featuresText('不老溫泉')" />不老溫泉</td>
        </tr>

    </table>
    <div class="map">
        <img class="terrain" src="../../image/map/Kaohsiung1.png" />

        <div class="level1">
            <img class="level_basic" src="../../image/icon/85building.png" onclick="location.href='../../view/game/drawzhuyin.html?id=7&counties=Kaohsiungi';mouseDownText(7);" />
            <img class="level_text" src="../../image/numbers/7.png" onclick="location.href='../../view/game/drawzhuyin.html?id=7&counties=Kaohsiung';mouseDownText(7);" />
        </div>
        <div class="level2"><img class="level_basic" src="../../image/icon/85building_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=8&counties=Kaohsiung';mouseDownText(8);" />
            <img class="level_text" src="../../image/numbers/8.png" onclick="location.href='../../view/game/drawzhuyin.html?id=8&counties=Kaohsiung';mouseDownText(8);" />
        </div>

        <div class="level3"> <img class="level_basic" src="../../image/icon/85building_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=9&counties=Kaohsiung';mouseDownText(9);" />
            <img class="level_text" src="../../image/numbers/9.png" onclick="location.href='../../view/game/drawzhuyin.html?id=9&counties=Kaohsiung';mouseDownText(9);" />
        </div>
        <div class="level4">
            <img class="level" src="../../image/icon/devil.png" onclick="alert('需要先完成縣市所有關卡！')" />

        </div>
        、
    </div>
    <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
    <img class="map_location" src="../../image/map/map.png" />
    
    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            switch (category) {
                case "高雄地區":
                    information.innerHTML = "&emsp;&emsp;高雄地區，為六都之一，位於臺灣西南部，昔稱為「打狗」。是臺灣最大工業區。又因有優越的港口，近海漁業發達，亦為重要遠洋漁業基地之一。";
                    mouseDownText(information.innerHTML);
                    break;
                case "85大樓":
                    information.innerHTML = "&emsp;&emsp;85大樓，位於高雄市苓雅區。外觀如同高字，為高雄第一高樓，且有世界第三的高速電梯，為台灣第二高的摩天大樓。";
                    mouseDownText(information.innerHTML);
                    break;
                case "義大遊樂世界":
                    information.innerHTML = "&emsp;&emsp;義大遊樂世界，位於高雄市大樹區。是南臺灣規模最大的主題遊樂園區，也是台灣首創古希臘情境主題的主題樂園。";
                    mouseDownText(information.innerHTML);
                    break;
                case "不老溫泉":
                    information.innerHTML = "&emsp;&emsp;不老溫泉，位於高雄市六龜區。早先在荖濃溪上有一條支流小溪，由於終年冒出 自地層內的熱水，村民皆扶老攜幼去沐浴，對皮膚病有神奇的功效，村民稱此為「熱水溪」。現在改名為 「不老溪」。";
                    mouseDownText(information.innerHTML);
                    break;
            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>

</html>