<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/keelung.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">

</head>

<body class="style" background="../../image/map/kraftPaper5.png">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">基隆地區</td>
        </tr>
        <tr>
            <td >特色</td>
            <td >資訊介紹</td>
        </tr>
        <tr>
            <td ><img src="../../image/map/Keelung_origin.png" onclick="featuresText('基隆地區')" />基隆地區</td>
            <td id="information" rowspan="4" valign="top" style="font-size:x-large;" >
                &emsp;&emsp;基隆地區，位於臺灣北部。三面環山，僅北面一處有少量平原迎向大海，即為深水谷灣之基隆港。港灣深入市區，水面寬闊，集商港、軍港、漁港於一身，為進入北臺灣門戶。
            </td>
        </tr>
        <tr>
            <td ><img src="../../image/icon/oceanliner.png" onclick="featuresText('遊輪')" />遊輪</td>
        </tr>
        <tr>
            <td ><img src="../../image/map_icon/keelung_nightmarket.png" onclick="featuresText('基隆廟口')" />基隆廟口</td>
        </tr>
        <tr>
            <td ><img src="../../image/map_icon/keelung_Tapurun_Fort.png" onclick="featuresText('二沙灣砲臺(海門天險)')" />二沙灣砲臺(海門天險)</td>
        </tr>
       

    </table>
    <div class="map">
        <img id="county" class="terrain" src="../../image/map/Keelung1.png" />
        <div class="level1">
            <img class="level" src="../../image/icon/oceanliner.png"
            onclick="location.href='../../view/game/drawzhuyin.html?id=a1&counties=Keelung';mouseDownText('a');" />
        <img class="level_text"  src="../../image/english_alphabet/A.png"
            onclick="location.href='../../view/game/drawzhuyin.html?id=a1&counties=Keelung';mouseDownText('a');" />
        </div>
       <div class="level2">
        <img class="level" src="../../image/icon/oceanliner.png"
        onclick="location.href='../../view/game/drawzhuyin.html?id=b1&counties=Keelung';mouseDownText('b');" />
        <img class="level_text" src="../../image/english_alphabet/B.png"
        onclick="location.href='../../view/game/drawzhuyin.html?id=b1&counties=Keelung';mouseDownText('b');" />
       </div>
        <div class="level3">
            <img class="level" src="../../image/icon/oceanliner.png"
            onclick="location.href='../../view/game/drawzhuyin.html?id=c1&counties=Keelung';mouseDownText('c');" />
            <img class="level_text" src="../../image/english_alphabet/C.png"
            onclick="location.href='../../view/game/drawzhuyin.html?id=c1&counties=Keelung';mouseDownText('c');" />
        </div>
       <div class="level4">
            <img class="level" src="../../image/icon/oceanliner.png" 
            onclick="location.href='../../view/game/drawzhuyin.html?id=d1&counties=Keelung';mouseDownText('d');" />
            <img class="level_text" src="../../image/english_alphabet/D.png" 
            onclick="location.href='../../view/game/drawzhuyin.html?id=d1&counties=Keelung';mouseDownText('d');" />
       </div>
  
       <div class="level5">
            <img class="level" src="../../image/icon/oceanliner.png" 
            onclick="location.href='../../view/game/drawzhuyin.html?id=e1&counties=Keelung';mouseDownText('e');" />
            <img class="level_text" src="../../image/english_alphabet/E.png" 
            onclick="location.href='../../view/game/drawzhuyin.html?id=e1&counties=Keelung';mouseDownText('e');" />
       </div>
        <img class="level6" src="../../image/icon/devil_lock.png"  onclick="alert('需要先完成縣市所有關卡！')"/>
        
    </div>
    <img class="taiwan" src="../../image/character/NowInNantou.png" onclick="location.href='../../view/level/taiwan.html'" />
    <div>
        <a href="../../test1.html" class="sosfloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
        </a>
    </div>
    <div>
        <a onclick="history.back()"class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
    const information = document.querySelector('#information')
    switch (category) {
        case "基隆地區":
            information.innerHTML = "&emsp;&emsp;基隆地區，位於臺灣北部。三面環山，僅北面一處有少量平原迎向大海，即為深水谷灣之基隆港。港灣深入市區，水面寬闊，集商港、軍港、漁港於一身，為進入北臺灣門戶。";
            mouseDownText(information.innerHTML);
            break;
        case "遊輪":
            information.innerHTML = "&emsp;&emsp;遊輪，又稱郵輪，特色在於悠閒浪漫，且提供旅遊及娛樂，像是一艘航行在海上的五星級大型度假飯店，兼具交通工具與住宿、餐廳的性質。 ";
            mouseDownText(information.innerHTML);
            break;
        case "基隆廟口":
            information.innerHTML = "&emsp;&emsp;基隆廟口，位於基隆市仁三路旁的奠濟宮周圍。小吃種類眾多，是全臺灣最著名的夜市之一。全天24小時皆有店家在此營業，每到晚間夜市時段時更為熱鬧，所以也稱為廟口夜市。";
            mouseDownText(information.innerHTML);
            break;
        case "二沙灣砲臺(海門天險)":
            information.innerHTML="&emsp;&emsp;大武崙砲台，位於基隆市安樂區。於1840年中英鴉片戰爭時，為防止英軍入侵而建，1884年中法戰爭毀損後劉銘傳又重建，因位處於二沙灣一帶的山路上，因此有「二沙灣砲臺」的別稱。";
            mouseDownText(information.innerHTML);
            break;

    }
}

    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>

</html>