<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../CSS/map/miaoli.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
  <title>Document</title>
</head>
<body class="style" background="../../image/map/kraftPaper5.png">
  <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">苗栗</td>
        </tr>
        <tr>
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Miaoli_origin.png" onclick="featuresText('苗栗')" />苗栗</td>
            <td id="information" rowspan="3" valign="top" style="font-size:x-large;">
                &emsp;&emsp;苗栗縣位於新竹及臺中之間，是臺灣西部最適合旅遊及渡假的旅遊勝地。不僅氣候宜人、鮮少天災；交通也是相當便利，每年都吸引超過650萬人次的國內、外旅客來苗觀光旅遊。
            </td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Miaoli_Hakka_RoundHouse.png" onclick="featuresText('苗栗客家圓樓')" />苗栗客家圓樓</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Miaoli_Longteng_Broken_Bridge.png" onclick="featuresText('龍騰斷橋')" />龍騰斷橋</td>
        </tr>

    </table>
    <div class="map">
        <img class="terrain" src="../../image/map/Miaoli1.png" />
        <div class="level1">
            <img class="level" src="../../image/icon/strawberry_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=1&counties=miaoli';mouseDownText(1);" />
            <img class="level_text" src="../../image/numbers/1.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=1&counties=miaoli';mouseDownText(1);" />
        </div>
        <div class="level2"><img class="level" src="../../image/icon/strawberry_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=2&counties=miaoli';mouseDownText(2);" />
            <img class="level_text" src="../../image/numbers/2.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=2&counties=miaoli';mouseDownText(2);" />
            </div>
        <div class="level3">
            <img class="level" src="../../image/icon/strawberry_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=3&counties=miaoli';mouseDownText(3);" />
            <img class="level_text" src="../../image/numbers/3.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=3&counties=miaoli';mouseDownText(3);" />
        </div>
        <div class="level4"> <img class="level" src="../../image/icon/strawberry_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=4&counties=miaoli';mouseDownText(4);" />
            <img class="level_text" src="../../image/numbers/4.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=4&counties=miaoli';mouseDownText(4);" />
            </div>
        <div class="level5"> <img class="level" src="../../image/icon/strawberry_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(5);" />
            <img class="level_text" src="../../image/numbers/5.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(5);" />
            </div>

        <div class="level6"> <img class="level" src="../../image/icon/strawberry_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(6);" />
            <img class="level_text" src="../../image/numbers/6.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(6);" />
            </div>
            
        <div class="level7"> <img class="level" src="../../image/icon/strawberry_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(7);" />
            <img class="level_text" src="../../image/numbers/7.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(7);" />
            </div>
            
            
        <div class="level8"> <img class="level" src="../../image/icon/strawberry_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(8);" />
            <img class="level_text" src="../../image/numbers/8.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(8);" />
            </div>

        <div class="level9"> <img class="level" src="../../image/icon/strawberry_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(9);" />
            <img class="level_text" src="../../image/numbers/9.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(9);" />
            </div>
        <div class="level10">
            <img class="level" src="../../image/icon/devil_lock.png"
                onclick="alert('需要先完成縣市所有關卡！')" />

        </div>

        、
    </div>
    <img class="taiwan" src="../../image/character/NowInNantou.png"
        onclick="location.href='../../view/level/taiwan.html'" />
    <div>
        <a href="../../test1.html" class="sosfloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            switch (category) {
                case "嘉義":
                    information.innerHTML = "&emsp;&emsp;苗栗縣位於新竹及臺中之間，是臺灣西部最適合旅遊及渡假的旅遊勝地。不僅氣候宜人、鮮少天災；交通也是相當便利，每年都吸引超過650萬人次的國內、外旅客來苗觀光旅遊。";
                    mouseDownText(information.innerHTML);
                    break;
                case "龍騰斷橋":
                    information.innerHTML = `&emsp;&emsp;龍騰舊稱「魚藤坪」，相傳先民在開墾初時，鯉魚潭有鯉魚精危害地方，鄉民苦不堪言。為了克制鯉魚精作怪，遂在龍騰山區遍植魚藤，同時，又將東面的高山稱為關刀山，用意是藉關刀山斬魚藤，以毒殺鯉魚精，最後魚怪果然不再危害，居民從此安居樂業。至臺灣光復設村後，村民認為「魚藤」不雅而改名為龍騰。`;
                    mouseDownText(information.innerHTML);
                    break;
                case "苗栗客家圓樓":
                    information.innerHTML = "&emsp;&emsp;列入世界文化遺產的福建客家土樓群是世界獨一無二的大型民居，苗栗後龍高鐵特定區仿照大陸原鄉土樓形式興建客家圓樓，客家圓樓佔地1,385平方公尺、為地下一層、地上三層的結構，一樓為圓型展演劇場，二樓為展示空間，三樓設置DIY研習教室，地下一樓則為多媒體放映室。客家圓樓立於親水廊道上，設有環池步道，觀景弧形平台、入口迎賓廣場及親水棧道等遊憩設施。圓樓周邊設置夜間燈光，入夜後燈光點綴夜色，呈現不同於日間的浪漫風情。";
                    mouseDownText(information.innerHTML);
                    break;

            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>
</html>