<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/map/miaoli.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
    <script src="./centralRegion_JS/miaoli.js"></script>
    <script src="./centralRegion_JS/central.js"></script>
</head>
<style>

</style>

<body style="width: 100%; height: 100%; margin: auto;" onload="checkZhuyin()">

    <div class="bottom_title">
        <h1>苗栗地區</h1>
    </div>

    <div class="Map">
        <img class="taiwan" src="../../image/character/Taiwn_small.png"
            onclick="location.href='../../view/level/taiwan.html'" />
        <img class="map_location" src="../../image/map/map.png" />
    </div>

    <div class="informationBox">
        <h2>介紹</h2>
        <img class="inforbtn" style="margin-top: 0;" src="../../image/map/Miaoli_origin.png"
            onclick="playCentral(this), changeInfor(0)" alt="miaoliRegion" />
        <br>
        <!--  -->
        <img class="inforbtn" src="../../image/icon/strawberry.png" onclick="playCentral(this),changeInfor(1)"
            alt="miaoli_f1" />
        <br>
        <img class="inforbtn" src="../../image/map_icon/Miaoli_Hakka_RoundHouse.png" onclick="playCentral(this),changeInfor(2)"
            alt="miaoli_f2" />
        <br>
        <img class="inforbtn" src="../../image/map_icon/Miaoli_Longteng_Broken_Bridge.png" onclick="playCentral(this),changeInfor(3)"
            alt="miaoli_f3" />
        <br>

    </div>

    <div class="mainContent">
        <img class="city" src="../../image/map/Miaoli1.png" />

        <img id="zhuyin" alt="ao" class="level1" src="../../image/icon/strawberry_dark.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ao&counties=miaoli',800);playBPM(this);" />
        <img class="level1_text" alt="ao" src="../../image/chinese_alphabet/ao.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ao&counties=miaoli',800);playBPM(this);" />

        <img id="zhuyin" alt="ou" class="level2" src="../../image/icon/strawberry_dark.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ou&counties=miaoli',800);playBPM(this);" />
        <img class="level2_text" alt="ou" src="../../image/chinese_alphabet/ou.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ou&counties=miaoli',800);playBPM(this);" />

        <img id="zhuyin" alt="an" class="level3" src="../../image/icon/strawberry_dark.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=an&counties=miaoli',800);playBPM(this);" />
        <img class="level3_text" alt="an" src="../../image/chinese_alphabet/an.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=an&counties=miaoli',800);playBPM(this);" />

        <img id="zhuyin" alt="en" class="level4" src="../../image/icon/strawberry_dark.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=en&counties=miaoli',800);playBPM(this);" />
        <img class="level4_text" alt="en" src="../../image/chinese_alphabet/en.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=en&counties=miaoli',800);playBPM(this);" />

        <img id="zhuyin" alt="ang" class="level5" src="../../image/icon/strawberry_dark.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ang&counties=miaoli',800);playBPM(this);" />
        <img class="level5_text" alt="ang" src="../../image/chinese_alphabet/ang.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ang&counties=miaoli',800);playBPM(this);" />

        <img id="zhuyin" alt="eng" class="level6" src="../../image/icon/strawberry_dark.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=eng&counties=miaoli',800);playBPM(this);" />
        <img class="level6_text" alt="eng" src="../../image/chinese_alphabet/eng.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=eng&counties=miaoli',800);playBPM(this);" />

        <img id="zhuyin" alt="er" class="level7" src="../../image/icon/strawberry_dark.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=er&counties=miaoli',800);playBPM(this);" />
        <img class="level7_text" alt="er" src="../../image/chinese_alphabet/er.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=er&counties=miaoli',800);playBPM(this);" />

        <img class="level8" alt="" src="../../image/icon/devil_lock.png" onclick="alert('需要先完成縣市所有關卡！')" />


    </div>

    <div class="fullContent">
        <h1 onclick="document.querySelector('.fullContent').style.display='none'">X</h1>
        <div class="introduce">
            <div style="height: 60%;width: 100%; text-align: center;">
                <img id="picture" style='height: 90%; border-radius: 15px; margin-top: 2%'
                    src='https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_C100_342_7.jpg&sizetype=2' />
                <img id="speaker" style='position: absolute; top: 20px; right: 20px;  height: 15%'
                    src="../../icons/speaker.png" onclick="playCentral(this)" alt="miaoliRegion" />
            </div>
            <div style="height: 40%;width: 100%;">
                <h2 id="intro" style='margin: 0 3% 0 3%;'>
                    苗栗地區，是臺灣西部最適合旅遊及渡假的旅遊勝地。不僅氣候宜人、鮮少天災；交通也是相當便利，每年都吸引數百萬的國內、外旅客來苗觀光旅遊。
                </h2>
            </div>
        </div>
    </div>

    <div class="btnDiv">
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>

        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>

    <script src="../../model/util/voiceOut.js"></script>

</body>

</html>


<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../CSS/map/miaoli.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
    <script src="./centralRegion_JS/miaoli.js"></script>
    <script src="./centralRegion_JS/central.js"></script>
    <title>Document</title>
</head>

<style>
    .features {
        background-color: aliceblue;
        width: 320px;
        height: 400px;
        margin-top: 40px;
        margin-left: 103px;
    }
    
    .map_location {
        width: 16px;
        position: absolute;
        top: 32px;
        z-index: 15;
        left: 36px;
    }
</style>

<body class="style" background="../../image/map/kraftPaper5.png" onload="checkZhuyin()">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">苗栗地區</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Miaoli_origin.png" onclick="featuresText('苗栗');playCentral(this)" alt="miaoliRegion" /><a style="display: block;">苗栗地區</a></td>
            <td id="information" rowspan="4" valign="top" style="font-size:x-large;">
                <h4 style='margin: auto;'>
                    是臺灣西部最適合旅遊及渡假的旅遊勝地。不僅氣候宜人、鮮少天災；交通也是相當便利，每年都吸引數百萬的國內、外旅客來苗觀光旅遊。
                </h4>
            </td>
        </tr>
        <tr>
            <td><img src="../../image/icon/strawberry.png" onclick="featuresText('大湖草莓');playCentral(this)" alt="miaoli_f1" /><a style="display: block;">大湖草莓</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Miaoli_Hakka_RoundHouse.png" onclick="featuresText('苗栗客家圓樓');playCentral(this)" alt="miaoli_f2" /><a style="display: block;">苗栗客家圓樓</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Miaoli_Longteng_Broken_Bridge.png" onclick="featuresText('龍騰斷橋');playCentral(this)" alt="miaoli_f3" /><a style="display: block;">龍騰斷橋</a></td>
        </tr>

    </table>
    <div class="map">
        <img class="terrain" src="../../image/map/Miaoli1.png" />
        <div class="level1">
            <img id="zhuyin" alt="ao" class="level" src="../../image/icon/strawberry_dark.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ao&counties=miaoli',800);playBPM(this);" />
            <img class="level_text" alt="ao" src="../../image/chinese_alphabet/ao.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ao&counties=miaoli',800);playBPM(this);" />
        </div>
        <div class="level2">
            <img id="zhuyin" alt="ou" class="level" src="../../image/icon/strawberry_dark.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ou&counties=miaoli',800);playBPM(this);" />
            <img class="level_text" alt="ou" src="../../image/chinese_alphabet/ou.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ou&counties=miaoli',800);playBPM(this);" />
        </div>
        <div class="level3">
            <img id="zhuyin" alt="an" class="level" src="../../image/icon/strawberry_dark.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=an&counties=miaoli',800);playBPM(this);" />
            <img class="level_text" alt="an" src="../../image/chinese_alphabet/an.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=an&counties=miaoli',800);playBPM(this);" />
        </div>

        <div class="level4">
            <img id="zhuyin" alt="en" class="level" src="../../image/icon/strawberry_dark.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=en&counties=miaoli',800);playBPM(this);" />
            <img class="level_text" alt="en" src="../../image/chinese_alphabet/en.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=en&counties=miaoli',800);playBPM(this);" />
        </div>

        <div class="level5">
            <img id="zhuyin" alt="ang" class="level" src="../../image/icon/strawberry_dark.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ang&counties=miaoli',800);playBPM(this);" />
            <img class="level_text" alt="ang" src="../../image/chinese_alphabet/ang.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=ang&counties=miaoli',800);playBPM(this);" />
        </div>


        <div class="level6">
            <img id="zhuyin" alt="eng" class="level" src="../../image/icon/strawberry_dark.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=eng&counties=miaoli',800);playBPM(this);" />
            <img class="level_text" alt="eng" src="../../image/chinese_alphabet/eng.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=eng&counties=miaoli',800);playBPM(this);" />
        </div>

        <div class="level7">
            <img id="zhuyin" alt="er" class="level" src="../../image/icon/strawberry_dark.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=er&counties=miaoli',800);playBPM(this);" />
            <img class="level_text" alt="er" src="../../image/chinese_alphabet/er.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=er&counties=miaoli',800);playBPM(this);" />
        </div>
        <div class="level8">
            <img class="level" src="../../image/icon/devil_lock.png" onclick="alert('需要先完成縣市所有關卡！')" />

        </div>

        、
    </div>
    <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
    <img class="map_location" src="../../image/map/map.png" />

    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            let info = document.createElement("h4");
            info.style = 'margin: auto;';

            switch (category) {
                case "苗栗":
                    information.innerHTML = "";
                    info.innerHTML = "是臺灣西部最適合旅遊及渡假的旅遊勝地。不僅氣候宜人、鮮少天災；交通也是相當便利，每年都吸引數百萬的國內、外旅客來苗觀光旅遊。";
                    information.append(info)
                    break;
                case "大湖草莓":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src = 'https://ezgo.coa.gov.tw/ViewNews.27800/20191203-01.jpg'/> "
                    info.innerHTML = "苗栗縣大湖鄉的特產，氣候溫和多雨，以草莓聞名全國，具有臺灣草莓王國雅號。";
                    information.append(info)
                    break;
                case "龍騰斷橋":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src = 'https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_C100_342_8.jpg&sizetype=3'/> "
                    info.innerHTML = "舊稱「魚藤坪」。相傳於開墾初時，有鯉魚精危害。因此鄉民在龍騰山區遍植魚藤，將東面的高山稱為關刀山，以克制魚怪。";
                    information.append(info)
                    break;
                case "苗栗客家圓樓":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src = 'https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_A12-00261.jpg&sizetype=3'/> "
                    info.innerHTML = "圓樓彰顯苗栗在地客家文化特質外，更結合親水廊道的美麗景觀，打造苗栗亮麗的門面，呈現在地藝文特色。";
                    information.append(info)
                    break;

            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>

</html> -->