<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../CSS/map/miaoli.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
    <title>Document</title>
</head>

<body class="style" background="../../image/map/kraftPaper5.png">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">苗栗地區</td>
        </tr>
        <tr>
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Miaoli_origin.png" onclick="featuresText('苗栗地區')" />苗栗地區</td>
            <td id="information" rowspan="4" valign="top" style="font-size:x-large;">
                &emsp;&emsp;苗栗地區，位於新竹及臺中之間，是臺灣西部最適合旅遊及渡假的旅遊勝地。不僅氣候宜人、鮮少天災；交通也是相當便利，每年都吸引超過650萬人次的國內、外旅客來苗觀光旅遊。
            </td>
        </tr>
        <tr>
            <td><img src="../../image/icon/strawberry.png" onclick="featuresText('大湖草莓')" />大湖草莓</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Miaoli_Hakka_RoundHouse.png" onclick="featuresText('苗栗客家圓樓')" />苗栗客家圓樓</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Miaoli_Longteng_Broken_Bridge.png" onclick="featuresText('龍騰斷橋')" />龍騰斷橋</td>
        </tr>

    </table>
    <div class="map">
        <img class="terrain" src="../../image/map/Miaoli1.png" />
        <div class="level1">
            <img class="level" src="../../image/icon/strawberry_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=ao&counties=miaoli';mouseDownText(ㄠ);" />
            <img class="level_text" src="../../image/chinese_alphabet/ao.png" onclick="location.href='../../view/game/drawzhuyin.html?id=ao&counties=miaoli';mouseDownText(ㄠ);" />
        </div>
        <div class="level2">
            <img class="level" src="../../image/icon/strawberry_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=ou&counties=miaoli';mouseDownText(ㄡ);" />
            <img class="level_text" src="../../image/chinese_alphabet/ou.png" onclick="location.href='../../view/game/drawzhuyin.html?id=ou&counties=miaoli';mouseDownText(ㄡ);" />
        </div>
        <div class="level3"> <img class="level" src="../../image/icon/strawberry_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=an&counties=miaoli';mouseDownText(ㄢ);" />
            <img class="level_text" src="../../image/chinese_alphabet/an.png" onclick="location.href='../../view/game/drawzhuyin.html?id=an&counties=miaoli';mouseDownText(ㄢ);" />
        </div>

        <div class="level4"> <img class="level" src="../../image/icon/strawberry_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=en&counties=miaoli';mouseDownText(ㄣ);" />
            <img class="level_text" src="../../image/chinese_alphabet/en.png" onclick="location.href='../../view/game/drawzhuyin.html?id=en&counties=miaoli';mouseDownText(ㄣ);" />
        </div>

        <div class="level5"> <img class="level" src="../../image/icon/strawberry_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=ang&counties=miaoli';mouseDownText(ㄤ);" />
            <img class="level_text" src="../../image/chinese_alphabet/ang.png" onclick="location.href='../../view/game/drawzhuyin.html?id=ang&counties=miaoli';mouseDownText(ㄤ);" />
        </div>


        <div class="level6"> <img class="level" src="../../image/icon/strawberry_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=eng&counties=miaoli';mouseDownText(ㄥ);" />
            <img class="level_text" src="../../image/chinese_alphabet/eng.png" onclick="location.href='../../view/game/drawzhuyin.html?id=eng&counties=miaoli';mouseDownText(ㄥ);" />
        </div>

        <div class="level7"> <img class="level" src="../../image/icon/strawberry_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=er&counties=miaoli';mouseDownText(ㄦ);" />
            <img class="level_text" src="../../image/chinese_alphabet/er.png" onclick="location.href='../../view/game/drawzhuyin.html?id=er&counties=miaoli';mouseDownText(ㄦ);" />
        </div>
        <div class="level8">
            <img class="level" src="../../image/icon/devil_lock.png" onclick="alert('需要先完成縣市所有關卡！')" />

        </div>

        、
    </div>
    <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
    <div>
        <a href="../../test1.html" class="sosfloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
        </a>
    </div>
    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            switch (category) {
                case "苗栗地區":
                    information.innerHTML = "&emsp;&emsp;苗栗地區，位於新竹及臺中之間，是臺灣西部最適合旅遊及渡假的旅遊勝地。不僅氣候宜人、鮮少天災；交通也是相當便利，每年都吸引超過650萬人次的國內、外旅客來苗觀光旅遊。";
                    mouseDownText(information.innerHTML);
                    break;
                case "大湖草莓":
                    information.innerHTML = "&emsp;&emsp;草莓是苗栗縣大湖鄉的特產，氣候溫和多雨，以草莓聞名全國，素有臺灣草莓王國雅號。";
                    mouseDownText(information.innerHTML);
                    break;
                case "龍騰斷橋":
                    information.innerHTML = "&emsp;&emsp;龍騰斷橋，位於苗栗縣三義鄉，舊稱「魚藤坪」。相傳先民在開墾初時，鯉魚潭有鯉魚精危害地方，鄉民苦不堪言。為了克制鯉魚精作怪，遂在龍騰山區遍植魚藤，又將東面的高山稱為關刀山，用意是藉關刀山斬魚藤，以毒殺鯉魚精，最後魚怪不再危害，居民從此安居樂業。";
                    mouseDownText(information.innerHTML);
                    break;
                case "苗栗客家圓樓":
                    information.innerHTML = "&emsp;&emsp;客家圓樓，位於苗栗縣後龍鎮。彰顯苗栗在地客家文化特質外，更結合整治北勢溪成果─親水廊道的美麗景觀，為苗栗打造亮麗的門面，呈現在地精緻藝文特色。";
                    mouseDownText(information.innerHTML);
                    break;

            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>

</html>