<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/nantou.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">

</head>

<body class="style" background="../../image/map/kraftPaper5.png">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">南投</td>
        </tr>
        <tr>
            <td >特色</td>
            <td >資訊介紹</td>
        </tr>
        <tr>
            <td ><img src="../../image/map/Nantou_origin.png" onclick="featuresText('南投')" />南投</td>
            <td id="information" rowspan="3" valign="top" style="font-size:x-large;" >
                &emsp;&emsp;南投地名由來，源自平埔族洪雅族支族阿立昆族（Arikun）族語「Ramtau」，即以臺語音譯為「南投」。《諸羅縣志》:「虎尾之北有大武郡山，東為南投山，內社二，溪南為南投，溪北為北投」，故得名「南投」。而北投指今草屯鎮（古北投堡）。
            </td>
        </tr>
        <tr>
            <td ><img src="../../image/icon/herbal_tea.png" onclick="featuresText('高山茶')" />高山茶</td>
        </tr>
        <tr>
            <td ><img src="../../image/icon/lake.png" onclick="featuresText('日月潭')" />日月潭</td>
        </tr>

    </table>
    <div class="map">
        <img id="county" class="terrain" src="../../image/map/Nantou.png" />
        <img class="level1" src="../../image/icon/herbal_tea.png"
            onclick="location.href='../../view/game/drawzhuyin.html?id=b&counties=nantou';mouseDownText('ㄅ');" />
        <img class="level1_text"  src="../../image/chinese_alphabet/b.png"
            onclick="location.href='../../view/game/drawzhuyin.html?id=b&counties=nantou';mouseDownText('ㄅ');" />
        <img class="level2" src="../../image/icon/herbal_tea.png"
            onclick="location.href='../../view/game/drawzhuyin.html?id=p&counties=nantou';mouseDownText('ㄆ');" />
            <img class="level2_text" src="../../image/chinese_alphabet/p.png"
            onclick="location.href='../../view/game/drawzhuyin.html?id=p&counties=nantou';mouseDownText('ㄆ');" />
        <img class="level3" src="../../image/icon/herbal_tea.png"
            onclick="location.href='../../view/game/drawzhuyin.html?id=m&counties=nantou';mouseDownText('ㄇ');" />
            <img class="level3_text" src="../../image/chinese_alphabet/m.png"
            onclick="location.href='../../view/game/drawzhuyin.html?id=m&counties=nantou';mouseDownText('ㄇ');" />
        <img class="level4" src="../../image/icon/herbal_tea.png" 
            onclick="location.href='../../view/game/drawzhuyin.html?id=f';mouseDownText('ㄈ');" />
            <img class="level4_text" src="../../image/chinese_alphabet/f.png" 
            onclick="location.href='../../view/game/drawzhuyin.html?id=f&counties=nantou';mouseDownText('ㄈ');" />
        <img class="level5" src="../../image/icon/herbal_tea_dark.png"  
            onclick="location.href='../../view/game/drawzhuyin.html?id=d&counties=nantou';mouseDownText('ㄉ');" />
            <img class="level5_text" src="../../image/chinese_alphabet/d.png" 
             onclick="location.href='../../view/game/drawzhuyin.html?id=d&counties=nantou';mouseDownText('ㄉ');" />
        <img class="level6" src="../../image/icon/herbal_tea_dark.png" 
            onclick="location.href='../../view/game/drawzhuyin.html?id=t&counties=nantou';mouseDownText('ㄊ');" />
        <img class="level6_text" src="../../image/chinese_alphabet/t.png" 
            onclick="location.href='../../view/game/drawzhuyin.html?id=t&counties=nantou';mouseDownText('ㄊ');" />
        <img class="level7" src="../../image/icon/herbal_tea_dark.png" 
            onclick="location.href='../../view/game/drawzhuyin.html?id=n&counties=nantou';mouseDownText('ㄋ');" />
        <img class="level7_text" src="../../image/chinese_alphabet/n.png" 
            onclick="location.href='../../view/game/drawzhuyin.html?id=n&counties=nantou';mouseDownText('ㄋ');" />
        <img class="level8" src="../../image/icon/herbal_tea_dark.png" 
            onclick="location.href='../../view/game/drawzhuyin.html?id=l&counties=nantou';mouseDownText('ㄌ');" />
        <img class="level8_text" src="../../image/chinese_alphabet/l.png" 
            onclick="location.href='../../view/game/drawzhuyin.html?id=l&counties=nantou';mouseDownText('ㄌ');" />
        <img class="level9" src="../../image/icon/herbal_tea_dark.png" 
            onclick="location.href='../../view/game/drawzhuyin.html?id=g&counties=nantou';mouseDownText('ㄍ');" />
        <img class="level9_text" src="../../image/chinese_alphabet/g.png" 
            onclick="location.href='../../view/game/drawzhuyin.html?id=g&counties=nantou';mouseDownText('ㄍ');" />
        <img class="level10" src="../../image/icon/devil_lock.png"  
        onclick="alert('需要先完成縣市所有關卡！')"/>
        
    </div>
    <img class="taiwan" src="../../image/character/NowInNantou.png" onclick="location.href='../../view/level/taiwan.html'" />
    <div>
        <a href="../../test1.html" class="sosfloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
        </a>
    </div>
    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
    const information = document.querySelector('#information')
    switch (category) {
        case "南投":
            information.innerHTML = "&emsp;&emsp;南投地名由來，源自平埔族洪雅族支族阿立昆族（Arikun）族語「Ramtau」，即以臺語音譯為「南投」。《諸羅縣志》:「虎尾之北有大武郡山，東為南投山，內社二，溪南為南投，溪北為北投」，故得名「南投」。而北投指今草屯鎮（古北投堡）。";
            mouseDownText(information.innerHTML);
            break;
        case "高山茶":
            information.innerHTML = "&emsp;&emsp;高山茶 (英文high mountain tea)是指在海拔1000公尺以上茶園，所摘取製作的茶葉。高山茶由於生長高度高、採收慢，因此茶葉苦澀度較低。從1980年代興起，20多年來風靡台灣，甚至成為台灣最具知名度茶品，可見其品質優良。";
            mouseDownText(information.innerHTML);
            break;
        case "日月潭":
            information.innerHTML="&emsp;&emsp;日月潭位於臺灣南投縣魚池鄉，是一座美麗的高山湖泊。潭面以拉魯島為界，東側形如「日」，西側形如「月」，故名日月潭。其周圍山重水複，林木蒼鬱，潭面廣闊水平如鏡，映照群山變化萬千。";
            mouseDownText(information.innerHTML);
            break;

    }
}

    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>

</html>