<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/map/nantou.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
    <script src="./centralRegion_JS/nantou.js"></script>
    <script src="./centralRegion_JS/central.js"></script>
</head>
<style>

</style>

<body style="width: 100%; height: 100%; margin: auto;" onload="checkZhuyin()">

    <div class="title">
        <h1>南投地區</h1>
    </div>

    <div class="informationBox">
        <h2>介紹</h2>
        <img class="inforbtn" style="margin-top: 0;" src="../../image/map/Nantou_origin.png" onclick="playCentral(this)"
            alt="nantouRegion" />
        <br>

        <img class="inforbtn" src="../../image/icon/lake.png" onclick="playCentral(this)" alt="nantou_f2" />
        <br>

        <img class="inforbtn" src="../../image/icon/herbal_tea.png" onclick="playCentral(this)" alt="nantou_f1" />
        <br>
    </div>

    <div class="mainContent">
        <img class="city" src="../../image/map/Nantou_small.png" />

        <div class="city_background">

        </div>

        <img id="zhuyin" alt="b" class="level1" src="../../image/icon/herbal_tea.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=b&counties=nantou',800);playBPM(this);" />
        <img class="level1_text" alt="b" src="../../image/chinese_alphabet/b.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=b&counties=nantou',800);playBPM(this);" />

        <img id="zhuyin" alt="p" class="level2" src="../../image/icon/herbal_tea.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=p&counties=nantou',800);playBPM(this);" />
        <img class="level2_text" alt="p" src="../../image/chinese_alphabet/p.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=p&counties=nantou',800);playBPM(this);" />

        <img id="zhuyin" alt="m" class="level3" src="../../image/icon/herbal_tea.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=m&counties=nantou',800);playBPM(this);" />
        <img class="level3_text" alt="m" src="../../image/chinese_alphabet/m.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=m&counties=nantou',800);playBPM(this);" />

        <img id="zhuyin" alt="f" class="level4" src="../../image/icon/herbal_tea.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=f',800);playBPM(this);" />
        <img class="level4_text" alt="f" src="../../image/chinese_alphabet/f.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=f&counties=nantou',800);playBPM(this);" />
            
        <img id="zhuyin" alt="d" class="level5" src="../../image/icon/herbal_tea_dark.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=d&counties=nantou',800);playBPM(this);" />
        <img class="level5_text" alt="d" src="../../image/chinese_alphabet/d.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=d&counties=nantou',800);playBPM(this);" />

        <img id="zhuyin" alt="t" class="level6" src="../../image/icon/herbal_tea_dark.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=t&counties=nantou',800);playBPM(this);" />
        <img class="level6_text" alt="t" src="../../image/chinese_alphabet/t.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=t&counties=nantou',800);playBPM(this);" />

        <img id="zhuyin" alt="n" class="level7" src="../../image/icon/herbal_tea_dark.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=n&counties=nantou',800);playBPM(this);" />
        <img class="level7_text" alt="n" src="../../image/chinese_alphabet/n.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=n&counties=nantou',800);playBPM(this);" />

        <img id="zhuyin" alt="l" class="level8" src="../../image/icon/herbal_tea_dark.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=l&counties=nantou',800);playBPM(this);" />
        <img class="level8_text" alt="l" src="../../image/chinese_alphabet/l.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=l&counties=nantou',800);playBPM(this);" />

        <img id="zhuyin" alt="g" class="level9" src="../../image/icon/herbal_tea_dark.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=g&counties=nantou',800);playBPM(this);" />
        <img class="level9_text" alt="g" src="../../image/chinese_alphabet/g.png"
            onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=g&counties=nantou',800);playBPM(this);" />

        <img class="level10" alt="" src="../../image/icon/devil_lock.png" onclick="alert('需要先完成縣市所有關卡！')" />


    </div>

    <img class="taiwan" src="../../image/character/Taiwn_small.png"
        onclick="location.href='../../view/level/taiwan.html'" />
    <img class="map_location" src="../../image/map/map.png" />

    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    
    <script src="../../model/util/voiceOut.js"></script>

</body>

</html>