<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/nantou.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">

</head>
<body class="style" background="../../image/map/kraftPaper5.png" >
    
    <div class="map"> 
        <img class="terrain" src="../../image/map/Nantou.png" />
        <img class="level1" src="../../image/icon/herbal-tea.png" onclick="location.href='../../view/game/drawzhuyin.html?id=b'" />
        <img class="level2" src="../../image/icon/herbal-tea.png" onclick="location.href='../../view/game/drawzhuyin.html?id=p'" />
        <img class="level3" src="../../image/icon/herbal-tea.png" onclick="location.href='../../view/game/drawzhuyin.html?id=m'" />
        <img class="level4" src="../../image/icon/herbal-tea.png" onclick="location.href='../../view/game/drawzhuyin.html?id=f'" />
        <img class="level5" src="../../image/icon/herbal-tea.png" onclick="location.href='../../view/game/drawzhuyin.html?id=d'" />
        <img class="level6" src="../../image/icon/herbal-tea.png" onclick="location.href='../../view/game/drawzhuyin.html?id=t'" />
        <img class="level7" src="../../image/icon/herbal-tea.png" onclick="location.href='../../view/game/drawzhuyin.html?id=n'" />
        <img class="level8" src="../../image/icon/herbal-tea.png" onclick="location.href='../../view/game/drawzhuyin.html?id=l'" />
        <img class="level9" src="../../image/icon/herbal-tea.png" onclick="location.href='../../view/game/drawzhuyin.html?id=g'" />
        <img class="level10" src="../../image/icon/herbal-tea.png" onclick="location.href='../../view/game/pickingUpIsALittleRed.html'" />
    </div>
    <img class="taiwan" src="../../image/map/Taiwan_map.png" onclick="location.href='../../view/level/taiwan.html'"/>
    <div>
        <a href="../../exam_phonetic copy.html" class="sosfloat" id="menu-share">
          <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
          </a>
      </div>
    <div>
        <a href="../../game_home.html" class="returnfloat" id="menu-share">
          <i class="fab fa-share return-float"><img src="../../photo/return.png" ></i>
          </a>
      </div>
      <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
          <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
          </a>
      </div>
</body>
</html>