<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/nantou.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
    <script src="./centralRegionjs/nantou.js"></script>
</head>
<style>
    .features {
        background-color: aliceblue;
        width: 320px;
        height: 400px;
        margin-top: 40px;
        margin-left: 40px;
    }
    
    .map_location {
        width: 16px;
        position: absolute;
        top: 64px;
        z-index: 15;
        left: 41px;
    }
</style>

<body class="style" background="../../image/map/kraftPaper5.png" onload="checkZhuyin()">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">南投地區</td>
        </tr>
        <tr style="display: none;">
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Nantou_origin.png" onclick="featuresText('南投地區')" /><a style="display: block;">南投地區</a></td>
            <td id="information" rowspan="3" valign="top" style="font-size:x-large;">
                <h4 style= 'margin: auto;'>
                    南投地區，是唯一不靠海的縣市，而南投的地名由來，是因為平埔族阿立昆族的族語「Ramtau」，臺語就是音譯為「南投」。
                </h4>
            </td>
        </tr>
        <tr>
            <td><img src="../../image/icon/herbal_tea.png" onclick="featuresText('高山茶')" /><a style="display: block;">高山茶</a></td>
        </tr>
        <tr>
            <td><img src="../../image/icon/lake.png" onclick="featuresText('日月潭')" /><a style="display: block;">日月潭</a></td>
        </tr>

    </table>
    <div class="map">
        <img id="county" class="terrain" src="../../image/map/Nantou_small.png" />
        <img id="zhuyin" alt="ㄅ" class="level1" src="../../image/icon/herbal_tea.png" onclick="location.href='../../view/game/drawzhuyin.html?id=b&counties=nantou';mouseDownText('ㄅ');" />
        <img class="level1_text" src="../../image/chinese_alphabet/b.png" onclick="location.href='../../view/game/drawzhuyin.html?id=b&counties=nantou';mouseDownText('ㄅ');" />
        <img id="zhuyin" alt="ㄆ" class="level2" src="../../image/icon/herbal_tea.png" onclick="location.href='../../view/game/drawzhuyin.html?id=p&counties=nantou';mouseDownText('ㄆ');" />
        <img class="level2_text" src="../../image/chinese_alphabet/p.png" onclick="location.href='../../view/game/drawzhuyin.html?id=p&counties=nantou';mouseDownText('ㄆ');" />
        <img id="zhuyin" alt="ㄇ" class="level3" src="../../image/icon/herbal_tea.png" onclick="location.href='../../view/game/drawzhuyin.html?id=m&counties=nantou';mouseDownText('ㄇ');" />
        <img class="level3_text" src="../../image/chinese_alphabet/m.png" onclick="location.href='../../view/game/drawzhuyin.html?id=m&counties=nantou';mouseDownText('ㄇ');" />
        <img id="zhuyin" alt="ㄈ" class="level4" src="../../image/icon/herbal_tea.png" onclick="location.href='../../view/game/drawzhuyin.html?id=f';mouseDownText('ㄈ');" />
        <img class="level4_text" src="../../image/chinese_alphabet/f.png" onclick="location.href='../../view/game/drawzhuyin.html?id=f&counties=nantou';mouseDownText('ㄈ');" />
        <img id="zhuyin" alt="ㄉ" class="level5" src="../../image/icon/herbal_tea_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=d&counties=nantou';mouseDownText('ㄉ');" />
        <img class="level5_text" src="../../image/chinese_alphabet/d.png" onclick="location.href='../../view/game/drawzhuyin.html?id=d&counties=nantou';mouseDownText('ㄉ');" />
        <img id="zhuyin" alt="ㄊ" class="level6" src="../../image/icon/herbal_tea_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=t&counties=nantou';mouseDownText('ㄊ');" />
        <img class="level6_text" src="../../image/chinese_alphabet/t.png" onclick="location.href='../../view/game/drawzhuyin.html?id=t&counties=nantou';mouseDownText('ㄊ');" />
        <img id="zhuyin" alt="ㄋ" class="level7" src="../../image/icon/herbal_tea_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=n&counties=nantou';mouseDownText('ㄋ');" />
        <img class="level7_text" src="../../image/chinese_alphabet/n.png" onclick="location.href='../../view/game/drawzhuyin.html?id=n&counties=nantou';mouseDownText('ㄋ');" />
        <img id="zhuyin" alt="ㄌ" class="level8" src="../../image/icon/herbal_tea_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=l&counties=nantou';mouseDownText('ㄌ');" />
        <img class="level8_text" src="../../image/chinese_alphabet/l.png" onclick="location.href='../../view/game/drawzhuyin.html?id=l&counties=nantou';mouseDownText('ㄌ');" />
        <img id="zhuyin" alt="ㄍ" class="level9" src="../../image/icon/herbal_tea_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=g&counties=nantou';mouseDownText('ㄍ');" />
        <img class="level9_text" src="../../image/chinese_alphabet/g.png" onclick="location.href='../../view/game/drawzhuyin.html?id=g&counties=nantou';mouseDownText('ㄍ');" />
        <img class="level10" src="../../image/icon/devil_lock.png" onclick="alert('需要先完成縣市所有關卡！')" />

    </div>
    <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
    <img class="map_location" src="../../image/map/map.png" />
    
    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            let info = document.createElement("h4");
            info.style= 'margin: auto;';

            switch (category) {
                case "南投地區":
                    information.innerHTML = "";
                    info.innerHTML="南投地區，是唯一不靠海的縣市，而南投的地名由來，是因為平埔族阿立昆族的族語「Ramtau」，臺語就是音譯為「南投」。";
                    information.append(info)
                    mouseDownText(info.innerHTML);
                    break;
                    
                case "高山茶":
                    information.innerHTML = " <img style = 'width:100%; border-radius: 15px;'  src = 'https://s.yimg.com/os/zh-Hant-TW/homerun/tw-travel.travelweb.com.tw/71e4ae358ca78944aaec7b6a4320bd07'/> "
                    info.innerHTML="高山茶，是指在海拔1000公尺以上茶園，所摘取製作的茶葉。"
                    information.append(info)
                    mouseDownText(info.innerHTML);
                    break;
                case "日月潭":
                    information.innerHTML = " <img style = 'width:100%; border-radius: 15px;'  src ='https://www.funtime.com.tw/blog/wp-content/uploads/2020/04/25.jpg'/>";
                    info.innerHTML = "日月潭，東邊的形狀像「日」，而西邊的形狀像「月」，所以稱做日月潭，是一座美麗的高山湖泊。"; 
                    information.append(info)

                    mouseDownText(info.innerHTML);
                    break;

            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
    
</body>

</html>