<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/newTaipei.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">

</head>

<body class="style" background="../../image/map/kraftPaper5.png">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">新北地區</td>
        </tr>
        <tr>
            <td >特色</td>
            <td >資訊介紹</td>
        </tr>
        <tr>
            <td ><img src="../../image/map/NewTaipei_origin.png" onclick="featuresText('新北市')" />新北地區</td>
            <td id="information" rowspan="5" valign="top" style="font-size:x-large;" >
                &emsp;&emsp;新北地區是臺灣本島最北的城市，環繞整個臺北市，總面積達二千多平方公里，海岸線長達120餘公里，幅員遼闊，新北市的東北、北部、西北部均臨海，市內北海岸與東北角海岸擁有豐富的海景奇觀及海岸風光，每逢夏日，海上盡是弄潮張帆的人潮，整條綿延的山海線，銜接成臺北人最鍾愛的黃金旅遊路線。
            </td>
        </tr>
        <tr>
            <td ><img src="../../image/map_icon/NewTaipei_queen_head.png" onclick="featuresText('女王頭')" />女王頭</td>
        </tr>
        <tr>
            <td ><img src="../../image/map_icon/NewTaipei_golden_waterfall.png" onclick="featuresText('黃金瀑布')" />黃金瀑布</td>
        </tr>
        <tr>
            <td ><img src="../../image/map_icon/NewTaipei_christmas_tree.png" onclick="featuresText('新北市歡樂耶誕城')" />新北市歡樂耶誕城</td>
        </tr>
        <tr>
            <td ><img src="../../image/map_icon/NewTaipei_small_train.png" onclick="featuresText('烏來台車')" />烏來台車</td>
        </tr>

    </table>
    <div class="map">
        <img id="county" class="terrain" src="../../image/map/NewTaipei1.png" />
        <div class="level1">
            <img class="level" src="../../image/icon/NewTaipei_icon.png"
            onclick="location.href='../../view/game/drawzhuyin.html?id=j1&counties=newTaipei';mouseDownText('J');" />
        <img class="level_text"  src="../../image/english_alphabet/J.png"
            onclick="location.href='../../view/game/drawzhuyin.html?id=j1&counties=newTaipei';mouseDownText('J');" />
        </div>
       
        <div class="level2">
            <img class="level" src="../../image/icon/NewTaipei_icon.png"
            onclick="location.href='../../view/game/drawzhuyin.html?id=k1&counties=newTaipei';mouseDownText('k');" />
            <img class="level_text" src="../../image/english_alphabet/K.png"
            onclick="location.href='../../view/game/drawzhuyin.html?id=k1&counties=newTaipei';mouseDownText('K');" />
        </div>
       <div class="level3">
        <img class="level" src="../../image/icon/NewTaipei_icon_dark.png"
         onclick="location.href='../../view/game/drawzhuyin.html?id=l1&counties=newTaipei';mouseDownText('l');" />
        <img class="level_text" src="../../image/english_alphabet/L.png" 
        onclick="location.href='../../view/game/drawzhuyin.html?id=l1&counties=newTaipei';mouseDownText('l');" />
       </div>
       
       <div class="level4">
        <img class="level" src="../../image/icon/NewTaipei_icon.png" 
        onclick="location.href='../../view/game/drawzhuyin.html?id=m1&counties=newTaipei';mouseDownText('m');" />
        <img class="level_text" src="../../image/english_alphabet/M.png" 
        onclick="location.href='../../view/game/drawzhuyin.html?id=m1&counties=newTaipei';mouseDownText('m');" />
       </div>
       
        <div class="level5">
            <img class="level" src="../../image/icon/NewTaipei_icon.png" 
            onclick="location.href='../../view/game/drawzhuyin.html?id=n1&counties=newTaipei';mouseDownText('n');" />
            <img class="level_text" src="../../image/english_alphabet/N.png"
             onclick="location.href='../../view/game/drawzhuyin.html?id=n1&counties=newTaipei';mouseDownText('n');" />
        </div>
     
      
        <img class="level6" src="../../image/icon/devil_lock.png" 
         onclick="alert('需要先完成縣市所有關卡！')"/>
    </div>
    <img class="taiwan" src="../../image/character/NowInNantou.png" onclick="location.href='../../view/level/taiwan.html'" />
    <div>
        <a href="../../test1.html" class="sosfloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
        </a>
    </div>
    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
    const information = document.querySelector('#information')
    switch (category) {
        case "新北地區":
            information.innerHTML = "&emsp;&emsp;新北地區是臺灣本島最北的城市，環繞整個臺北市，總面積達二千多平方公里，海岸線長達120餘公里，幅員遼闊，新北市的東北、北部、西北部均臨海，市內北海岸與東北角海岸擁有豐富的海景奇觀及海岸風光，每逢夏日，海上盡是弄潮張帆的人潮，整條綿延的山海線，銜接成臺北人最鍾愛的黃金旅遊路線。";
            mouseDownText(information.innerHTML);
            break;
        case "女王頭":
            information.innerHTML = "&emsp;&emsp;野柳女王頭是蕈狀岩的一種，在地殼抬升的過程中，因受到海水差異侵蝕而逐漸形成今日的面貌。若以其高度比對台灣北部地殼平均上升速度推算，女王頭的芳齡將近4000歲。";
            mouseDownText(information.innerHTML);
            break;
        case "黃金瀑布":
            information.innerHTML="&emsp;&emsp;黃金瀑布位置在往水湳洞的公路邊，可看到流水從地下伏流湧出，滲入礦區後，與黃鐵礦和硫砷銅礦接觸，經過「氧化還原」與「鐵菌催化」使瀑布水呈現金黃偏橘色的酸礦水，遠看猶如一幅巨型的黃金岩壁，此等奇觀被後人美其名為「黃金瀑布」。";
            mouseDownText(information.innerHTML);
            break;
        case "新北市歡樂耶誕城":
            information.innerHTML="&emsp;&emsp;新北市歡樂耶誕城活動，很有創意地將廣場的竹筍地標化身為全台獨一無二的耶誕樹，並推出耶誕主燈秀，年年結合最新的科技和音樂，每年都有創新和驚喜。除了耶誕主燈秀、周邊美麗裝置燈飾，市府更整合跨局處活動，歡迎民眾周周都可以來廣場參與各項精彩活動。";
            mouseDownText(information.innerHTML);
            break;
        case "烏來台車":
            information.innerHTML="&emsp;&emsp;烏來台車，又稱烏來蹦蹦車，位於台灣新北市烏來區，是台灣少數仍留存的輕便鐵路（臺車）之一。";
            mouseDownText(information.innerHTML);
            break;
    }
}

    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>

</html>