<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/newTaipei.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">

</head>
<style>
    .map_location {
        width: 16px;
        position: absolute;
        top: 11px;
        z-index: 15;
        left: 64px;
    }
</style>

<body class="style" background="../../image/map/kraftPaper5.png">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">新北地區</td>
        </tr>
        <tr style="display: none;">
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/NewTaipei_origin.png" onclick="featuresText('新北市')" /><a style="display: block;">新北地區</a></td>
            <td id="information" rowspan="6" valign="top" style="font-size:x-large;">
                &emsp;&emsp;新北地區，為六都之一，是全臺人口最多的市。全境環繞臺北市，東北則三面環繞基隆市，東南鄰宜蘭縣，西南鄰桃園市；其所轄石門區富貴角地處臺灣本島最北端，貢寮區三貂角地處臺灣本島最東端。
            </td>
        </tr>
        <tr>
            <td><img src="../../image/icon/NewTaipei_icon.png" onclick="featuresText('陶瓷')" /><a style="display: block;">陶瓷</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/NewTaipei_queen_head.png" onclick="featuresText('女王頭')" /><a style="display: block;">女王頭</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/NewTaipei_golden_waterfall.png" onclick="featuresText('黃金瀑布')" /><a style="display: block;">黃金瀑布</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/NewTaipei_christmas_tree.png" onclick="featuresText('新北市歡樂耶誕城')" /><a style="display: block;">新北市歡樂耶誕城</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/NewTaipei_small_train.png" onclick="featuresText('烏來台車')" /><a style="display: block;">烏來台車</a></td>
        </tr>

    </table>
    <div class="map">
        <img id="county" class="terrain" src="../../image/map/NewTaipei1.png" />
        <div class="level1">
            <img class="level" src="../../image/icon/NewTaipei_icon.png" onclick="location.href='../../view/game/drawzhuyin.html?id=j1&counties=newTaipei';mouseDownText('J');" />
            <img class="level_text" src="../../image/english_alphabet/J.png" onclick="location.href='../../view/game/drawzhuyin.html?id=j1&counties=newTaipei';mouseDownText('J');" />
        </div>

        <div class="level2">
            <img class="level" src="../../image/icon/NewTaipei_icon.png" onclick="location.href='../../view/game/drawzhuyin.html?id=k1&counties=newTaipei';mouseDownText('k');" />
            <img class="level_text" src="../../image/english_alphabet/K.png" onclick="location.href='../../view/game/drawzhuyin.html?id=k1&counties=newTaipei';mouseDownText('K');" />
        </div>
        <div class="level3">
            <img class="level" src="../../image/icon/NewTaipei_icon_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=l1&counties=newTaipei';mouseDownText('l');" />
            <img class="level_text" src="../../image/english_alphabet/L.png" onclick="location.href='../../view/game/drawzhuyin.html?id=l1&counties=newTaipei';mouseDownText('l');" />
        </div>

        <div class="level4">
            <img class="level" src="../../image/icon/NewTaipei_icon.png" onclick="location.href='../../view/game/drawzhuyin.html?id=m1&counties=newTaipei';mouseDownText('m');" />
            <img class="level_text" src="../../image/english_alphabet/M.png" onclick="location.href='../../view/game/drawzhuyin.html?id=m1&counties=newTaipei';mouseDownText('m');" />
        </div>

        <div class="level5">
            <img class="level" src="../../image/icon/NewTaipei_icon.png" onclick="location.href='../../view/game/drawzhuyin.html?id=n1&counties=newTaipei';mouseDownText('n');" />
            <img class="level_text" src="../../image/english_alphabet/N.png" onclick="location.href='../../view/game/drawzhuyin.html?id=n1&counties=newTaipei';mouseDownText('n');" />
        </div>


        <img class="level6" src="../../image/icon/devil_lock.png" onclick="alert('需要先完成縣市所有關卡！')" />
    </div>
    <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
    <img class="map_location" src="../../image/map/map.png" />
   
    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            switch (category) {
                case "新北地區":
                    information.innerHTML = "&emsp;&emsp;新北地區，為六都之一，是全臺人口最多的市。全境環繞臺北市，東北則三面環繞基隆市，東南鄰宜蘭縣，西南鄰桃園市；其所轄石門區富貴角地處臺灣本島最北端，貢寮區三貂角地處臺灣本島最東端。";
                    mouseDownText(information.innerHTML);
                    break;
                case "陶瓷":
                    information.innerHTML = "&emsp;&emsp;陶瓷，是新北市鶯歌區最著名的特產。相傳清朝嘉慶年間發現鄰近的尖山地區盛產黏土，遂於此設窯製陶。現多已轉向觀光化發展。 ";
                    mouseDownText(information.innerHTML);
                    break;
                case "女王頭":
                    information.innerHTML = "&emsp;&emsp;女王頭，位於新北市萬里區。是野柳地質公園的一個知名的風化地形景觀，外型宛如一個凝視遠方的女王，其頸部修長、臉部線條優美。";
                    mouseDownText(information.innerHTML);
                    break;
                case "黃金瀑布":
                    information.innerHTML = "&emsp;&emsp;黃金瀑布，位於新北市瑞芳區。由於金瓜石一帶有礦脈，地下水和雨水和礦物經過化學反應後水色帶有氧化後的金屬礦石顏色，使得黃金瀑布的水色略帶黃色，加上裸露的石塊也是黃色，因而得名。";
                    mouseDownText(information.innerHTML);
                    break;
                case "新北市歡樂耶誕城":
                    information.innerHTML = "&emsp;&emsp;新北市歡樂耶誕城，位於新北市板橋區。是新北市新板特區商圈的一系列耶誕節活動的總稱，很有創意地將廣場的竹筍地標化身為全台獨一無二的耶誕樹，並推出耶誕主燈秀，年年結合最新的科技和音樂，每年都有創新和驚喜。";
                    mouseDownText(information.innerHTML);
                    break;
                case "烏來台車":
                    information.innerHTML = "&emsp;&emsp;烏來台車，位於新北市烏來區。又稱烏來蹦蹦車，是台灣少數仍留存的輕便鐵路（臺車）之一。";
                    mouseDownText(information.innerHTML);
                    break;
            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>

</html>