<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/newTaipei.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
    <script src="./northRegion_JS/north.js"></script>

</head>
<style>
    .map_location {
        width: 16px;
        position: absolute;
        top: 11px;
        z-index: 15;
        left: 64px;
    }
</style>

<body class="style" background="../../image/map/kraftPaper5.png" onload="checkLevelIsPass('NewTaipei_icon','newTaipei')">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">新北地區</td>
        </tr>
        <tr style="display: none;">
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/NewTaipei_origin.png" onclick="featuresText('新北地區');playNorth(this)" alt="newTaipeiRegion" /><a style="display: block;">新北地區</a></td>
            <td id="information" rowspan="6" valign="top" style="font-size:x-large;">
                <h4 style='margin: auto;'>
                    是全臺人口最多的市。全境環繞臺北市，而新北地區三面環繞基隆市、蘭縣、桃園市；同時也是臺灣本島最北端與最東端。
                </h4>
            </td>
        </tr>
        <tr>
            <td><img src="../../image/icon/NewTaipei_icon.png" onclick="featuresText('陶瓷');playNorth(this)" alt="newTaipei_f1" /><a style="display: block;">陶瓷</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/NewTaipei_queen_head.png" onclick="featuresText('女王頭');playNorth(this)" alt="newTaipei_f2" /><a style="display: block;">女王頭</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/NewTaipei_golden_waterfall.png" onclick="featuresText('黃金瀑布');playNorth(this)" alt="newTaipei_f3" /><a style="display: block;">黃金瀑布</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/NewTaipei_christmas_tree.png" onclick="featuresText('新北市歡樂耶誕城');playNorth(this)" alt="newTaipei_f4" /><a style="display: block;">新北市歡樂耶誕城</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/NewTaipei_small_train.png" onclick="featuresText('烏來台車');playNorth(this)" alt="newTaipei_f5" /><a style="display: block;">烏來台車</a></td>
        </tr>

    </table>
    <div class="map">
        <img id="county" class="terrain" src="../../image/map/NewTaipei1.png" />
        <div class="level1">
            <img class="level" alt="j1" src="../../image/icon/NewTaipei_icon.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=j1&counties=newTaipei',800);playABC(this);" />
            <img class="level_text" alt="j1" src="../../image/english_alphabet/J.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=j1&counties=newTaipei',800);playABC(this);" />
        </div>

        <div class="level2">
            <img class="level" alt="k1" src="../../image/icon/NewTaipei_icon.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=k1&counties=newTaipei',800);playABC(this);" />
            <img class="level_text" alt="k1" src="../../image/english_alphabet/K.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=k1&counties=newTaipei',800);playABC(this);" />
        </div>
        <div class="level3">
            <img class="level" alt="l1" src="../../image/icon/NewTaipei_icon_dark.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=l1&counties=newTaipei',800);playABC(this);" />
            <img class="level_text" alt="l1" src="../../image/english_alphabet/L.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=l1&counties=newTaipei',800);playABC(this);" />
        </div>

        <div class="level4">
            <img class="level" alt="m1" src="../../image/icon/NewTaipei_icon.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=m1&counties=newTaipei',800);playABC(this);" />
            <img class="level_text" alt="m1" src="../../image/english_alphabet/M.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=m1&counties=newTaipei',800);playABC(this);" />
        </div>

        <div class="level5">
            <img class="level" alt="n1" src="../../image/icon/NewTaipei_icon.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=n1&counties=newTaipei',800);playABC(this);" />
            <img class="level_text" alt="n1" src="../../image/english_alphabet/N.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=n1&counties=newTaipei',800);playABC(this);" />
        </div>
        <div class="level6">
            <img class="level" alt="newTaipei" src="../../image/icon/devil_lock.png" onclick="alert('需要先完成縣市所有關卡！')" />
        </div>

    </div>
    <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
    <img class="map_location" src="../../image/map/map.png" />

    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            let info = document.createElement("h4");
            info.style = 'margin: auto;';

            switch (category) {
                case "新北地區":
                    information.innerHTML = "";
                    info.innerHTML = "是全臺人口最多的市。全境環繞臺北市，而新北地區三面環繞基隆市、蘭縣、桃園市；同時也是臺灣本島最北端與最東端。";
                    information.append(info)
                    break;
                case "陶瓷":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src ='https://www.travel.taipei/image/1130/1024x768'/>";
                    info.innerHTML = "陶瓷是新北市鶯歌區最著名的特產。相傳清朝嘉慶年間發現尖山地區產出很多黏土，於是就設窯製陶。現多已轉向觀光化發展。";
                    information.append(info)
                    break;
                case "女王頭":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src ='https://pgw.udn.com.tw/gw/photo.php?u=https://uc.udn.com.tw/photo/2018/12/12/6/5652537.jpg&x=0&y=0&sw=0&sh=0&sl=W&fw=1050'/>";
                    info.innerHTML = "女王頭是野柳地質公園的一個知名的風化地形景觀，外型宛如一個凝視遠方的女王，其頸部修長、臉部線條優美。";
                    information.append(info)
                    break;
                case "黃金瀑布":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src ='https://www.tour-ntpc.com/cdn/site/a3be84a9-7283-40a3-b4c7-758bf39c7828/Content/Upload/Place/9c57d594-8ba5-4260-b2c3-77ae7de49ff1.jpg'/>";
                    info.innerHTML = "是流水從地下流進，滲入礦區後，與礦物接觸，經過化學作用使瀑布水呈現金黃偏橘色的，從遠方看就像一幅巨型的黃金岩壁。";
                    information.append(info)
                    break;
                case "新北市歡樂耶誕城":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src ='https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Christmasland_in_NTPC_2019.jpg/375px-Christmasland_in_NTPC_2019.jpg'/>";
                    info.innerHTML = "新北市歡樂耶誕城是新北市新板特區商圈的一系列耶誕節活動的總稱，並推出耶誕主燈秀，年年結合最新的科技和音樂，每年都有創新和驚喜。";
                    information.append(info)
                    break;
                case "烏來台車":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src ='https://tour.ntpc.gov.tw/Content/Upload/Place/22213ac2-7965-4afb-b377-137fe919e300.jpg'/>";
                    info.innerHTML = "烏來台車又稱烏來蹦蹦車，是台灣少數仍留存的輕便鐵路（臺車）之一。";
                    information.append(info)
                    break;
            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>

</html>