<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/pingtung.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
</head>

<body class="style" background="../../image/map/kraftPaper5.png">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">屏東</td>
        </tr>
        <tr>
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Pingtung_origin.png" onclick="featuresText('屏東')" />屏東</td>
            <td id="information" rowspan="3" valign="top" style="font-size:x-large;">
                &emsp;&emsp;位於臺灣西南部最南端，也是臺灣西部南北最狹長的縣份，地處熱帶地區，富有熱帶風情。
            </td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Pingtung_aquarium.png" onclick="featuresText('國立海洋生物博物館')" />國立海洋生物博物館</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Pingtung_bridge.png" onclick="featuresText('大鵬灣跨海大橋')" />大鵬灣跨海大橋</td>
        </tr>
       
    </table>
    <div class="map">
        <img class="terrain" src="../../image/map/Pingtung1.png" />
      
        <div class="level1">
            <img class="level_basic" src="../../image/icon/black_tuna.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=1&counties=chiayi';mouseDownText(0);" />
            <img class="level_text" src="../../image/numbers/7.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=1&counties=chiayi';mouseDownText(0);" />
        </div>
        <div class="level2"><img class="level_basic" src="../../image/icon/black_tuna.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=2&counties=chiayi';mouseDownText(加法);" />
            <img class="level_text" src="../../image/numbers/8.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=2&counties=chiayi';mouseDownText(加法);" />
            </div>
    
        <div class="level3"> <img class="level_basic" src="../../image/icon/black_tuna_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=chiayi';mouseDownText(減法);" />
            <img class="level_text" src="../../image/numbers/9.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=chiayi';mouseDownText(減法);" />
            </div>
        <div class="level4">
            <img class="level" src="../../image/icon/devil.png"
                onclick="alert('需要先完成縣市所有關卡！')" />

        </div>
        、
    </div>
    <img class="taiwan" src="../../image/character/NowInNantou.png"
        onclick="location.href='../../view/level/taiwan.html'" />
    <div>
        <a href="../../test1.html" class="sosfloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
        </a>
    </div>
    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            switch (category) {
                case "屏東":
                    information.innerHTML = "&emsp;&emsp;屏東位於臺灣西南部最南端，也是臺灣西部南北最狹長的縣份，地處熱帶地區，富有熱帶風情。";
                    mouseDownText(information.innerHTML);
                    break;
                case "國立海洋生物博物館":
                    information.innerHTML = "&emsp;&emsp;國立海洋生物博物館是全台灣規模最大的，館內魚類種類豐富，分成台灣水域館、珊瑚王國館、世界水域館，包含三層樓高的水族箱、海底隧道，或是可愛的企鵝、悠游自在的小白鯨與鯊魚，都讓人猶如親臨海底世界般，非常值得一遊！";
                    mouseDownText(information.innerHTML);
                    break;
                case "大鵬灣跨海大橋":
                    information.innerHTML = "&emsp;&emsp;大鵬灣跨海大橋是連接起南平里與嘉蓮里的交通樞紐，為特殊三向度設計的斜張橋，橋身側看如揚帆啟航，背面如第一個英文字母A；最大的特色還是全台首座可開啟式的橋樑。";
                    mouseDownText(information.innerHTML);
                    break;
            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>

</html>