<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/map/pingtung.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
    <script src="./southRegion_JS/pingtung.js"></script>
    <script src="./southRegion_JS/south.js"></script>
    <script src="../../model/util/checkAllLevelIsPass.js"></script>
</head>
<style>

</style>

<body style="width: 100%; height: 100%; margin: auto;" onload="checkLevelIsPass('black_tuna','pingtung')">
    <audio id="AUDIO" src=""></audio>

    <div class="bottom_title">
        <h1>屏東地區</h1>
    </div>

    <div class="Map">
        <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
        <img class="map_location" src="../../image/map/map.png" />
    </div>

    <div class="informationBox">
        <h2>介紹</h2>
        <img class="inforbtn" style="margin-top: 0;" src="../../image/map/Pingtung_origin.png" onclick="playSouth(this), changeInfor(0)" alt="pingtungRegion" />
        <br>
        <!--  -->
        <img class="inforbtn" src="../../image/icon/black_tuna.png" onclick="playSouth(this),changeInfor(1)" alt="pingtung_f1" />
        <br>
        <img class="inforbtn" src="../../image/map_icon/Pingtung_aquarium.png" onclick="playSouth(this),changeInfor(2)" alt="pingtung_f2" />
        <br>
        <img class="inforbtn" src="../../image/map_icon/Pingtung_bridge.png" onclick="playSouth(this),changeInfor(3)" alt="pingtung_f3" />
    </div>
    <div class="fullContent">
        <h1 onclick="document.querySelector('.fullContent').style.display='none';voiceOut.mute();">X</h1>
        <div class="introduce">
            <div style="height: 60%;width: 100%; text-align: center;">
                <img id="picture" style='height: 90%; border-radius: 15px; margin-top: 2%' src='https://upload.wikimedia.org/wikipedia/commons/e/ea/Pingtung_labelled_map2.png' />
                <img id="speaker" style='position: absolute; top: 20px; right: 20px;  height: 15%' src="../../icons/speaker.png" onclick="playSouth(this)" alt="pingtungRegion" />
                <img id="muted" style='position: absolute; top: 20px; left: 20px;  height: 15%' src="../../image/character/muted.png" onclick="voiceOut.mute()" />
            </div>
            <div style="height: 40%;width: 100%;">
                <h2 id="intro" style='margin: 0 3% 0 3%;'>
                    位於臺灣西南部最南端，也是臺灣西部南北最狹長的縣份，地處熱帶地區，富有熱帶風情，農漁業發達。
                </h2>
            </div>
        </div>
    </div>

    <div class="mainContent">
        <img class="terrain" src="../../image/map/Pingtung1.png" />

        <div class="level1">
            <img class="level_basic level" alt="0" src="../../image/icon/black_tuna.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=0&counties=pingtung',800);play012(this);" />
            <img class="level_text" alt="0" src="../../image/numbers/0.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=0&counties=pingtung',800);play012(this);" />
        </div>
        <div class="level2">
            <img class="level_basic level" alt="plus" src="../../image/icon/black_tuna.png" onclick="setTimeout(()=>location.href='../../view/game/additionAndSubtraction.html?id=plus',800);play012(this);" />
            <img class="level_text" alt="plus" src="../../image/numbers/plus.png" onclick="setTimeout(()=>location.href='../../view/game/additionAndSubtraction.html?id=plus',800);play012(this);" />
        </div>

        <div class="level3">
            <img class="level_basic level" alt="minus" src="../../image/icon/black_tuna_dark.png" onclick="setTimeout(()=>location.href='../../view/game/additionAndSubtraction.html?id=minus',800);play012(this);" />
            <img class="level_text" alt="minus" src="../../image/numbers/minus.png" onclick="setTimeout(()=>location.href='../../view/game/additionAndSubtraction.html?id=minus',800);play012(this);" />
        </div>
        <div class="level4">
            <img class="level" width="52px" alt="pingtung" src="../../image/icon/devil_lock.png" />

        </div>


        <div class="btnDiv">
            <a onclick="history.back()" class="returnfloat" id="menu-share">
                <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
            </a>

            <a onclick="setTimeout(()=>location.href='../../game_home.html',800);voiceOut.goHome();" class="homefloat" id="menu-share">
                <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
            </a>
        </div>

        <!-- <script src="../../model/util/voiceOut.js"></script> -->

</body>

</html>