<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/map/tainan.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
    <script src="./southRegion_JS/south.js"></script>
    <script src="../../model/util/checkAllLevelIsPass.js"></script>
</head>
<style>
    .features {
        background-color: aliceblue;
        width: 320px;
        height: 400px;
        margin-top: 8px;
        margin-left: 105px;
    }
    
    .map_location {
        width: 16px;
        position: absolute;
        top: 98px;
        z-index: 15;
        left: 12px;
    }
</style>

<body class="style" background="../../image/map/kraftPaper5.png" onload="checkLevelIsPass('temple','tainan')">
    <audio id="southAudio" src=""></audio>
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">台南地區</td>
        </tr>
        <tr style="display: none;">
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Tainan_origin.png" onclick="featuresText('台南地區');playSouth(this)" alt="tainanRegion" /><a style="display: block;">台南地區</a></td>
            <td id="information" rowspan="5" valign="top" style="font-size:x-large;">
                <h4 style='margin: auto;'>
                    位於臺灣西南部，平原區比例最大、地形最平緩的城市，耕地面積全臺第一，盛產豐富的農產品。
                </h4>
            </td>
        </tr>
        <tr>
            <td><img src="../../image/icon/temple.png" onclick="featuresText('赤崁樓');playSouth(this)" alt="tainan_f1" /><a style="display: block;">赤崁樓</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Tainan_Chimei_Museum.png" onclick="featuresText('奇美博物館');playSouth(this)" alt="tainan_f2" /><a style="display: block;">奇美</a><a style="display: block;">博物館</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Tainan_salt_mountion.png" onclick="featuresText('七股鹽山');playSouth(this)" alt="tainan_f3" /><a style="display: block;">七股鹽山</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Tainan_Tseng_Wen_Reservoir.png" onclick="featuresText('曾文水庫');playSouth(this)" alt="tainan_f4" /><a style="display: block;">曾文水庫</a></td>
        </tr>

    </table>
    <div class="map">
        <img class="terrain" src="../../image/map/Tainan1.png" />

        <div class="level1">
            <img class="level" alt="4" src="../../image/icon/temple.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=4&counties=tainan',800);play012(this);" />
            <img class="level_text" alt="4" src="../../image/numbers/4.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=4&counties=tainan',800);play012(this);" />
        </div>
        <div class="level2">
            <img class="level" alt="5" src="../../image/icon/temple.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=5&counties=tainan',800);play012(this);" />
            <img class="level_text" alt="5" src="../../image/numbers/5.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=5&counties=tainan',800);play012(this);" />
        </div>

        <div class="level3">
            <img class="level" alt="6" src="../../image/icon/temple.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=6&counties=tainan',800);play012(this);" />
            <img class="level_text" alt="6" src="../../image/numbers/6.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=6&counties=tainan',800);play012(this);" />
        </div>
        <div class="level4">
            <img class="level level_basic" alt="tainan" src="../../image/icon/devil.png" onclick="alert('需要先完成縣市所有關卡！')" />

        </div>
        、
    </div>
    <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
    <img class="map_location" src="../../image/map/map.png" />

    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            let info = document.createElement("h4");
            info.style = 'margin: auto;';

            switch (category) {
                case "台南地區":
                    information.innerHTML = "";
                    info.innerHTML = "位於臺灣西南部，平原區比例最大、地形最平緩的城市，耕地面積全臺第一，盛產豐富的農產品。";
                    information.append(info)
                    break;
                case "赤崁樓":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src ='https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_10889_20.jpg&sizetype=3'/>";
                    info.innerHTML = "赤崁樓位於臺南市的中西區，又作赤崁樓。又稱「普羅民遮城」，在地人稱為「番仔樓」，曾為全台灣島的商業中心。";
                    information.append(info)
                    break;
                case "奇美博物館":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src ='https://www.dacin.com.tw/upload/catalog_b/e2276642a23c6c4a88740ec84c76f2eb.jpg'/>";
                    info.innerHTML = "奇美博物館位於臺南市仁德區。是臺灣館藏最豐富的私人博物館、美術館。以典藏西洋藝術品為主。";
                    information.append(info)
                    break;
                case "七股鹽山":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src ='https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_10352_12.jpg&sizetype=3'/>";
                    info.innerHTML = "是臺灣面積最大、最晚發展的七股鹽場遺蹟之一。鹽山如白雪耀眼，像長年堆雪的長白山，也稱作「南台的長白山」。";
                    information.append(info)
                    break;
                case "曾文水庫":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src ='https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_2_7.jpg&sizetype=3'/>";
                    info.innerHTML = "為台灣最大的水庫與湖泊，興建之目的主要為提供嘉南地區灌溉用水，另具發電、防洪和觀光的功能，是個多目標利用的水庫。";
                    information.append(info)
                    break;
            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>

</html>