<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/map/taipei.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
    <script src="./northRegion_JS/north.js"></script>
    <script src="../../model/util/checkAllLevelIsPass.js"></script>
</head>
<style>

</style>

<body style="width: 100%; height: 100%; margin: auto;" onload="checkLevelIsPass('taipei101','taipei')">
    <audio id="northAudio" src=""></audio>

    <div class="bottom_title">
        <h1>臺北地區</h1>
    </div>

    <div class="Map">
        <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
        <img class="map_location" src="../../image/map/map.png" />
    </div>

    <div class="informationBox">
        <h2>介紹</h2>
        <img class="inforbtn" style="margin-top: 0;" src="../../image/map/Taipei_origin.png" onclick="playNorth(this);changeInfor(0);" alt="taipeiRegion" />
        <br>
        <!--  -->
        <img class="inforbtn" src="../../image/icon/taipei101.png" onclick="playNorth(this);changeInfor(1)" alt="taipei_f1" />
        <br>
        <img class="inforbtn" src="../../image/map_icon/Taipei_Chiang_Kai_shek_Memorial_Hall.png" onclick="playNorth(this);changeInfor(2);" alt="taipei_f2" />
        <br>
        <img class="inforbtn" src="../../image/map_icon/Taipei_National_Palace_Museum.png" onclick="playNorth(this);changeInfor(3);" alt="taipei_f3" />
        <br>

    </div>

    <div class="mainContent">
        <img class="city" src="../../image/map/Taipei1.png" />
        <div class="level1">
            <img class="level_basic" alt="f" src="../../image/icon/taipei101.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=f1&counties=taipei',800);playABC(this);" />
            <img class="level_text" alt="f" src="../../image/english_alphabet/F.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=f1&counties=taipei',800);playABC(this);" />
        </div>
        <div class="level2">
            <img class="level_basic" alt="g" src="../../image/icon/taipei101.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=g1&counties=taipei',800);playABC(this);" />
            <img class="level_text" alt="g" src="../../image/english_alphabet/G.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=g1&counties=taipei',800);playABC(this);" />
        </div>
        <div class="level3">
            <img class="level_basic" alt="h" src="../../image/icon/taipei101.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=h1&counties=taipei',800);playABC(this);" />
            <img class="level_text" alt="h" src="../../image/english_alphabet/H.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=h1&counties=taipei',800);playABC(this);" />
        </div>
        <div class="level4">
            <img class="level_basic" alt="i" src="../../image/icon/taipei101_dark.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=i1&counties=taipei',800);playABC(this);" />
            <img class="level_text" alt="i" src="../../image/english_alphabet/I.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=i1&counties=taipei',800);playABC(this);" />
        </div>
        <div class="level5">
            <img class="level" width="50px" id='devil' alt="taipei" src="../../image/icon/devil_lock.png" onclick="alert('需要先完成縣市所有關卡！')" />
        </div>



    </div>

    <div class="fullContent">
        <h1 onclick="document.querySelector('.fullContent').style.display='none'">X</h1>
        <div class="introduce">
            <div style="height: 60%;width: 100%; text-align: center;">
                <img id="picture" style='height: 90%; border-radius: 15px; margin-top: 2%' src='https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_C100_342_7.jpg&sizetype=2' />
                <img id="speaker" style='position: absolute; top: 20px; right: 20px;  height: 15%' src="../../icons/speaker.png" onclick="playNorth(this)" alt="taipeiRegion" />
                <img id="muted" style='position: absolute; top: 20px; left: 20px;  height: 15%' src="../../image/character/muted.png" onclick="mute()" alt="taipeiRegion" />
            </div>
            <div style="height: 40%;width: 100%;">
                <h2 id="intro" style='margin: 0 3% 0 3%;'>
                    位於臺灣北部，為六都之一。交通四通八達，無論陸、空皆十分方便，是臺灣區最大的都市和政治、經濟、交通、文化中心。
                </h2>
            </div>
        </div>
    </div>

    <div class="btnDiv">
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>

        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script src="./centralRegion_JS/levelIsPass.js"></script>
    <script src="northRegion_JS/taipei.js"></script>

    <!-- <script src="../../model/util/voiceOut.js"></script> -->

</body>

</html>