<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/taipei.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">

</head>

<body class="style" background="../../image/map/kraftPaper5.png">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">臺北地區</td>
        </tr>
        <tr>
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Taipei_origin.png" onclick="featuresText('臺北地區')" />臺北地區</td>
            <td id="information" rowspan="4" valign="top" style="font-size:x-large;">
                &emsp;&emsp;臺北地區，為六都之一，位於臺灣北部的臺北盆地。為臺灣的政治、經濟、文化、教育、醫療、學術研究等領域的發展中心。
            </td>
        </tr>
        <tr>
            <td><img src="../../image/icon/taipei101.png" onclick="featuresText('臺北101大樓')" />臺北101大樓</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Taipei_Chiang_Kai_shek_Memorial_Hall.png" onclick="featuresText('中正紀念堂')" />中正紀念堂</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Taipei_National_Palace_Museum.png" onclick="featuresText('國立故宮博物院')" />國立故宮博物院</td>
        </tr>


    </table>
    <div class="map">
        <img id="county" class="terrain" src="../../image/map/Taipei1.png" />
        <div class="level1">
            <img class="level" src="../../image/icon/taipei101.png" onclick="location.href='../../view/game/drawzhuyin.html?id=f1&counties=taipei';mouseDownText('f');" />
            <img class="level_text" src="../../image/english_alphabet/F.png" onclick="location.href='../../view/game/drawzhuyin.html?id=f1&counties=taipei';mouseDownText('f');" />
        </div>
        <div class="level2">
            <img class="level" src="../../image/icon/taipei101.png" onclick="location.href='../../view/game/drawzhuyin.html?id=g1&counties=taipei';mouseDownText('g');" />
            <img class="level_text" src="../../image/english_alphabet/G.png" onclick="location.href='../../view/game/drawzhuyin.html?id=g1&counties=taipei';mouseDownText('g');" />
        </div>
        <div class="level3">
            <img class="level" src="../../image/icon/taipei101.png" onclick="location.href='../../view/game/drawzhuyin.html?id=h1&counties=taipei';mouseDownText('h');" />
            <img class="level_text" src="../../image/english_alphabet/H.png" onclick="location.href='../../view/game/drawzhuyin.html?id=h1&counties=taipei';mouseDownText('h');" />
        </div>
        <div class="level4">
            <img class="level" src="../../image/icon/taipei101_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=i1&counties=taipei';mouseDownText('i');" />
            <img class="level_text" src="../../image/english_alphabet/D.png" onclick="location.href='../../view/game/drawzhuyin.html?id=i1&counties=taipei';mouseDownText('i');" />
        </div>

        <img class="level5" src="../../image/icon/devil_lock.png" onclick="alert('需要先完成縣市所有關卡！')" />

    </div>
    <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
    <div>
        <a href="../../test1.html" class="sosfloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
        </a>
    </div>
    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            switch (category) {
                case "臺北地區":
                    information.innerHTML = "&emsp;&emsp;臺北地區，為六都之一，位於臺灣北部的臺北盆地。為臺灣的政治、經濟、文化、教育、醫療、學術研究等領域的發展中心。";
                    mouseDownText(information.innerHTML);
                    break;
                case "臺北101大樓":
                    information.innerHTML = "&emsp;&emsp;臺北101大樓，位於臺北市信義區。為台灣第一高樓以及唯一樓層超過100層的建築物，目前為世界第十二高樓，是臺北重要地標之一。";
                    mouseDownText(information.innerHTML);
                    break;
                case "中正紀念堂":
                    information.innerHTML = "&emsp;&emsp;中正紀念堂，位於臺北市中正區。是為紀念已故前中華民國總統蔣中正而興建的建築也是眾多紀念蔣中正的建築中規模最大者，落成以來成為臺北市及臺灣在國際上最著名地標與觀光景點之一。";
                    mouseDownText(information.innerHTML);
                    break;
                case "國立故宮博物院":
                    information.innerHTML = "&emsp;&emsp;故宮博物館，分別有北部院區和南部院區，北部院區位於臺北市士林區，南部院區位於嘉義縣太保市，別名中山博物院。為臺灣最具規模的博物館以及臺灣八景之一，也是古代中國藝術史與漢學研究機構。";
                    mouseDownText(information.innerHTML);
                    break;

            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>

</html>