<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/map/taipei.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
    <script src="./northRegion_JS/north.js"></script>
    <script src="./centralRegion_JS/levelIsPass.js"></script>
</head>
<style>
    .map_location {
        width: 16px;
        position: absolute;
        top: 2px;
        z-index: 15;
        left: 65px;
    }
</style>

<body class="style" background="../../image/map/kraftPaper5.png" onload="checkLevelIsPass('taipei101','taipei')">
    <audio id="northAudio" src=""></audio>
    <table class="features" style="margin-left: 65px;">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">臺北地區</td>
        </tr>
        <tr style="display: none;">
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Taipei_origin.png" onclick="featuresText('臺北地區');playNorth(this);" alt="taipeiRegion" /><a style="display: block;">臺北地區</a></td>
            <td id="information" rowspan="4" valign="top" style="font-size:x-large;">
                <h4 style='margin: auto;'>
                    臺北地區位於臺灣北部的臺北盆地。是臺灣的政治、經濟、文化、教育、醫療、學術研究等領域的發展中心。
                </h4>
            </td>
        </tr>
        <tr>
            <td><img src="../../image/icon/taipei101.png" onclick="featuresText('臺北101大樓');playNorth(this)" alt="taipei_f1" /><a style="display: block;">臺北101大樓</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Taipei_Chiang_Kai_shek_Memorial_Hall.png" onclick="featuresText('中正紀念堂');playNorth(this)" alt="taipei_f2" /><a style="display: block;">中正紀念堂</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Taipei_National_Palace_Museum.png" onclick="featuresText('國立故宮博物院');playNorth(this)" alt="taipei_f3" /><a style="display: block;">國立故宮博物院</a></td>
        </tr>


    </table>
    <div class="map">
        <img id="county" class="terrain" src="../../image/map/Taipei1.png" />
        <div class="level1">
            <img class="level" alt="f1" src="../../image/icon/taipei101.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=f1&counties=taipei',800);playABC(this);" />
            <img class="level_text" alt="f1" src="../../image/english_alphabet/F.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=f1&counties=taipei',800);playABC(this);" />
        </div>
        <div class="level2">
            <img class="level" alt="g1" src="../../image/icon/taipei101.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=g1&counties=taipei',800);playABC(this);" />
            <img class="level_text" alt="g1" src="../../image/english_alphabet/G.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=g1&counties=taipei',800);playABC(this);" />
        </div>
        <div class="level3">
            <img class="level" alt="h1" src="../../image/icon/taipei101.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=h1&counties=taipei',800);playABC(this);" />
            <img class="level_text" alt="h1" src="../../image/english_alphabet/H.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=h1&counties=taipei',800);playABC(this);" />
        </div>
        <div class="level4">
            <img class="level" alt="i1" src="../../image/icon/taipei101_dark.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=i1&counties=taipei',800);playABC(this);" />
            <img class="level_text" alt="i1" src="../../image/english_alphabet/I.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=i1&counties=taipei',800);playABC(this);" />
        </div>
        <div class="level5">
            <img class="level" alt="taipei" src="../../image/icon/devil_lock.png" onclick="alert('需要先完成縣市所有關卡！')" />
        </div>


    </div>
    <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
    <img class="map_location" src="../../image/map/map.png" />

    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            let info = document.createElement("h4");
            info.style = 'margin: auto;';

            switch (category) {
                case "臺北地區":
                    information.innerHTML = "";
                    info.innerHTML = "臺北地區位於臺灣北部的臺北盆地。是臺灣的政治、經濟、文化、教育、醫療、學術研究等領域的發展中心。";
                    information.append(info)
                    break;
                case "臺北101大樓":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src = 'http://www.egc.com.tw/_upload/image/masterpiece/large/9675791c51d2f0a5.jpg'/> "
                    info.innerHTML = "臺北101大樓位於臺北市信義區。是台灣第一高樓以及唯一樓層超過100層的建築物，是臺北重要地標之一。"
                    information.append(info)
                    break;
                case "中正紀念堂":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src = 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Chiang_Kai-shek_memorial_amk.jpg/420px-Chiang_Kai-shek_memorial_amk.jpg'/> "
                    info.innerHTML = "中正紀念堂，是為紀念已故前中華民國總統蔣中正的建築，也是眾多紀念蔣中正的建築中規模最大者，在國際上也是著名的地標之一。"
                    information.append(info)
                    break;
                    中正紀念堂
                case "國立故宮博物院":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src = 'https://www.taiwan.net.tw/att/1/big_scenic_spots/pic_74_4.jpg'/> "
                    info.innerHTML = "國立故宮博物院，別名中山博物院。為臺灣最具規模的博物館以及臺灣八景之一，也是古代中國藝術史與漢學研究機構。"
                    information.append(info)
                    break;

            }
        }
    </script>
    <!-- <script src="../../model/util/voiceOut.js"></script> -->
</body>

</html>