<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/taitung.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
    <script src="./eastRegion_JS/east.js"></script>

</head>
<style>
    .map_location {
        width: 16px;
        position: absolute;
        top: 110px;
        z-index: 15;
        left: 48px;
    }
</style>

<body class="style" background="../../image/map/kraftPaper5.png" onload="checkLevelIsPass('hot_air_balloon','taitung')">
    <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
    <img class="map_location" src="../../image/map/map.png" />
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">臺東地區</td>
        </tr>
        <tr style="display: none;">
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Taitung_origin.png" style="width: 27px;" onclick="featuresText('臺東地區');playEast(this)" alt="taitungRegion" /><a style="display: block;">臺東地區</a></td>
            <td id="information" rowspan="5" valign="top" style="font-size:x-large;">
                <h4 style='margin: auto;'>
                    擁有豐富的生態資源。海岸、高山、森林、溪谷都保持著自然完整的風貌，處處都是天然美景。
                </h4>
            </td>
        </tr>
        <tr>
            <td><img src="../../image/icon/hot_air_balloon.png" style="width: 40px;" onclick="featuresText('熱氣球');playEast(this)" alt="taitung_f1" /><a style="display: block;">熱氣球</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Taitung_Chulu_Ranch.png" style="width: 40px;" onclick="featuresText('初鹿牧場');playEast(this)" alt="taitung_f2" /><a style="display: block;">初鹿牧場</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Taitung_liyu_mountain_park.png" style="width: 40px;" onclick="featuresText('鯉魚山公園');playEast(this)" alt="taitung_f3" /><a style="display: block;height: 20px; width: 80px;">鯉魚山公園</a>
            </td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Taitung_tree.png" style="width: 40px;" onclick="featuresText('金城武樹');playEast(this)" alt="taitung_f4" /><a style="display: block;">金城武樹</a></td>
        </tr>

    </table>
    <div class="map">
        <img id="county" class="terrain" src="../../image/map/Taitung1.png" />
        <div class="level1">
            <img class="level" alt="pickingUpIsALittleRed" src="../../image/icon/hot_air_balloon.png" onclick="setTimeout(()=>location.href='../../view/game/pickingUpIsALittleRed.html',1100);playGame(this);" />
            <div class="level_text" alt="pickingUpIsALittleRed" onclick="setTimeout(()=>location.href='../../view/game/pickingUpIsALittleRed.html',1100);playGame(this);">撿紅點</div>
        </div>
        <div class="level2">
            <img class="level" alt="puzzle" src="../../image/icon/hot_air_balloon.png" onclick="setTimeout(()=>location.href='../../view/game/puzzle.html',1100);playGame(this);" />
            <div class="level_text" alt="puzzle" onclick="setTimeout(()=>location.href='../../view/game/puzzle.html',1100);playGame(this);">拼圖</div>
        </div>

        <div class="level3">
            <img class="level" alt="taitung" src="../../image/icon/devil_lock.png" onclick="alert('需要先完成縣市所有關卡！')" />

        </div>



        <div>
            <a onclick="history.back()" class="returnfloat" id="menu-share">
                <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
            </a>
        </div>
        <div>
            <a href="../../game_home.html" class="homefloat" id="menu-share">
                <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
            </a>
        </div>
        <script>
            function featuresText(category) {
                const information = document.querySelector('#information')
                let info = document.createElement("h4");
                info.style = 'margin: auto;';
                switch (category) {
                    case "臺東地區":
                        information.innerHTML = "";
                        info.innerHTML = "擁有豐富的生態資源。海岸、高山、森林、溪谷都保持著自然完整的風貌，處處都是天然美景。";
                        information.append(info)
                        mouseDownText(category + info.innerHTML);
                        break;

                    case "熱氣球":
                        information.innerHTML =
                            "<img style = 'width:100%; border-radius: 15px;'  src = 'https://i2.wp.com/www.zztaitung.com/wp-content/uploads/2019/06/2019%E5%8F%B0%E6%9D%B1%E7%86%B1%E6%B0%A3%E7%90%83%E6%97%85%E9%81%8A%E5%98%89%E5%B9%B4%E8%8F%AF-17.jpg?resize=900%2C600'/> "
                        info.innerHTML = "是將氣球內的空氣加熱，使氣球往高空飄浮。每年的6月至8月，台東縣鹿野鄉舉辦的臺灣國際熱氣球嘉年華，可以坐在熱氣球上觀賞花東縱谷的美景。";
                        information.append(info)
                        mouseDownText(category + info.innerHTML);
                        break;

                    case "初鹿牧場":
                        information.innerHTML =
                            "<img style = 'width:100%; border-radius: 15px;'  src = 'https://www.erv-nsa.gov.tw/image/10397/1024x768'/> "
                        info.innerHTML = "位於台東縣卑南鄉。是全台灣唯一的坡地牧場。有滾草、餵食黑白相間的乳牛等觀光活動，其中出產的初鹿鮮奶聞名。";
                        information.append(info)
                        mouseDownText(category + info.innerHTML);
                        break;
                    case "鯉魚山公園":
                        information.innerHTML =
                            "<img style = 'width:100%; border-radius: 15px;'  src = 'https://tour.taitung.gov.tw/image/753/1024x768'/> "
                        info.innerHTML = "位於臺東市西邊，俗稱卑南山。因為外形與鯉魚相似而出名，是臺東市區最明顯的地標和風景區之一";
                        information.append(info)
                        mouseDownText(category + info.innerHTML);
                        break;

                    case "金城武樹":
                        information.innerHTML =
                            "<img style = 'width:100%; border-radius: 15px;'  src = 'https://tour.taitung.gov.tw/image/23686/1024x768'/> "
                        info.innerHTML = "位於臺東縣池上鄉。在伯朗大道上的一棵茄苳樹，附近是一望無際的稻田，金城武樹就孤立其中。";
                        information.append(info)
                        mouseDownText(category + info.innerHTML);
                        break;
                }
            }
        </script>
        <script src="../../model/util/voiceOut.js"></script>
</body>

</html>