<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/taitung.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">

</head>

<body class="style" background="../../image/map/kraftPaper5.png">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">臺東地區</td>
        </tr>
        <tr>
            <td >特色</td>
            <td >資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Taitung.png" onclick="featuresText('臺東地區')"/>臺東地區</td>
            <td id="information" rowspan="5" valign="top" style="font-size:x-large;" >
                &emsp;&emsp;臺東地區擁有豐富的生態資源，無論是海岸、高山、森林、溪谷，都保持著自然完整的風貌，並孕育了多樣的動植物種類，處處都是天然美景。臺東各鄉鎮的物產豐饒，遠近馳名的縱谷好米、金針花、洛神花、臺東釋迦；漁產亦十分興盛，旗魚、柴魚片都是極富盛名的當地特產品。
            </td>
        </tr>
        <tr>
            <td><img src="../../image/icon/hot_air_balloon.png" onclick="featuresText('熱氣球')"/>熱氣球</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Taitung_Chulu_Ranch.png" onclick="featuresText('初鹿牧場')"/>初鹿牧場</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Taitung_liyu_mountain_park.png" onclick="featuresText('鯉魚山公園')"/>鯉魚山公園</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Taitung_tree.png" onclick="featuresText('金城武樹')"/>金城武樹</td>
        </tr>

    </table>
    <div class="map">
        <img id="county" class="terrain" src="../../image/map/Taitung1.png" />
        <div class="level1">
            <img class="level_basic" src="../../image/icon/hot_air_balloon_dark.png"
            onclick="location.href='../../view/game/drawzhuyin.html?id=s1&counties=hsinchu';mouseDownText('');" />
        <img class="level_text"  src="../../image/"
            onclick="location.href='../../view/game/drawzhuyin.html?id=s1&counties=hsinchu';mouseDownText('');" />
        </div>
       <div class="level2">
        <img class="level_basic" src="../../image/icon/hot_air_balloon_dark.png"
        onclick="location.href='../../view/game/drawzhuyin.html?id=t1&counties=newTaipei';mouseDownText('');" />
        <img class="level_text" src="../../image/"
        onclick="location.href='../../view/game/drawzhuyin.html?id=t1&counties=newTaipei';mouseDownText('');" />
       </div>

       <div class="level3">
        <img class="level" src="../../image/icon/devil_lock.png"
            onclick="alert('需要先完成縣市所有關卡！')" />

    </div>


    <img class="taiwan" src="../../image/character/NowInNantou.png" onclick="location.href='../../view/level/taiwan.html'" />
    <div>
        <a href="../../test1.html" class="sosfloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
        </a>
    </div>
    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
    const information = document.querySelector('#information')
    switch (category) {
        case "臺東地區":
            information.innerHTML = "&emsp;&emsp;臺東擁有豐富的生態資源，無論是海岸、高山、森林、溪谷，都保持著自然完整的風貌，並孕育了多樣的動植物種類，處處都是天然美景。臺東各鄉鎮的物產豐饒，遠近馳名的縱谷好米、金針花、洛神花、臺東釋迦；漁產亦十分興盛，旗魚、柴魚片都是極富盛名的當地特產品。";
            mouseDownText(category+information.innerHTML);
            break;
        case "熱氣球":
            information.innerHTML = "&emsp;&emsp;將氣球內的氣體用瓦斯加熱，使其較冷空氣輕，產生上升力量，使氣球往高空飄浮。";
            mouseDownText(category+information.innerHTML);
            break;
        
         case "初鹿牧場":
            information.innerHTML="&emsp;&emsp;初鹿牧場位於台東縣卑南鄉境內一座乳牛牧場，也是全台唯一的坡地牧場。從事森林浴、滾草、餵食黑白相間的荷蘭種乳牛等觀光活動，以出產新鮮、香醇的初鹿鮮奶聞名。";
            mouseDownText(category+information.innerHTML);
            break;
         case "鯉魚山公園":
            information.innerHTML="&emsp;&emsp;鯉魚山位於臺東市西側，俗稱卑南山，因外形與鯉魚相似而得名，是臺東市區最明顯的地標和風景區之一，鯉魚山公園是一處適合平日休閒運動，放鬆心情的好去處。";
            mouseDownText(category+information.innerHTML);
            break;
         case "金城武樹":
            information.innerHTML="&emsp;&emsp;金城武樹是位於臺灣臺東縣池上鄉伯朗大道上的一棵茄苳樹，周圍為一望無際的稻田，該樹孤立其中，配上遠方的山景。";
            mouseDownText(category+information.innerHTML);
            break;
    }
}
    </script>
     <script src="../../model/util/voiceOut.js"></script>
</body>

</html>