<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../CSS/icon.css">
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            background: url("../../image/background/sea.png");
            background-size: contain;
        }
        .map {
            height: 1000px;
        }
    </style>
</head>

<body>
    <img class="map" src="../../image/map/Taiwan_map.png" />
    <div>
        <a href="../../exam_phonetic copy.html" class="sosfloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
        </a>
    </div>
    <div>
        <a href="../level/nantou.html" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
</body>

</html>