<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../CSS/map/taichung.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
    <title>Document</title>
</head>

<body class="style" background="../../image/map/kraftPaper5.png">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">臺中地區</td>
        </tr>
        <tr>
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Taichung_origin.png" onclick="featuresText('臺中地區')" />臺中地區</td>
            <td id="information" rowspan="4" valign="top" style="font-size:x-large;">
                &emsp;&emsp;臺中地區，為六都之一，位於臺灣西半部的樞紐位置，四季氣候宜人。日治時期，積極興建鐵路、開通公路及海港運輸，讓臺中遂躍身為中臺灣政治、經濟、交通、文化的重鎮。
            </td>
        </tr>
        <tr>
            <td><img src="../../image/icon/suncake.png" onclick="featuresText('太陽餅')" />太陽餅</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Taichung_farm.png" onclick="featuresText('武陵農場')" />武陵農場</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Taichung_national_theater.png" onclick="featuresText('臺中國家歌劇院')" />臺中國家歌劇院</td>
        </tr>

    </table>
    <div class="map">
        <img class="terrain" src="../../image/map/Taichung1.png" />
        <div class="level1">
            <img class="level_basic" src="../../image/icon/suncake_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=yu&counties=taichung';mouseDownText(ㄩ);" />
            <img class="level_text" src="../../image/chinese_alphabet/yu.png" onclick="location.href='../../view/game/drawzhuyin.html?id=yu&counties=taichung';mouseDownText(ㄩ);" />
        </div>
        <div class="level2"><img class="level_basic" src="../../image/icon/suncake_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=a&counties=taichung';mouseDownText(ㄚ);" />
            <img class="level_text" src="../../image/chinese_alphabet/a.png" onclick="location.href='../../view/game/drawzhuyin.html?id=a&counties=taichung';mouseDownText(ㄚ);" />
        </div>
        <div class="level3">
            <img class="level_basic" src="../../image/icon/suncake_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=o&counties=taichung';mouseDownText(ㄛ);" />
            <img class="level_text" src="../../image/chinese_alphabet/o.png" onclick="location.href='../../view/game/drawzhuyin.html?id=o&counties=taichung';mouseDownText(ㄛ);" />
        </div>
        <div class="level4"> <img class="level_basic" src="../../image/icon/suncake_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=e&counties=taichung';mouseDownText(ㄜ);" />
            <img class="level_text" src="../../image/chinese_alphabet/e.png" onclick="location.href='../../view/game/drawzhuyin.html?id=e&counties=taichung';mouseDownText(ㄜ);" />
        </div>

        <div class="level5"> <img class="level_basic" src="../../image/icon/suncake_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=ae&counties=taichung';mouseDownText(ㄝ);" />
            <img class="level_text" src="../../image/chinese_alphabet/ye.png" onclick="location.href='../../view/game/drawzhuyin.html?id=ae&counties=taichung';mouseDownText(ㄝ);" />
        </div>

        <div class="level6"> <img class="level_basic" src="../../image/icon/suncake_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=ai&counties=taichung';mouseDownText(ㄞ);" />
            <img class="level_text" src="../../image/chinese_alphabet/ai.png" onclick="location.href='../../view/game/drawzhuyin.html?id=ai&counties=taichung';mouseDownText(ㄞ);" />
        </div>

        <div class="level7"> <img class="level_basic" src="../../image/icon/suncake_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=ei&counties=taichung';mouseDownText(ㄟ);" />
            <img class="level_text" src="../../image/chinese_alphabet/ei.png" onclick="location.href='../../view/game/drawzhuyin.html?id=ei&counties=taichung';mouseDownText(ㄟ);" />
        </div>
        <div class="level8">
            <img class="level" src="../../image/icon/devil_lock.png" onclick="alert('需要先完成縣市所有關卡！')" />

        </div>

        、
    </div>
    <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
    <div>
        <a href="../../test1.html" class="sosfloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
        </a>
    </div>
    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            switch (category) {
                case "臺中地區":
                    information.innerHTML = "&emsp;&emsp;臺中地區，為六都之一，位於臺灣西半部的樞紐位置，四季氣候宜人。日治時期，積極興建鐵路、開通公路及海港運輸，讓臺中遂躍身為中臺灣政治、經濟、交通、文化的重鎮。";
                    mouseDownText(information.innerHTML);
                    break;
                case "太陽餅":
                    information.innerHTML = `&emsp;&emsp;太陽餅，是一種甜餡薄餅，一般內餡是麥芽糖，源起於台中市神岡區社口一帶林家崑派的麥芽餅，為中臺灣的名產之一。`;
                    mouseDownText(information.innerHTML);
                    break;
                case "武陵農場":
                    information.innerHTML = `&emsp;&emsp;武陵農場，位於臺中市北橫宜蘭支線。農場內阡陌縱橫，種植高山蔬果與茶葉，四季風情不同；春天綻放梅花、櫻花、桃花、梨花、蘋果花與杜鵑花，夏天與秋天則是水蜜桃、梨子與蘋果的採收期，到了冬天，幸運的話，可嚐到雪的滋味。`;
                    mouseDownText(information.innerHTML);
                    break;
                case "臺中國家歌劇院":
                    information.innerHTML = "&emsp;&emsp;臺中國家歌劇院，位於臺中市西屯區。為日本建築師伊東豊雄設計，以「美聲涵洞」為概念，採用曲牆、孔洞與管狀等設計，建構出沒有樑柱支撐，且無一處為90度牆面的新型態建築。";
                    mouseDownText(information.innerHTML);
                    break;

            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>

</html>