<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../../CSS/map/taichung.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
  <title>Document</title>
</head>
<body class="style" background="../../image/map/kraftPaper5.png">
  <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">台中</td>
        </tr>
        <tr>
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Miaoli_origin.png" onclick="featuresText('台中')" />台中</td>
            <td id="information" rowspan="3" valign="top" style="font-size:x-large;">
                &emsp;&emsp;臺中位於臺灣西半部的樞紐位置，四季氣候宜人。日治時期，積極興建鐵路、開通公路及海港運輸，讓臺中遂躍身為中臺灣政治、經濟、交通、文化的重鎮。臺中市對古蹟的保存不遺餘力，完整保留了日治時期棋盤式街道、具有兩百年歷史的樂成宮、雕工華麗且香火鼎盛的城隍廟，以及三殿式格局的萬和宮、古蹟-張廖家廟，以及迄今同樣已有兩百多年歷史的大甲鎮瀾宮，在在都讓人發思古之幽情。
            </td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Taichung_farm.png" onclick="featuresText('武陵農場')" />武陵農場</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Taichung_national_theater.png" onclick="featuresText('臺中國家歌劇院')" />臺中國家歌劇院</td>
        </tr>

    </table>
  <div class="map">
        <img class="terrain" src="../../image/map/Taichung1.png" />
        <div class="level1">
            <img class="level" src="../../image/icon/suncake_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=1&counties=miaoli';mouseDownText(1);" />
            <img class="level_text" src="../../image/numbers/1.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=1&counties=miaoli';mouseDownText(1);" />
        </div>
        <div class="level2"><img class="level" src="../../image/icon/suncake_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=2&counties=miaoli';mouseDownText(2);" />
            <img class="level_text" src="../../image/numbers/2.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=2&counties=miaoli';mouseDownText(2);" />
            </div>
        <div class="level3">
            <img class="level" src="../../image/icon/suncake_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=3&counties=miaoli';mouseDownText(3);" />
            <img class="level_text" src="../../image/numbers/3.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=3&counties=miaoli';mouseDownText(3);" />
        </div>
        <div class="level4"> <img class="level" src="../../image/icon/suncake_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=4&counties=miaoli';mouseDownText(4);" />
            <img class="level_text" src="../../image/numbers/4.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=4&counties=miaoli';mouseDownText(4);" />
            </div>
        <div class="level5"> <img class="level" src="../../image/icon/suncake_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(5);" />
            <img class="level_text" src="../../image/numbers/5.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(5);" />
            </div>

        <div class="level6"> <img class="level" src="../../image/icon/suncake_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(6);" />
            <img class="level_text" src="../../image/numbers/6.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(6);" />
            </div>
            
        <div class="level7"> <img class="level" src="../../image/icon/suncake_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(7);" />
            <img class="level_text" src="../../image/numbers/7.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(7);" />
            </div>
            
            
        <div class="level8"> <img class="level" src="../../image/icon/suncake_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(8);" />
            <img class="level_text" src="../../image/numbers/8.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(8);" />
            </div>

        <div class="level9"> <img class="level" src="../../image/icon/suncake_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(9);" />
            <img class="level_text" src="../../image/numbers/9.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(9);" />
            </div>
        <div class="level10">
            <img class="level" src="../../image/icon/devil_lock.png"
                onclick="alert('需要先完成縣市所有關卡！')" />

        </div>

        、
    </div>
    <img class="taiwan" src="../../image/character/NowInNantou.png"
        onclick="location.href='../../view/level/taiwan.html'" />
    <div>
        <a href="../../test1.html" class="sosfloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            switch (category) {
                case "台中":
                    information.innerHTML = "&emsp;&emsp;臺中位於臺灣西半部的樞紐位置，四季氣候宜人。日治時期，積極興建鐵路、開通公路及海港運輸，讓臺中遂躍身為中臺灣政治、經濟、交通、文化的重鎮。臺中市對古蹟的保存不遺餘力，完整保留了日治時期棋盤式街道、具有兩百年歷史的樂成宮、雕工華麗且香火鼎盛的城隍廟，以及三殿式格局的萬和宮、古蹟-張廖家廟，以及迄今同樣已有兩百多年歷史的大甲鎮瀾宮，在在都讓人發思古之幽情。";
                    mouseDownText(information.innerHTML);
                    break;
                case "武陵農場":
                    information.innerHTML = `&emsp;&emsp;武陵農場位於臺中市北橫宜蘭支線（台7甲線）53公里處，民國52（西元1963）年將原屬榮民農墾處的武陵墾區正式改名為武陵農場，農場內阡陌縱橫，種植高山蔬果與茶葉（青心烏龍），四季風情不同；春天綻放梅花、櫻花、桃花、梨花、蘋果花與杜鵑花，夏天與秋天則是水蜜桃、梨子與蘋果的採收期，到了冬天，幸運的話，可嚐到雪的滋味。`;
                    mouseDownText(information.innerHTML);
                    break;
                case "臺中國家歌劇院":
                    information.innerHTML = "&emsp;&emsp;位於臺中市西屯區七期重劃區的臺中國家歌劇院，為日本建築師伊東豊雄設計，以「美聲涵洞」為概念，採用曲牆、孔洞與管狀等設計，建構出沒有樑柱支撐，且無一處為90度牆面的新型態建築。";
                    mouseDownText(information.innerHTML);
                    break;

            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>
</html>