<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/yilan.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">

</head>
<style>
    .map_location{
        width: 16px;
        position: absolute;
        top: 27px;
        z-index: 15;
        left: 70px;
    }
</style>
<body class="style" background="../../image/map/kraftPaper5.png">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">宜蘭地區</td>
        </tr>
        <tr>
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Yilan_origin.png" onclick="featuresText('宜蘭地區')" />宜蘭地區</td>
            <td id="information" rowspan="4" valign="top" style="font-size:x-large;">
                &emsp;&emsp;宜蘭地區，位處臺灣東北角，囿於三面背山、一面向海特殊地形，孕育獨特文化與人情味，呈現以三生共構的世外桃源。
            </td>
        </tr>
        <tr>
            <td><img src="../../image/icon/Sanxing_green_onion.png" onclick="featuresText('三星蔥')" />三星蔥</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Yilan_bubble_tea_museum.png" onclick="featuresText('奇麗灣珍奶文化館')" />奇麗灣珍奶文化館</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Yilan_hot_spring.png" onclick="featuresText('礁溪溫泉')" />礁溪溫泉</td>
        </tr>


    </table>
    <div class="map">
        <img id="county" class="terrain" src="../../image/map/Yilan1.png" />
        <div class="level1">
            <img class="level" src="../../image/icon/Sanxing_green_onion_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=w1&counties=yilan';mouseDownText('w');" />
            <img class="level_text" src="../../image/english_alphabet/W.png" onclick="location.href='../../view/game/drawzhuyin.html?id=w1&counties=yilan';mouseDownText('w');" />
        </div>
        <div class="level2">
            <img class="level" src="../../image/icon/Sanxing_green_onion_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=x1&counties=yilan';mouseDownText('x');" />
            <img class="level_text" src="../../image/english_alphabet/X.png" onclick="location.href='../../view/game/drawzhuyin.html?id=x1&counties=yilan';mouseDownText('x');" />
        </div>
        <div class="level3">
            <img class="level" src="../../image/icon/Sanxing_green_onion_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=y1&counties=yilan';mouseDownText('y');" />
            <img class="level_text" src="../../image/english_alphabet/Y.png" onclick="location.href='../../view/game/drawzhuyin.html?id=y1&counties=yilan';mouseDownText('y');" />
        </div>
        <div class="level4">
            <img class="level" src="../../image/icon/Sanxing_green_onion_dark.png" onclick="location.href='../../view/game/drawzhuyin.html?id=z1&counties=yilan';mouseDownText('z');" />
            <img class="level_text" src="../../image/english_alphabet/Z.png" onclick="location.href='../../view/game/drawzhuyin.html?id=z1&counties=yilan';mouseDownText('z');" />
        </div>

        <img class="level5" src="../../image/icon/devil_lock.png" onclick="alert('需要先完成縣市所有關卡！')" />

    </div>
    <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
    <img class="map_location" src="../../image/map/map.png" />
    <div>
        <a href="../../test1.html" class="sosfloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
        </a>
    </div>
    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            switch (category) {
                case "宜蘭地區":
                    information.innerHTML = "&emsp;&emsp;宜蘭地區，位處臺灣東北角，囿於三面背山、一面向海特殊地形，孕育獨特文化與人情味，呈現以三生共構的世外桃源。";
                    mouseDownText(information.innerHTML);
                    break;
                case "三星蔥":
                    information.innerHTML = "&emsp;&emsp;三星蔥，也稱青蔥。蔥白長、質地細緻、蔥味香濃，名列『三星四寶』之一，品質更是全台之冠。";
                    mouseDownText(information.innerHTML);
                    break;
                case "奇麗灣珍奶文化館":
                    information.innerHTML = "&emsp;&emsp;奇麗灣珍奶文化館，位於宜蘭縣蘇澳鎮。是一間以台灣珍珠奶茶為主題的觀光工廠，並且首創「燈泡珍珠奶茶」。";
                    mouseDownText(information.innerHTML);
                    break;
                case "礁溪溫泉":
                    information.innerHTML = "&emsp;&emsp;礁溪溫泉，位於宜蘭縣礁溪鄉。由於地殼有裂隙，地下水滲入後受地熱影響而升高溫度，為天然溫暖的泉水，也稱為「湯泉」、「溫湯」。";
                    mouseDownText(information.innerHTML);
                    break;

            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>

</html>