<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/map/yilan.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
    <script src="./northRegion_JS/north.js"></script>
    <script src="../../model/util/checkAllLevelIsPass.js"></script>
</head>
<style>

</style>

<body style="width: 100%; height: 100%; margin: auto;" onload="checkLevelIsPass('Sanxing_green_onion','yilan')">
    <audio id="northAudio" src=""></audio>

    <div class="bottom_title">
        <h1>宜蘭地區</h1>
    </div>

    <div class="Map">
        <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
        <img class="map_location" src="../../image/map/map.png" />
    </div>

    <div class="informationBox" style="overflow: auto;">
        <h2>介紹</h2>
        <img class="inforbtn" style="margin-top: 0;" src="../../image/map/Yilan_origin.png" onclick="playNorth(this);changeInfor(0);" alt="yilanRegion" />
        <br>
        <!--  -->
        <img class="inforbtn" src="../../image/icon/Sanxing_green_onion.png" onclick="playNorth(this);changeInfor(1)" alt="yilan_f1" />
        <br>
        <img class="inforbtn" src="../../image/map_icon/Yilan_bubble_tea_museum.png" onclick="playNorth(this);changeInfor(2);" alt="yilan_f2" />
        <br>
        <img class="inforbtn" src="../../image/map_icon/Yilan_hot_spring.png" onclick="playNorth(this);changeInfor(3);" alt="yilan_f3" />
        <br>
    </div>

    <div class="mainContent">
    <img class="city" src="../../image/map/Yilan1.png" />
        <div class="level1">
            <img class="level_basic" alt="w" src="../../image/icon/Sanxing_green_onion_dark.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=w1&counties=yilan',800);playABC(this);" />
            <img class="level_text" alt="w" src="../../image/english_alphabet/W.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=w1&counties=yilan',800);playABC(this);" />
        </div>
        <div class="level2">
            <img class="level_basic" alt="x" src="../../image/icon/Sanxing_green_onion_dark.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=x1&counties=yilan',800);playABC(this);" />
            <img class="level_text" alt="x" src="../../image/english_alphabet/X.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=x1&counties=yilan',800);playABC(this);" />
        </div>
        <div class="level3">
            <img class="level_basic" alt="y" src="../../image/icon/Sanxing_green_onion.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=y1&counties=yilan',800);playABC(this);" />
            <img class="level_text" alt="y" src="../../image/english_alphabet/Y.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=y1&counties=yilan',800);playABC(this);" />
        </div>
        <div class="level4">
            <img class="level_basic" alt="z" src="../../image/icon/Sanxing_green_onion.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=z1&counties=yilan',800);playABC(this);" />
            <img class="level_text" alt="z" src="../../image/english_alphabet/Z.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=z1&counties=yilan',800);playABC(this);" />
        </div>
        <div class="level5">
            <img class="level" width="45px" alt="yilan" src="../../image/icon/devil_lock.png" onclick="alert('需要先完成縣市所有關卡！')" />
        </div>





    </div>

    <div class="fullContent">
        <h1 onclick="document.querySelector('.fullContent').style.display='none'">X</h1>
        <div class="introduce">
            <div style="height: 60%;width: 100%; text-align: center;">
                <img id="picture" style='height: 90%; border-radius: 15px; margin-top: 2%' src='https://www.taiwan.net.tw/pic.ashx?qp=1/big_scenic_spots/pic_C100_342_7.jpg&sizetype=2' />
                <img id="speaker" style='position: absolute; top: 20px; right: 20px;  height: 15%' src="../../icons/speaker.png" onclick="playCentral(this)" alt="miaoliRegion" />
            </div>
            <div style="height: 40%;width: 100%;">
                <h2 id="intro" style='margin: 0 3% 0 3%;'>
                    桃園地區擁有多元的文化，加上北橫豐富的山水景觀，具有「千塘之鄉」的美名，成就桃園為觀光大市。
                </h2>
            </div>
        </div>
    </div>

    <div class="btnDiv">
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>

        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script src="./centralRegion_JS/levelIsPass.js"></script>
    <script src="northRegion_JS/yilan.js"></script>
    <!-- <script src="../../model/util/voiceOut.js"></script> -->

</body>

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowUp學習趣</title>
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/map/yilan.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
    <script src="./northRegion_JS/north.js"></script>
    <script src="../../model/util/checkAllLevelIsPass.js"></script>
</head>
<style>
    .map_location {
        width: 16px;
        position: absolute;
        top: 27px;
        z-index: 15;
        left: 70px;
    }
</style>

<body class="style" background="../../image/map/kraftPaper5.png" onload="checkLevelIsPass('Sanxing_green_onion','yilan')">
    <audio id="northAudio" src=""></audio>
    <table class="features" style="margin-top: 30px; margin-left: 86px;">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">宜蘭地區</td>
        </tr>
        <tr style="display: none;">
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Yilan_origin.png" onclick="featuresText('宜蘭地區');playNorth(this);" alt="yilanRegion" /><a style="display: block;">宜蘭地區</a></td>
            <td id="information" rowspan="4" valign="top" style="font-size:x-large;">
                <h4>
                    宜蘭地區囿於三面背山、一面向海特殊地形，孕育獨特文化與人情味，呈現以三生共構的世外桃源。
                </h4>
            </td>
        </tr>
        <tr>
            <td><img src="../../image/icon/Sanxing_green_onion.png" onclick="featuresText('三星蔥');playNorth(this);" alt="yilan_f1" /><a style="display: block;">三星蔥</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Yilan_bubble_tea_museum.png" onclick="featuresText('奇麗灣珍奶文化館');playNorth(this);" alt="yilan_f2" /><a style="display: block;">奇麗灣珍奶文化館</a></td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Yilan_hot_spring.png" onclick="featuresText('礁溪溫泉');playNorth(this);" alt="yilan_f3" /><a style="display: block;">礁溪溫泉</a></td>
        </tr>


    </table>
    <div class="map">
        <img id="county" class="terrain" src="../../image/map/Yilan1.png" />
        <div class="level1">
            <img class="level" alt="w" src="../../image/icon/Sanxing_green_onion_dark.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=w1&counties=yilan',800);playABC(this);" />
            <img class="level_text" alt="w" src="../../image/english_alphabet/W.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=w1&counties=yilan',800);playABC(this);" />
        </div>
        <div class="level2">
            <img class="level" alt="x" src="../../image/icon/Sanxing_green_onion_dark.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=x1&counties=yilan',800);playABC(this);" />
            <img class="level_text" alt="x" src="../../image/english_alphabet/X.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=x1&counties=yilan',800);playABC(this);" />
        </div>
        <div class="level3">
            <img class="level" alt="y" src="../../image/icon/Sanxing_green_onion.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=y1&counties=yilan',800);playABC(this);" />
            <img class="level_text" alt="y" src="../../image/english_alphabet/Y.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=y1&counties=yilan',800);playABC(this);" />
        </div>
        <div class="level4">
            <img class="level" alt="z" src="../../image/icon/Sanxing_green_onion.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=z1&counties=yilan',800);playABC(this);" />
            <img class="level_text" alt="z" src="../../image/english_alphabet/Z.png" onclick="setTimeout(()=>location.href='../../view/game/drawzhuyin.html?id=z1&counties=yilan',800);playABC(this);" />
        </div>
        <div class="level5">
            <img class="level" alt="yilan" src="../../image/icon/devil_lock.png" onclick="alert('需要先完成縣市所有關卡！')" />
        </div>


    </div>
    <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
    <img class="map_location" src="../../image/map/map.png" />

    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            let info = document.createElement("h4");
            info.style = 'margin: auto;';

            switch (category) {
                case "宜蘭地區":
                    information.innerHTML = "";
                    info.innerHTML = "宜蘭地區囿於三面背山、一面向海特殊地形，孕育獨特文化與人情味，呈現以三生共構的世外桃源。";
                    information.append(info)
                    break;
                case "三星蔥":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src = 'https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/1901-110-on-the-road-02-1550061057.jpg?crop=1xw:1xh;center,top&resize=980:*'/> "
                    info.innerHTML = "三星蔥白又長、質地細緻、蔥味香濃，名列『三星四寶』之一，品質更是全台之冠。";
                    information.append(info)
                    break;
                case "奇麗灣珍奶文化館":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src = 'http://www.sunspring-resort.com.tw/image/tour/1000x500/%E5%A5%87%E9%BA%97%E7%81%A3%E7%8F%8D%E5%A5%B6%E6%96%87%E5%8C%96%E9%A4%A8.jpg'/> "
                    info.innerHTML = "奇麗灣珍奶文化館是一間以台灣珍珠奶茶為主題的觀光工廠，並且首創「燈泡珍珠奶茶」。";
                    information.append(info)
                    break;
                case "礁溪溫泉":
                    information.innerHTML =
                        " <img style = 'width:100%; border-radius: 15px;'  src = 'https://content.shopback.com/tw/wp-content/uploads/2018/12/11173746/hotspring-park-1-e1544541973517.jpg'/> "
                    info.innerHTML = "由於地殼有裂隙，地下水滲入後受地熱影響而升高溫度，為天然溫暖的泉水，也稱為「湯泉」、「溫湯」。";
                    information.append(info)
                    break;

            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
    <script src="../level/centralRegion_JS/levelIsPass.js"></script>

</body>

</html> -->