<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../../CSS/map/yunlin.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
  <title>Document</title>
</head>
<body class="style" background="../../image/map/kraftPaper5.png">
  <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">雲林</td>
        </tr>
        <tr>
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Yunlin_origin.png" onclick="featuresText('雲林')" />雲林</td>
            <td id="information" rowspan="3" valign="top" style="font-size:x-large;">
                &emsp;&emsp;雲林位在臺灣西方的中南部，在嘉南平原最北端。東邊是南投縣，西臨臺灣海峽，南邊隔著北港溪與嘉義縣為鄰，北邊沿著濁水溪和彰化縣接壤。雲林縣有二十個鄉鎮市，除斗六市、古坑鄉及林內鄉靠近山地，地勢較高外，其餘十七鄉鎮均屬平原地區。
            </td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Yunlin_amusement_park.png" onclick="featuresText('劍湖山世界主題樂園')" />劍湖山世界主題樂園</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Yunlin_temple.png" onclick="featuresText('北港朝天宮')" />北港朝天宮</td>
        </tr>
    </table>
  <div class="map">
        <img class="terrain" src="../../image/map/Yunlin1.png" />
        <div class="level1">
            <img class="level" src="../../image/icon/soy_sauce_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=1&counties=miaoli';mouseDownText(1);" />
            <img class="level_text" src="../../image/numbers/1.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=1&counties=miaoli';mouseDownText(1);" />
        </div>
        <div class="level2"><img class="level" src="../../image/icon/soy_sauce_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=2&counties=miaoli';mouseDownText(2);" />
            <img class="level_text" src="../../image/numbers/2.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=2&counties=miaoli';mouseDownText(2);" />
            </div>
        <div class="level3">
            <img class="level" src="../../image/icon/soy_sauce_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=3&counties=miaoli';mouseDownText(3);" />
            <img class="level_text" src="../../image/numbers/3.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=3&counties=miaoli';mouseDownText(3);" />
        </div>
        <div class="level4"> <img class="level" src="../../image/icon/soy_sauce_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=4&counties=miaoli';mouseDownText(4);" />
            <img class="level_text" src="../../image/numbers/4.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=4&counties=miaoli';mouseDownText(4);" />
            </div>
        <div class="level5"> <img class="level" src="../../image/icon/soy_sauce_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(5);" />
            <img class="level_text" src="../../image/numbers/5.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(5);" />
            </div>

        <div class="level6"> <img class="level" src="../../image/icon/soy_sauce_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(6);" />
            <img class="level_text" src="../../image/numbers/6.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(6);" />
            </div>
            
        <div class="level7"> <img class="level" src="../../image/icon/soy_sauce_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(7);" />
            <img class="level_text" src="../../image/numbers/7.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(7);" />
            </div>
            
            
        <div class="level8"> <img class="level" src="../../image/icon/soy_sauce_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(8);" />
            <img class="level_text" src="../../image/numbers/8.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(8);" />
            </div>

        <div class="level9"> <img class="level" src="../../image/icon/soy_sauce_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(9);" />
            <img class="level_text" src="../../image/numbers/9.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(9);" />
            </div>
        <div class="level10">
            <img class="level" src="../../image/icon/devil_lock.png"
                onclick="alert('需要先完成縣市所有關卡！')" />

        </div>

        、
    </div>
    <img class="taiwan" src="../../image/character/NowInNantou.png"
        onclick="location.href='../../view/level/taiwan.html'" />
    <div>
        <a href="../../test1.html" class="sosfloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            switch (category) {
                case "雲林":
                    information.innerHTML = "&emsp;&emsp;雲林位在臺灣西方的中南部，在嘉南平原最北端。東邊是南投縣，西臨臺灣海峽，南邊隔著北港溪與嘉義縣為鄰，北邊沿著濁水溪和彰化縣接壤。雲林縣有二十個鄉鎮市，除斗六市、古坑鄉及林內鄉靠近山地，地勢較高外，其餘十七鄉鎮均屬平原地區。";
                    mouseDownText(information.innerHTML);
                    break;
                case "劍湖山世界主題樂園":
                    information.innerHTML = `&emsp;&emsp;劍湖山世界是臺灣最具人氣的主題樂園之一，有著最新鮮的玩樂設施，急速的快感、躍動的活力，讓參與其中的遊客不由得大聲高喊！有膽量的朋友不妨嘗試亞洲最長、最飆的衝瘋飛車，或是27層樓高的擎天飛梭……，挑戰極限勇氣。`;
                    mouseDownText(information.innerHTML);
                    break;
                case "北港朝天宮":
                    information.innerHTML = "&emsp;&emsp;北港朝天宮舊稱天妃廟或天后宮，為了紀念分靈自湄洲祖廟──朝天閣，才改名為朝天宮。北港朝天宮終年香火鼎盛，每年最熱鬧的二次祭典分別是農曆正月15日的元宵節及3月23日媽祖誕辰，元宵節是以花燈比賽為主，媽祖誕辰期間，各地信徒及分靈廟宇陸續回北港進香，規模十分盛大，而繞境遊行，更是鑼鼓喧天，萬人空巷，為媽祖香期最高潮。讓整個北港鎮都籠罩在濃郁的宗教氣息中。";
                    mouseDownText(information.innerHTML);
                    break;

            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>
</html>