<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../../CSS/map/yunlin.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
  <title>Document</title>
</head>
<body class="style" background="../../image/map/kraftPaper5.png">
  <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">雲林</td>
        </tr>
        <tr>
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Yunlin_origin.png" onclick="featuresText('雲林')" />雲林</td>
            <td id="information" rowspan="4" valign="top" style="font-size:x-large;">
                &emsp;&emsp;雲林位在臺灣西方的中南部，在嘉南平原最北端。東邊是南投縣，西臨臺灣海峽，南邊隔著北港溪與嘉義縣為鄰，北邊沿著濁水溪和彰化縣接壤。雲林縣有二十個鄉鎮市，除斗六市、古坑鄉及林內鄉靠近山地，地勢較高外，其餘十七鄉鎮均屬平原地區。
            </td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Yunlin_amusement_park.png" onclick="featuresText('劍湖山世界主題樂園')" />劍湖山世界主題樂園</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Yunlin_temple.png" onclick="featuresText('北港朝天宮')" />北港朝天宮</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Yunlin_mushroom_farm.png" onclick="featuresText('金億陽蘑菇農場')" />金億陽蘑菇農場</td>
        </tr>
    </table>
  <div class="map">
        <img class="terrain" src="../../image/map/Yunlin1.png" />
        <div class="level1">
            <img class="level" src="../../image/icon/soy_sauce_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=1&counties=miaoli';mouseDownText(ㄋ);" />
            <img class="level_text" src="../../image/chinese_alphabet/n.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=1&counties=miaoli';mouseDownText(ㄋ);" />
        </div>
        <div class="level2"><img class="level" src="../../image/icon/soy_sauce_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=2&counties=miaoli';mouseDownText(ㄏ);" />
            <img class="level_text" src="../../image/chinese_alphabet/h.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=2&counties=miaoli';mouseDownText(ㄏ);" />
            </div>
        <div class="level3">
            <img class="level" src="../../image/icon/soy_sauce_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=3&counties=miaoli';mouseDownText(ㄐ);" />
            <img class="level_text" src="../../image/chinese_alphabet/j.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=3&counties=miaoli';mouseDownText(ㄐ);" />
        </div>
        
        <div class="level4"> <img class="level" src="../../image/icon/soy_sauce_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(ㄑ);" />
            <img class="level_text" src="../../image/chinese_alphabet/q.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(ㄑ);" />
            </div>

        <div class="level5"> <img class="level" src="../../image/icon/soy_sauce_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(ㄒ);" />
            <img class="level_text" src="../../image/chinese_alphabet/x.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(ㄒ);" />
            </div>
            
            
        <div class="level6"> <img class="level" src="../../image/icon/soy_sauce_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(ㄓ);" />
            <img class="level_text" src="../../image/chinese_alphabet/zh.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(ㄓ);" />
            </div>

        <div class="level7"> <img class="level" src="../../image/icon/soy_sauce_dark.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(ㄔ);" />
            <img class="level_text" src="../../image/chinese_alphabet/ch.png"
                onclick="location.href='../../view/game/drawzhuyin.html?id=5&counties=miaoli';mouseDownText(ㄔ);" />
            </div>
        <div class="level8">
            <img class="level" src="../../image/icon/devil_lock.png"
                onclick="alert('需要先完成縣市所有關卡！')" />

        </div>

        、
    </div>
    <img class="taiwan" src="../../image/character/NowInNantou.png"
        onclick="location.href='../../view/level/taiwan.html'" />
    <div>
        <a href="../../test1.html" class="sosfloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/help.png" width="70%"></i>
        </a>
    </div>
    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            switch (category) {
                case "雲林":
                    information.innerHTML = "&emsp;&emsp;雲林位在臺灣西方的中南部，在嘉南平原最北端。東邊是南投縣，西臨臺灣海峽，南邊隔著北港溪與嘉義縣為鄰，北邊沿著濁水溪和彰化縣接壤。雲林縣有二十個鄉鎮市，除斗六市、古坑鄉及林內鄉靠近山地，地勢較高外，其餘十七鄉鎮均屬平原地區。";
                    mouseDownText(information.innerHTML);
                    break;
                case "劍湖山世界主題樂園":
                    information.innerHTML = `&emsp;&emsp;劍湖山世界是臺灣最具人氣的主題樂園之一，有著最新鮮的玩樂設施，急速的快感、躍動的活力，讓參與其中的遊客不由得大聲高喊！有膽量的朋友不妨嘗試亞洲最長、最飆的衝瘋飛車，或是27層樓高的擎天飛梭……，挑戰極限勇氣。`;
                    mouseDownText(information.innerHTML);
                    break;
                case "北港朝天宮":
                    information.innerHTML = "&emsp;&emsp;北港朝天宮舊稱天妃廟或天后宮，為了紀念分靈自湄洲祖廟──朝天閣，才改名為朝天宮。北港朝天宮終年香火鼎盛，每年最熱鬧的二次祭典分別是農曆正月15日的元宵節及3月23日媽祖誕辰，元宵節是以花燈比賽為主，媽祖誕辰期間，各地信徒及分靈廟宇陸續回北港進香，規模十分盛大，而繞境遊行，更是鑼鼓喧天，萬人空巷，為媽祖香期最高潮。讓整個北港鎮都籠罩在濃郁的宗教氣息中。";
                    mouseDownText(information.innerHTML);
                    break;
                case "金億陽蘑菇農場":
                    information.innerHTML = "&emsp;&emsp;位於雲林縣虎尾鎮,農場有2000捆的稻草捲,每綑稻草重達350斤，堆積成金字塔型的稻草山,着起來非常壯觀,而這些稻草原本是農民準備要放火燒掉的,農場主人當初只是為了容積率考量把它收集起來當堆肥及栽種洋菇的素材,不但減少空氣污染也是資源再利用。";
                    mouseDownText(information.innerHTML);
                    break;
            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>
</html>