<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../CSS/map/yunlin.css">
    <link rel="stylesheet" href="../../CSS/map/counties.css">
    <link rel="stylesheet" href="../../CSS/interface.css">
    <link rel="stylesheet" href="../../CSS/icon.css">
    <title>Document</title>
</head>

<style>
    .features {
        background-color: aliceblue;
        width: 320px;
        height: 400px;
        margin-top: 29px;
        margin-left: 100px;
    }

    .map_location{
        width: 16px;
        position: absolute;
        top: 67px;
        z-index: 15;
        left: 14px;
    }
</style>

<body class="style" background="../../image/map/kraftPaper5.png">
    <table class="features">
        <tr>
            <td colspan="2" style="font-size: 40px;text-align: center;">雲林地區</td>
        </tr>
        <tr>
            <td>特色</td>
            <td>資訊介紹</td>
        </tr>
        <tr>
            <td><img src="../../image/map/Yunlin_origin.png" onclick="featuresText('雲林地區')" />雲林地區</td>
            <td id="information" rowspan="5" valign="top" style="font-size:x-large;">
                &emsp;&emsp;雲林地區，位在臺灣西方的中南部，大部縣域位處臺灣西部的嘉南平原上，地形平坦，氣候溫和。由於早期中央政府的重北輕南政策，時至今日，雲林帶給人們的印象通常除了「臺灣的糧倉」之外，就是俗稱為六輕的第六套輕油裂解廠。
            </td>
        </tr>
        <tr>
            <td><img src="../../image/icon/soy_sauce.png" onclick="featuresText('西螺醬油')" />西螺醬油</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Yunlin_amusement_park.png" onclick="featuresText('劍湖山世界主題樂園')" />劍湖山世界主題樂園</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Yunlin_temple.png" onclick="featuresText('北港朝天宮')" />北港朝天宮</td>
        </tr>
        <tr>
            <td><img src="../../image/map_icon/Yunlin_mushroom_farm.png" onclick="featuresText('金億陽蘑菇農場')" />金億陽蘑菇農場</td>
        </tr>
    </table>
    <div class="map">
        <img class="terrain" src="../../image/map/Yunlin1.png" />
        <div class="level1">
            <img class="level" src="../../image/icon/soy_sauce.png" onclick="location.href='../../view/game/drawzhuyin.html?id=k&counties=yunlin';mouseDownText(ㄎ);" />
            <img class="level_text" src="../../image/chinese_alphabet/k.png" onclick="location.href='../../view/game/drawzhuyin.html?id=k&counties=yunlin';mouseDownText(ㄎ);" />
        </div>
        <div class="level2"><img class="level" src="../../image/icon/soy_sauce.png" onclick="location.href='../../view/game/drawzhuyin.html?id=h&counties=yunlin';mouseDownText(ㄏ);" />
            <img class="level_text" src="../../image/chinese_alphabet/h.png" onclick="location.href='../../view/game/drawzhuyin.html?id=h&counties=yunlin';mouseDownText(ㄏ);" />
        </div>
        <div class="level3">
            <img class="level" src="../../image/icon/soy_sauce.png" onclick="location.href='../../view/game/drawzhuyin.html?id=j&counties=yunlin';mouseDownText(ㄐ);" />
            <img class="level_text" src="../../image/chinese_alphabet/j.png" onclick="location.href='../../view/game/drawzhuyin.html?id=j&counties=yunlin';mouseDownText(ㄐ);" />
        </div>

        <div class="level4"> <img class="level" src="../../image/icon/soy_sauce.png" onclick="location.href='../../view/game/drawzhuyin.html?id=q&counties=yunlin';mouseDownText(ㄑ);" />
            <img class="level_text" src="../../image/chinese_alphabet/q.png" onclick="location.href='../../view/game/drawzhuyin.html?id=q&counties=yunlin';mouseDownText(ㄑ);" />
        </div>

        <div class="level5"> <img class="level" src="../../image/icon/soy_sauce.png" onclick="location.href='../../view/game/drawzhuyin.html?id=x&counties=yunlin';mouseDownText(ㄒ);" />
            <img class="level_text" src="../../image/chinese_alphabet/x.png" onclick="location.href='../../view/game/drawzhuyin.html?id=x&counties=yunlin';mouseDownText(ㄒ);" />
        </div>


        <div class="level6"> <img class="level" src="../../image/icon/soy_sauce.png" onclick="location.href='../../view/game/drawzhuyin.html?id=zhi&counties=yunlin';mouseDownText(ㄓ);" />
            <img class="level_text" src="../../image/chinese_alphabet/zh.png" onclick="location.href='../../view/game/drawzhuyin.html?id=zhi&counties=yunlin';mouseDownText(ㄓ);" />
        </div>

        <div class="level7"> <img class="level" src="../../image/icon/soy_sauce.png" onclick="location.href='../../view/game/drawzhuyin.html?id=chi&counties=yunlin';mouseDownText(ㄔ);" />
            <img class="level_text" src="../../image/chinese_alphabet/ch.png" onclick="location.href='../../view/game/drawzhuyin.html?id=chi&counties=yunlin';mouseDownText(ㄔ);" />
        </div>
        <div class="level8">
            <img class="level" src="../../image/icon/devil_lock.png" onclick="alert('需要先完成縣市所有關卡！')" />

        </div>

        、
    </div>
    <img class="taiwan" src="../../image/character/Taiwn_small.png" onclick="location.href='../../view/level/taiwan.html'" />
    <img class="map_location" src="../../image/map/map.png" />

    <div>
        <a onclick="history.back()" class="returnfloat" id="menu-share">
            <i class="fab fa-share return-float"><img src="../../photo/return.png"></i>
        </a>
    </div>
    <div>
        <a href="../../game_home.html" class="homefloat" id="menu-share">
            <i class="fab fa-share my-float"><img src="../../photo/gobackhome.png" width="70%"></i>
        </a>
    </div>
    <script>
        function featuresText(category) {
            const information = document.querySelector('#information')
            switch (category) {
                case "雲林地區":
                    information.innerHTML = "&emsp;&emsp;雲林地區，位在臺灣西方的中南部，大部縣域位處臺灣西部的嘉南平原上，地形平坦，氣候溫和。由於早期中央政府的重北輕南政策，時至今日，雲林帶給人們的印象通常除了「臺灣的糧倉」之外，就是俗稱為六輕的第六套輕油裂解廠。";
                    mouseDownText(information.innerHTML);
                    break;
                case "西螺醬油":
                    information.innerHTML = `&emsp;&emsp;西螺醬油，台灣雲林地區重要一級產業特產，因為水質、溫度和濕度的合宜，雲林西螺號稱臺灣的「醬油王國」。`;
                    mouseDownText(information.innerHTML);
                    break;
                case "劍湖山世界主題樂園":
                    information.innerHTML = `&emsp;&emsp;劍湖山世界，位於雲林縣古坑鄉。是臺灣最具人氣的主題樂園之一，有著最新鮮的玩樂設施，急速的快感、躍動的活力，綜合「休閒、遊樂、文化、科技」四大功能，讓參與其中的遊客不由得大聲高喊！`;
                    mouseDownText(information.innerHTML);
                    break;
                case "北港朝天宮":
                    information.innerHTML = "&emsp;&emsp;北港朝天宮，位在雲林縣北港鎮，俗稱北港媽祖廟。 北港朝天宮終年香火鼎盛，每年最熱鬧的二次祭典分別是農曆正月15日的元宵節及3月23日媽祖誕辰，讓整個北港鎮都籠罩在濃郁的宗教氣息中。";
                    mouseDownText(information.innerHTML);
                    break;
                case "金億陽蘑菇農場":
                    information.innerHTML = "&emsp;&emsp;金億陽蘑菇農場，位於雲林縣虎尾鎮。農場有2000捆的稻草捲,每綑稻草重達350斤，堆積成金字塔型的稻草山。";
                    mouseDownText(information.innerHTML);
                    break;
            }
        }
    </script>
    <script src="../../model/util/voiceOut.js"></script>
</body>

</html>