<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GrowUp學習趣</title>
    <link href="../../../CSS/collect.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="../../../CSS/ifram/collect_icon.css">

</head>

<body>
    <table>
        <tr>
            <td><img src="../../../image/icon/meat_rice.png" onclick="featuresText('嘉義火雞肉飯')" /><a style="display: block;">嘉義火<a style="display: block;">雞肉飯</a></a>
            </td>
        </tr>
        <tr>
            <td><img src="../../../image/map_icon/Chiayi_high_heels.png" onclick="featuresText('高跟鞋教堂')" /><a style="display: block;">高跟鞋<a style="display: block;"></a>教堂</a>
            </td>
        </tr>
        <tr>
            <td><img src="../../../image/map_icon/Chiayi_train.png" onclick="featuresText('阿里山森林鐵路')" /><a style="display: block;">阿里山<a style="display: block;">森林鐵路</a></a>
            </td>
        </tr>
        <tr>
            <td><img src="../../../image/map_icon/Chiayi_tropic_of_cancer.png" style="width: 45px;" onclick="featuresText('北回歸線')" /><a style="display: block;">北回歸線</a></td>
        </tr>

    </table>
</body>

</html>